<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 | 텀블벅 - 크리에이터를 위한 크라우드펀딩</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/main/header.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/customerCenter/notice.css">
</head>
<body>
    <!-- 헤더  -->
    <div>
        <header></header>
    
    
    <!-- 내용 -->
        <div id="notice" class="notice-container">
            <div class="notice-wrap wid common">
                <div class="notice-wrapper">
                    <div class="notice-title wid">
                        <span class="notice-text common">공지사항</span>
                    </div>
                </div>
    <!-- 리스트 -->     
                <div class="notice-list-container list-hei wid list-con notice-title">
                    <div class="notice-list-wrapper">
                        <ul class="list-ul">
                            <li class="list-li">
                                <a href="#">
                                    <span class="title-wrap">
                                        <span class="group">공지사항</span>
                                        <span class="title">[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, &lt;그사람들의일&gt; 멤버를 모집합니다. </span>
                                        <span class="list-date">2023-04-13</span>
                                    </span>
                                    <div class="list-img">
                                        <img src="https://tumblbug-assets.imgix.net/notices/cover_images/000/000/378/original/tbb_logo_1240_(1)_(1).png?w=620" alt="[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, <그사람들의일> 멤버를 모집합니다.">
                                    </div>
                                </a>
                            </li>
                            <li class="list-li">
                                <a href="#">
                                    <span class="title-wrap">
                                        <span class="group">공지사항</span>
                                        <span class="title">[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, &lt;그사람들의일&gt; 멤버를 모집합니다. </span>
                                        <span class="list-date">2023-04-13</span>
                                    </span>
                                    <div class="list-img">
                                        <img src="https://tumblbug-assets.imgix.net/notices/cover_images/000/000/378/original/tbb_logo_1240_(1)_(1).png?w=620" alt="[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, <그사람들의일> 멤버를 모집합니다.">
                                    </div>
                                </a>
                            </li>
                            <li class="list-li">
                                <a href="#">
                                    <span class="title-wrap">
                                        <span class="group">공지사항</span>
                                        <span class="title">[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, &lt;그사람들의일&gt; 멤버를 모집합니다. </span>
                                        <span class="list-date">2023-04-13</span>
                                    </span>
                                    <div class="list-img">
                                        <img src="https://tumblbug-assets.imgix.net/notices/cover_images/000/000/378/original/tbb_logo_1240_(1)_(1).png?w=620" alt="[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, <그사람들의일> 멤버를 모집합니다.">
                                    </div>
                                </a>
                            </li>
                            <li class="list-li">
                                <a href="#">
                                    <span class="title-wrap">
                                        <span class="group">공지사항</span>
                                        <span class="title">[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, &lt;그사람들의일&gt; 멤버를 모집합니다. </span>
                                        <span class="list-date">2023-04-13</span>
                                    </span>
                                    <div class="list-img">
                                        <img src="https://tumblbug-assets.imgix.net/notices/cover_images/000/000/378/original/tbb_logo_1240_(1)_(1).png?w=620" alt="[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, <그사람들의일> 멤버를 모집합니다.">
                                    </div>
                                </a>
                            </li>
                            <li class="list-li">
                                <a href="#">
                                    <span class="title-wrap">
                                        <span class="group">공지사항</span>
                                        <span class="title">[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, &lt;그사람들의일&gt; 멤버를 모집합니다. </span>
                                        <span class="list-date">2023-04-13</span>
                                    </span>
                                    <div class="list-img">
                                        <img src="https://tumblbug-assets.imgix.net/notices/cover_images/000/000/378/original/tbb_logo_1240_(1)_(1).png?w=620" alt="[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, <그사람들의일> 멤버를 모집합니다.">
                                    </div>
                                </a>
                            </li>
                            <li class="list-li">
                                <a href="#">
                                    <span class="title-wrap">
                                        <span class="group">공지사항</span>
                                        <span class="title">[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, &lt;그사람들의일&gt; 멤버를 모집합니다. </span>
                                        <span class="list-date">2023-04-13</span>
                                    </span>
                                    <div class="list-img">
                                        <img src="https://tumblbug-assets.imgix.net/notices/cover_images/000/000/378/original/tbb_logo_1240_(1)_(1).png?w=620" alt="[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, <그사람들의일> 멤버를 모집합니다.">
                                    </div>
                                </a>
                            </li>
                            <li class="list-li">
                                <a href="#">
                                    <span class="title-wrap">
                                        <span class="group">공지사항</span>
                                        <span class="title">[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, &lt;그사람들의일&gt; 멤버를 모집합니다. </span>
                                        <span class="list-date">2023-04-13</span>
                                    </span>
                                    <div class="list-img">
                                        <img src="https://tumblbug-assets.imgix.net/notices/cover_images/000/000/378/original/tbb_logo_1240_(1)_(1).png?w=620" alt="[텀블벅] 마감이 필요한 프리랜서 및 창작자를 위한 모임, <그사람들의일> 멤버를 모집합니다.">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</body>
<script>
/* 외부 html 파일 불러오기 */
const header = document.querySelector('header');

fetch('/src/main/resources/templates/main/header.html')
.then(res => res.text())
.then(data => header.innerHTML = data);
</script>    
</html>