@media (min-width: 1080px){
    .contents {
        width: 100%;
        max-width: 1080px;
        margin: 0px auto;
    }
}

@media (min-width: 1080px){
    .planContents {
        padding: 84px 0px 0px;
    }
}
@media only screen and (min-width: 1080px){
    .tabWrapper {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        min-height: calc(100vh - 298px);
        position: relative;
        padding: 0px 0px 98px;
        margin-top: -34px;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 1080px){
    .previewWrapper {
        width: 360px;
    }
}
@media only screen and (min-width: 1080px){
    .stickerWrapperStyle {
        padding: 40px 12px 24px;
    }
}
@media only screen and (min-width: 1080px){
    .previewTitleStyle {
        box-sizing: border-box;
    }
}
@media only screen and (min-width: 1080px){
    .kRZGqQ {
        display: block;
        width: 630px;
    }
}
@media only screen and (min-width: 1080px){
    .createItem {
        padding: 44px 48px;
        border: 1px solid rgb(240, 240, 240);
        border-radius: 4px;
        box-sizing: border-box;
    }
}
@media only screen and (min-width: 1080px){
    .cardInReward {
        height: auto;
    }
}
@media only screen and (min-width: 1080px){
    .cardInner {
        padding: 10px 16px;
    }
}
@media only screen and (min-width: 1080px){
    .selectable {
        padding: 0px;
    }
}
@media only screen and (min-width: 1080px){
    .cardInner {
        padding: 10px 16px;
    }
}
@media only screen and (min-width: 1080px){
    .selectable {
        padding: 0px;
    }
}
@media only screen and (min-width: 1080px){
    .errorMsg {
        margin: 8px 0px 0px;
    }
}
@media only screen and (min-width: 1080px){
    .innerInputWrapper {
        width: 146px;
        margin: 0px;
    }

}
@media only screen and (min-width: 1080px){
    .cardInner {
        padding: 10px 16px;
    }
}
@media only screen and (min-width: 1080px){
    .selectable {
        padding: 0px;
    }
}
@media only screen and (min-width: 1080px){
    .buttonWrap button:first-child {
        flex: 0 0 auto;
        width: 170px;
    }
}

@media only screen and (min-width: 1080px){
    .createModel {
        display: none;
    }
}
@media only screen and (min-width: 1080px){
    .multiOp li {
        margin: 0px 0px 22px;
    }
}
@media only screen and (min-width: 1080px){
    .itemTitle {
        margin: 0px 32px 0px 0px;
        flex: 1 1 0%;
    }
}

@media only screen and (min-width: 1080px){
    .cardInReward {
        height: auto;
    }
}
@media only screen and (min-width: 1080px){
    .cardInner {
        padding: 10px 16px;
    }
}
@media only screen and (min-width: 1080px){
    .layerWrapper {
        position: absolute;
        width: auto;
    }
}

@media only screen and (min-width: 1080px){
    .dimmedBackground {
        overflow: hidden auto;
    }
}


@media only screen and (min-width: 1080px){
    .posWrapper {
        min-width: 328px;
        position: absolute;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        background: transparent;
        max-width: 600px;
        max-height: 100vh;
        border-radius: 4px;
    }
}
@media only screen and (min-width: 1080px){
    .modelWrapper {
        padding: 24px 32px 40px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 16px 0px;
        border-radius: 4px;
    }
}
@media only screen and (min-width: 1080px){
    .modalHeader {
        display: flex;
        position: relative;
        padding: 0px;
        height: auto;
    }
}
@media only screen and (min-width: 1080px){
    .modalHeader .Modal__CloseButton-sc-1ul7s4n-4 {
        position: absolute;
        top: 50%;
        right: 0px;
        margin: -10px 0px 0px;
    }
}
@media only screen and (min-width: 1080px){
    .modalHashBackWrapper {
        max-height: 75vh;
        overflow: hidden auto;
    }
}
@media only screen and (min-width: 1080px){
    .removeTitle {
        margin: 0px 0px 16px;
    }
}
@media only screen and (min-width: 1080px){
    .modalDescription {
        width: 384px;
        margin: 0px 0px 33px;
    }
}
@media only screen and (min-width: 1080px){
    .removeTartget {
        margin: 0px 0px 24px;
    }
}







@media only screen and (min-width: 1080px){
    .displayStyle {
        display: block;
        width: 630px;
    }
}
.inputStyle {
    flex: 1 1 0%;
    border: 0px;
    text-align: left;
    padding: 0px;
    background: transparent;
}
@media only screen and (min-width: 1080px){
    .itemInfoWrap {
        width: auto;
        margin: 0px;
    }
}
@media only screen and (min-width: 1080px){
    
    .itemDescription {
        max-width: 300px;
        margin: 0px 0px 7px;
    }

}
