@media (min-width: 1080px){
    .lhcIOG {
        margin: 64px auto 0px;
    }
}
@media (min-width: 1080px){
    .iePPZZ {
        font-weight: 700;
        padding: 39px 0px 21px;
        margin: 0px auto;
        width: 1080px;
        font-size: 32px !important;
        line-height: 44px !important;
        font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    }
}
@media (min-width: 1080px){
    .iePPZZ {
        font-weight: 700;
        padding: 39px 0px 21px;
        margin: 0px auto;
        width: 1080px;
        font-size: 32px !important;
        line-height: 44px !important;
        font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    }
}
@media (min-width: 1080px){
    .cWslIP {
        width: 1080px;
        margin: 0px auto;
        padding: 0px;
    }
}
@media (min-width: 1080px){
    .cqTslV {
        margin: 0px 16px;
    }
}
@media (min-width: 1080px){
    .krGOIO {
        margin: 0px 16px;
    }
}
@media (min-width: 1080px){
    .qbVXa {
        width: 100%;
        max-width: 1080px;
        margin: 0px auto;
    }
}
@media (min-width: 1080px){
    .ghVmvY {
        padding: 84px 0px 0px;
    }
}
@media (min-width: 1080px){
    .fGfROL {
        display: flex;
        padding-bottom: 48px;
        margin-bottom: 56px;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}
@media (min-width: 1080px){
    .kwDByH {
        margin: 0px 0px 14px;
        width: 351px;
    }
}
@media (min-width: 1080px){
    .gjLASS {
        font-weight: 700;
        margin-bottom: 12px;
        font-size: 16px !important;
        line-height: 24px !important;
        font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    }
}
@media (min-width: 1080px){
    .etypUj {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 630px;
    }

}
@media (min-width: 1080px){
    .gXezwb {
        width: 50%;
    }
}
@media (min-width: 1080px){
    .etypUj .style__ProjectFormsHalf-sc-1mawbc1-9 {
        margin: 0px 8px;
    }
}
@media (min-width: 1080px){
    .fuJzEN {
        display: flex;
    }
}
@media (min-width: 1080px){
    .fuJzEN .title {
        width: 212px;
        flex-shrink: 0;
        font-weight: 700 !important;
    }
}
@media (min-width: 1080px){
    .fuJzEN .image {
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
}
@media (min-width: 1080px){
    .fuJzEN .image img {
        width: 100%;
    }
}
@media (min-width: 1080px){
    .gJNjvn {
        margin-top: 25px;
    }
}
@media (min-width: 1080px){
    .qbVXa {
        width: 100%;
        max-width: 1080px;
        margin: 0px auto;
    }
}




