<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>펀딩 목록</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/funding/funding-list.css">
    <link rel="stylesheet" href="/css/funding/funding-list-response.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>

<body>
    <!-- class : percentByRed의 width: 1~100% 빨간색바 조절 가능  -->
    <div id="view" class="view">
        <!-- header -->
        <header th:insert="~{main/header.html :: mainHeader}"></header>
        <div></div>
        <div class="contain">
            <div class="discover tbb">
                <div class="filterWrap ">
                    <div class="filterCont discoverCont">
                        <div class="filterLayout ">

                        </div>
                    </div>
                </div>
                <div class="contain-gc infinityContain listContain">
                    <div class="resultWrapper">
                        <div class="resultContain">
                            <span class="count">695</span>개의 프로젝트가 있습니다.
                        </div>
                        <div class="listWrapper">
                            <!-- 목록 -->
<!--                            <div class="listByinfinity">-->
<!--                                <div></div>-->
<!--                                <div class="project-card project-card">-->
<!--                                    <div></div>-->
<!--                                    <div class="CardOpx link-wrapper">-->
<!--                                        <div class="imgStyleBox">-->
<!--                                            <div class="image-wrapper">-->
<!--                                                <a href="">-->
<!--                                                    <img src="https://tumblbug-pci.imgix.net/11ea5b920c65d5f3d65d29a1b1583cd2e03f16e6/007b6da4e73604f590568620636df9f45c1c385b/99ad89d91fbd1abe533280381a952c13901f41bf/4e17000d-8d19-4c6c-97a9-8772101c7f60.png?auto=format%2Ccompress&fit=crop&h=288&lossless=true&w=384&s=ccaf0c29a4a9c34a703c08e3ddef88d1">-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class=" styleByInfoBox">-->
<!--                                            <dl>-->
<!--                                                <dd class="project-sub-info">-->
<!--                                                    <span><a href="">캐릭터 · 굿즈</a></span>-->
<!--                                                    <span><a href="">아이돌룩(idolllook)</a></span>-->
<!--                                                </dd>-->
<!--                                                <dt><a href="">토심이 토뭉이 하고 싶은거 다 해! &lt;봉제 인형&amp;파우치&gt;</a></dt>-->
<!--                                                <dd class="project-desc">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>-->
<!--                                            </dl>-->
<!--                                            <div class="projectCard2 projectCard1">-->
<!--                                                <div>-->
<!--                                                    <span class="fundingState">80%</span>-->
<!--                                                    <input class="inputHidden" type="hidden" value="">-->
<!--                                                    <span class="funding-amount"><em>68,676,002</em>원</span>-->
<!--                                                </div>-->
<!--                                                <span class="rest-day">20일 남음</span>-->
<!--                                            </div>-->
<!--                                            <div class="percentByRed"><div class="percentBar"></div></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="listByinfinity">-->
<!--                                <div></div>-->
<!--                                <div class="project-card project-card">-->
<!--                                    <div></div>-->
<!--                                    <div class="CardOpx link-wrapper">-->
<!--                                        <div class="imgStyleBox">-->
<!--                                            <div class="image-wrapper">-->
<!--                                                <a href=""></a>-->

<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class=" styleByInfoBox">-->
<!--                                            <dl>-->
<!--                                                <dd class="project-sub-info">-->
<!--                                                    <span><a href="">캐릭터 · 굿즈</a></span>-->
<!--                                                    <span><a href="">아이돌룩(idolllook)</a></span>-->
<!--                                                </dd>-->
<!--                                                <dt><a href="">토심이 토뭉이 하고 싶은거 다 해! &lt;봉제 인형&amp;파우치&gt;</a></dt>-->
<!--                                                <dd class="project-desc">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>-->
<!--                                            </dl>-->
<!--                                            <div class="projectCard2 projectCard1">-->
<!--                                                <div>-->
<!--                                                    <span class="fundingState">10%</span>-->
<!--                                                    <input class="inputHidden" type="hidden" value="">-->
<!--                                                    <span class="funding-amount"><em>68,676,002</em>원</span>-->
<!--                                                </div>-->
<!--                                                <span class="rest-day">20일 남음</span>-->
<!--                                            </div>-->
<!--                                            <div class="percentByRed"><div class="percentBar"></div></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="listByinfinity">-->
<!--                                <div></div>-->
<!--                                <div class="project-card project-card">-->
<!--                                    <div></div>-->
<!--                                    <div class="CardOpx link-wrapper">-->
<!--                                        <div class="imgStyleBox">-->
<!--                                            <div class="image-wrapper">-->
<!--                                                <a href=""></a>-->
<!--                                                <div class="linkByButoon">-->
<!--                                                    <button type="button" class="buttonByLink">-->
<!--                                                        <span>좋아요</span>-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="styleByInfoBox">-->
<!--                                            <dl>-->
<!--                                                <dd class="project-sub-info">-->
<!--                                                    <span><a href="">캐릭터 · 굿즈</a></span>-->
<!--                                                    <span><a href="">아이돌룩(idolllook)</a></span>-->
<!--                                                </dd>-->
<!--                                                <dt><a href="">토심이 토뭉이 하고 싶은거 다 해! &lt;봉제 인형&amp;파우치&gt;</a></dt>-->
<!--                                                <dd class="project-desc">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>-->
<!--                                            </dl>-->
<!--                                            <div class="projectCard2 projectCard1">-->
<!--                                                <div>-->
<!--                                                    <span class="fundingState">15%</span>-->
<!--                                                    <input class="inputHidden" type="hidden" value="">-->
<!--                                                    <span class="funding-amount"><em>68,676,002</em>원</span>-->
<!--                                                </div>-->
<!--                                                <span class="rest-day">20일 남음</span>-->
<!--                                            </div>-->
<!--                                            <div class="percentByRed"><div class="percentBar"></div></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="listByinfinity">-->
<!--                                <div></div>-->
<!--                                <div class="project-card project-card">-->
<!--                                    <div></div>-->
<!--                                    <div class="CardOpx link-wrapper">-->
<!--                                        <div class="imgStyleBox">-->
<!--                                            <div class="image-wrapper">-->
<!--                                                <a href=""></a>-->
<!--                                                <div class="  linkByButoon">-->
<!--                                                    <button type="button" class=" buttonByLink">-->
<!--                                                        <span>좋아요</span>-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class=" styleByInfoBox">-->
<!--                                            <dl>-->
<!--                                                <dd class="project-sub-info">-->
<!--                                                    <span><a href="">캐릭터 · 굿즈</a></span>-->
<!--                                                    <span><a href="">아이돌룩(idolllook)</a></span>-->
<!--                                                </dd>-->
<!--                                                <dt><a href="">토심이 토뭉이 하고 싶은거 다 해! &lt;봉제 인형&amp;파우치&gt;</a></dt>-->
<!--                                                <dd class="project-desc">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>-->
<!--                                            </dl>-->
<!--                                            <div class="projectCard2 projectCard1">-->
<!--                                                <div>-->
<!--                                                    <span class="fundingState">1373%</span>-->
<!--                                                    <input class="inputHidden" type="hidden" value="">-->
<!--                                                    <span class="funding-amount"><em>68,676,002</em>원</span>-->
<!--                                                </div>-->
<!--                                                <span class="rest-day">20일 남음</span>-->
<!--                                            </div>-->
<!--                                            <div class="percentByRed"><div class="percentBar"></div></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="listByinfinity">-->
<!--                                <div></div>-->
<!--                                <div class="project-card project-card">-->
<!--                                    <div></div>-->
<!--                                    <div class="CardOpx link-wrapper">-->
<!--                                        <div class="imgStyleBox">-->
<!--                                            <div class="image-wrapper">-->
<!--                                                <a href=""></a>-->
<!--                                                <div class="  linkByButoon">-->
<!--                                                    <button type="button" class=" buttonByLink">-->
<!--                                                        <span>좋아요</span>-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class=" styleByInfoBox">-->
<!--                                            <dl>-->
<!--                                                <dd class="project-sub-info">-->
<!--                                                    <span><a href="">캐릭터 · 굿즈</a></span>-->
<!--                                                    <span><a href="">아이돌룩(idolllook)</a></span>-->
<!--                                                </dd>-->
<!--                                                <dt><a href="">토심이 토뭉이 하고 싶은거 다 해! &lt;봉제 인형&amp;파우치&gt;</a></dt>-->
<!--                                                <dd class="project-desc">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>-->
<!--                                            </dl>-->
<!--                                            <div class="projectCard2 projectCard1">-->
<!--                                                <div>-->
<!--                                                    <span class="fundingState">20%</span>-->
<!--                                                    <input class="inputHidden" type="hidden" value="">-->
<!--                                                    <span class="funding-amount"><em>68,676,002</em>원</span>-->
<!--                                                </div>-->
<!--                                                <span class="rest-day">20일 남음</span>-->
<!--                                            </div>-->
<!--                                            <div class="percentByRed"><div class="percentBar"></div></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="listByinfinity">-->
<!--                                <div></div>-->
<!--                                <div class="project-card">-->
<!--                                    <div></div>-->
<!--                                    <div class="CardOpx link-wrapper">-->
<!--                                        <div class="imgStyleBox">-->
<!--                                            <div class="image-wrapper">-->
<!--                                                <a href=""></a>-->
<!--                                                <div class="  linkByButoon">-->
<!--                                                    <button type="button" class=" buttonByLink">-->
<!--                                                        <span>좋아요</span>-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class=" styleByInfoBox">-->
<!--                                            <dl>-->
<!--                                                <dd class="project-sub-info">-->
<!--                                                    <span><a href="">캐릭터 · 굿즈</a></span>-->
<!--                                                    <span><a href="">아이돌룩(idolllook)</a></span>-->
<!--                                                </dd>-->
<!--                                                <dt><a href="">토심이 토뭉이 하고 싶은거 다 해! &lt;봉제 인형&amp;파우치&gt;</a></dt>-->
<!--                                                <dd class="project-desc">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>-->
<!--                                            </dl>-->
<!--                                            <div class="projectCard2 projectCard1">-->
<!--                                                <div>-->
<!--                                                    <span class="fundingState">30%</span>-->
<!--                                                    <input class="inputHidden" type="hidden" value="">-->
<!--                                                    <span class="funding-amount"><em>68,676,002</em>원</span>-->
<!--                                                </div>-->
<!--                                                <span class="rest-day">20일 남음</span>-->
<!--                                            </div>-->
<!--                                            <div class="percentByRed"><div class="percentBar"></div></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="listByinfinity">-->
<!--                                <div></div>-->
<!--                                <div class="project-card">-->
<!--                                    <div></div>-->
<!--                                    <div class="CardOpx link-wrapper">-->
<!--                                        <div class="imgStyleBox">-->
<!--                                            <div class="image-wrapper">-->
<!--                                                <a href=""></a>-->
<!--                                                <div class="  linkByButoon">-->
<!--                                                    <button type="button" class=" buttonByLink">-->
<!--                                                        <span>좋아요</span>-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="styleByInfoBox">-->
<!--                                            <dl>-->
<!--                                                <dd class="project-sub-info">-->
<!--                                                    <span><a href="">캐릭터 · 굿즈</a></span>-->
<!--                                                    <span><a href="">아이돌룩(idolllook)</a></span>-->
<!--                                                </dd>-->
<!--                                                <dt><a href="">토심이 토뭉이 하고 싶은거 다 해! &lt;봉제 인형&amp;파우치&gt;</a></dt>-->
<!--                                                <dd class="project-desc">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>-->
<!--                                            </dl>-->
<!--                                            <div class="projectCard2 projectCard1">-->
<!--                                                <div>-->
<!--                                                    <span class="fundingState">35%</span>-->
<!--                                                    <input class="inputHidden" type="hidden" value="">-->
<!--                                                    <span class="funding-amount"><em>68,676,002</em>원</span>-->
<!--                                                </div>-->
<!--                                                <span class="rest-day">20일 남음</span>-->
<!--                                            </div>-->
<!--                                            <div class="percentByRed"><div class="percentBar"></div></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="listByinfinity">-->
<!--                                <div></div>-->
<!--                                <div class="project-card project-card">-->
<!--                                    <div></div>-->
<!--                                    <div class="CardOpx link-wrapper">-->
<!--                                        <div class="imgStyleBox">-->
<!--                                            <div class="image-wrapper">-->
<!--                                                <a href=""></a>-->
<!--                                                <div class="  linkByButoon">-->
<!--                                                    <button type="button" class=" buttonByLink">-->
<!--                                                        <span>좋아요</span>-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class=" styleByInfoBox">-->
<!--                                            <dl>-->
<!--                                                <dd class="project-sub-info">-->
<!--                                                    <span><a href="">캐릭터 · 굿즈</a></span>-->
<!--                                                    <span><a href="">아이돌룩(idolllook)</a></span>-->
<!--                                                </dd>-->
<!--                                                <dt><a href="">토심이 토뭉이 하고 싶은거 다 해! &lt;봉제 인형&amp;파우치&gt;</a></dt>-->
<!--                                                <dd class="project-desc">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>-->
<!--                                            </dl>-->
<!--                                            <div class="projectCard2 projectCard1">-->
<!--                                                <div>-->
<!--                                                    <span class="fundingState">75%</span>-->
<!--                                                    <input class="inputHidden" type="hidden" value="">-->
<!--                                                    <span class="funding-amount"><em>68,676,002</em>원</span>-->
<!--                                                </div>-->
<!--                                                <span class="rest-day">20일 남음</span>-->
<!--                                            </div>-->
<!--                                            <div class="percentByRed">-->
<!--                                                <div class="percentBar"></div>-->
<!--                                            </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                        <span style="font-size:0"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
   


    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    const $fundingState1 = parseInt($('.fundingState').text());
    const $fundingState2= $('.fundingState');
    $(document).ready(function(){

        var i = $fundingState2.index();
        for(var i =0; i<$fundingState2.length; i++){

            console.log(parseInt($fundingState2.eq(i).text()));
            $('.percentBar').eq(i).width(parseInt($fundingState2.eq(i).text()) + "%")
        }

    });

</script>
<script src="/js/funding/funding-list.js"></script>
<script src="/js/main/header.js"></script>
</html>