<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/funding/funding-header.css">
    <link rel="stylesheet" href="/css/funding/funding-header-response.css">
    <link rel="stylesheet" href="/css/funding/funding-topContent.css">
    <link rel="stylesheet" href="/css/funding/funding-topContent-response.css">
    <link rel="stylesheet" href="/css/funding/funding.css">
    <link rel="stylesheet" href="/css/funding/response.css">
</head>
<body>
<div th:insert="~{funding/funding-plan-header.html :: planHeader}"></div>

    <!-- top-content  -->
    <div class="top-content" th:fragment="topContent">
        <div class="top-contentWrap">
            <div class="top-title">프로젝트 기획</div>
        </div>

        <div class="fix-contentWrap">
            <div class="plan-depthWrap">
                <ul class="tap-item">
                    <li class="tapItem-li initialInfo">
                        <a class="" href="/funding/funding-initial-info">기본정보
                            <span class="item-span"></span>
                        </a>
                    </li>
                    <li class="item-li fundingPlan">
                        <a class="" href="/funding/funding-plan">펀딩 계획
                            <span class="Item-span"></span>
                        </a>
                    </li>
                    <li class="item-li fundingGift">
                        <a class="" href="/funding/funding-gift">선물 구성
                            <span class="Item-span"></span>
                        </a>
                    </li>
                    <li class="item-li projectPlan">
                        <a class="" href="/funding/funding-project-plan">프로젝트 계획
                            <span class="Item-span"></span>
                        </a>
                    </li>
                    <li class="item-li createrInfo">
                        <a class="" href="/funding/funding-creator-info">창작자 정보
                            <span class="Item-span"></span>
                        </a>
                    </li>
                </ul>

                <div class="style__HeaderRight-sc-1dvdb02-5 YPHW">
                    <button  class="SolidButton__Button-sc-1gsinzz-0 saveButton saveStyleButton  hgsFUp ProjectSubmitButton__ProjectButton-m5pw9c-2 hQPdvE fnt-p1" disabled="" color="white">
                        <span>저장</span>
                    </button>
                </div>
            </div>

            <div th:insert="~{funding/funding-initial-info.html :: initialInfo}"></div>
            <div th:insert="~{funding/funding-project-plan.html :: projectPlan}"></div>
            <div th:insert="~{funding/funding-creater-info.html :: creator}"></div>


        </div>
    </div>
 
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</html>