<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>펀딩 개설 헤더</title>
    <link rel="stylesheet" href="/css/funding/funding-header.css">
    <link rel="stylesheet" href="/css/funding/funding-header-response.css">
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>
    <div class="funding-header" th:fragment="fundingHeader">
        <div class="header-wrap">
            <div class="header-container">
                <div class="container">
                    <div class="header-menu">
                        <div class="left-menu">
                            <button class="header-linkButton">
                                <i class="menu">
                                    
                                    <svg style="width: 12px;" xmlns="http://www.w3.org/2000/svg" id="Icons" viewBox="0 0 24 24">
                                        <defs>
                                          <style>
                                            .cls-1 {
                                              fill: #000000;
                                            }
                                          </style>
                                        </defs>
                                        <rect class="cls-1" height="4" rx="2" width="22" x="1" y="2"></rect>
                                        <rect class="cls-1" height="4" rx="2" width="22" x="1" y="18"></rect>
                                        <rect class="cls-1" height="4" rx="2" width="22" x="1" y="10"></rect>
                                      </svg>
                                </i>
                                <span class="header-ItemLabel">프로젝트 둘러보기</span>
                            </button>
                            <span class="header-createButton">
                                <a href="" class="header-linkItem">
                                    <span class="header-ItemLabel">프로젝트 올리기</span>
                                </a>
                            </span>
                        </div>
                        <div class="center-menu">
                            <img src="/image/logo.png" alt="" style="width: 110%;">
                        </div>
                        <div class="right-menu">
                            <div class="header-itemImg">
                                <span class="header-profile-name">황자현</span>
                                <span class="header-profile-img">
                                    <span class="profileImg RYLVL"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>