<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/font/font.css">
    <link rel="stylesheet" href="/static/css/funding/funding-topContent.css">
    <link rel="stylesheet" href="/static/css/funding/funding-topContent-response.css">
</head>
<body>
    <!-- top-content  -->
    <div class="top-content">
        <div class="top-contentWrap">
            <div class="top-title">프로젝트 기획</div>
        </div>
        <div class="fix-contentWrap">
            <div class="plan-depthWrap">
                <ul class="tap-item">
                    <li class="tapItem-li initialInfo">
                        <a class="" href="/templates/funding/funding-initial-info.html">기본정보
                            <span class="item-span"></span>
                        </a>
                    </li>
                    <li class="item-li fundingPlan">
                        <a class="" href="/templates/funding/funding-plan.html">펀딩 계획
                            <span class="Item-span"></span>
                        </a>
                    </li>
                    <li class="item-li projectPlan">
                        <a class="" href="/templates/funding/funding-project-plan.html">프로젝트 계획
                            <span class="Item-span"></span>
                        </a>
                    </li>
                    <li class="item-li createrInfo">
                        <a class="" href="/templates/funding/funding-creater-info.html">창작자 정보
                            <span class="Item-span"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</html>