<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/funding/funding-start.css">
    <link rel="stylesheet" href="/static/css/funding/response.css">
    <link rel="stylesheet" href="/static/css/font/font.css">
</head>

<body>
    <div>
        <header id="_header"></header>
        <main style="overflow-x: hidden;">
            <div class="text-section">
                <p class="funding-text">
                    누구나 쉽고 빠르게
                    <br>펀딩을 시작할 수 있습니다.
                </p>
                <p class="sub-text">취향이 모여 세상을 바꾸는 텀블벅에서</p>
                <div class="button-area">
                    <button class="start-button">지금 시작하기</button>
                </div>
            </div>
            <div>
                <div class="guide-section">
                    <div class="guide-section-text">펀딩은 어떻게 진행하나요?</div>
                    <ul class="guide-form">
                        <li class="guide-list">
                            <div class="guide-wrap">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-mobile-01.png" alt=""class="mobile-img">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-pc-01.png" alt="" class="pc-img">
                            </div>
                            <div class="guide-title">프로젝트 작성</div>
                        </li>
                        <li class="guide-list">
                            <div class="guide-wrap">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-mobile-02.png" alt="" class="mobile-img">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-pc-02.png" alt="" class="pc-img">
                            </div>
                            <div class="guide-title">프로젝트 심사 및 승인</div>
                        </li>
                        <li class="guide-list">
                            <div class="guide-wrap">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-mobile-03.png" alt="" class="mobile-img">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-pc-03.png" alt="" class="pc-img">
                            </div>
                            <div class="guide-title">프로젝트 공개예정 (선택)</div>
                        </li>
                        <li class="guide-list">
                            <div class="guide-wrap">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-mobile-04.png" alt="" class="mobile-img">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-pc-04.png" alt="" class="pc-img">
                            </div>
                            <div class="guide-title">프로젝트 오픈</div>
                        </li>
                        <li class="guide-list">
                            <div class="guide-wrap">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-mobile-05.png" alt="" class="mobile-img">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-pc-05.png" alt="" class="pc-img">
                            </div>
                            <div class="guide-title">후원 성사 및 정산</div>
                        </li>
                        <li class="guide-list">
                            <div class="guide-wrap">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-mobile-06.png" alt="" class="mobile-img">
                                <img src="https://d1ohqa58xvigdz.cloudfront.net/start/process-img-pc-06.png" alt="" class="pc-img">
                            </div>  
                            <div class="guide-title">후원자 선물 전달</div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer id="_footer"></footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#_header").load("../main/header.html");
        $("#_footer").load("../main/footer.html");
    });
</script>

</html>