<!-- @format -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>봉사 관리</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/admin/default.css" />
    <link rel="stylesheet" href="/css/admin/sidebar.css" />
    <link rel="stylesheet" href="/css/admin/content.css" />
    <link rel="stylesheet" href="/css/admin/status.css" />
    <link rel="stylesheet" href="/css/admin/paging.css">
    <link rel="stylesheet" href="/css/admin/volunteer.css">
    <link rel="stylesheet" href="/css/admin/inquiry-modal.css">

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet" />
  </head>
  <style>
    .user__profile__input input {
    padding: 3px 5px;
    }
    .volunteer_input{
      width: 630px;
    }
  .button__type_2 {
      width: 70px;
    }
  </style>
  <body>
    <section class="main">
      <section th:insert="~{admin/component/sidebar.html :: adminSidebar}"></section>
      <!-- content.css -->
      <section class="content">
        <div class="content__header">
          <span>봉사관리</span>
          <a href="javascript:void(0)"> 로그아웃 </a>
        </div>
        <main class="content__main">
          <div class="table__container">
            <!-- status.css -->
            <section class="trip-status">
              <ul class="status-list">
                <li class="status-list-item">
                  <div class="status-item-wrapper">
                    <svg
                      width="36"
                      height="36"
                      viewBox="0 0 36 36"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <rect width="36" height="36" rx="12" fill="#EDFEE0"></rect>
                      <path
                        d="M9.75 12.75H24.25C25.3546 12.75 26.25 13.6454 26.25 14.75V24.25C26.25 25.3546 25.3546 26.25 24.25 26.25H11.75C10.6454 26.25 9.75 25.3546 9.75 24.25V12.75Z"
                        fill="#11CA2D"></path>
                      <path
                        d="M9.75 12.5C9.75 11.3954 10.6454 10.5 11.75 10.5H16.125L18 12.75H9.75V12.5Z"
                        fill="#11CA2D"></path>
                    </svg>
                    <div class="status-item-name">봉사 게시글</div>
                  </div>
                  <div class="status-item-count">
                    <a href="">0</a>
                  </div>
                </li>
                <li class="status-list-item">
                  <div class="status-item-wrapper">
                    <div class="problem-icon-wrapper">
                      <div class="problem-icon">
                        <div>
                          <div>
                            <span>
                              <svg
                                width="36"
                                height="36"
                                viewBox="0 0 36 36"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="36" height="36" rx="12" fill="#EDFEE0"></rect>
                                <path
                                  d="M9.75 12.75H24.25C25.3546 12.75 26.25 13.6454 26.25 14.75V24.25C26.25 25.3546 25.3546 26.25 24.25 26.25H11.75C10.6454 26.25 9.75 25.3546 9.75 24.25V12.75Z"
                                  fill="#11CA2D"></path>
                                <path
                                  d="M9.75 12.5C9.75 11.3954 10.6454 10.5 11.75 10.5H16.125L18 12.75H9.75V12.5Z"
                                  fill="#11CA2D"></path>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="status-item-name">TEST</div>
                  </div>
                  <div class="status-item-count">
                    <a href="">0</a>
                  </div>
                </li>
                <div class="clock">
                  <h2>현재시간</h2>
                  <h1></h1>
                </div>
              </ul>
            </section>
            <div class="table__box">
              <div class="table__search__form">
                <div>
                  <button
                    id="delete-button"
                    class="button__type_2 button__color__red"
                    style="width: 120px">
                    봉사내역 삭제
                  </button>
                  <button
                    id="delete-button"
                    class="button__type_2 button__color__red registVolunteer"
                    style="width: 120px">
                    봉사 등록
                  </button>
                </div>
                <!-- default.css -->
                <div class="search-box-wrap">
                  <div class="select-box">
                    <button class="listbox-selecter">검색조건 선택</button>
                    <ul class="listbox displayNone" id="listbox">
                      <li><button class="list">전체</button></li>
                      <li><button class="list">검색조건1</button></li>
                      <li><button class="list">검색조건2</button></li>
                    </ul>
                    <input type="text" name="searchType" style="display: none" value="all" />
                  </div>
                  <div class="search-box">
                    <input
                      type="text"
                      name="userId"
                      class="input__type_1 search-input"
                      placeholder="검색" />
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        enable-background="new 0 0 32 32"
                        id="Glyph"
                        version="1.1"
                        viewBox="0 0 32 32"
                        xml:space="preserve">
                        <path
                          d="M27.414,24.586l-5.077-5.077C23.386,17.928,24,16.035,24,14c0-5.514-4.486-10-10-10S4,8.486,4,14  s4.486,10,10,10c2.035,0,3.928-0.614,5.509-1.663l5.077,5.077c0.78,0.781,2.048,0.781,2.828,0  C28.195,26.633,28.195,25.367,27.414,24.586z M7,14c0-3.86,3.14-7,7-7s7,3.14,7,7s-3.14,7-7,7S7,17.86,7,14z"
                          id="XMLID_223_" />
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
              <!-- 봉사기간(시작, 끝), 봉사시간, 모집기간(시작, 끝), 모집인원, 봉사분야, 등록기관, 봉사장소 -->
              <table class="table">
                <tr class="table__header">
                  <th class="content_check">
                    <label class="check-label">
                      <input type="checkbox" id="checkAll" />
                    </label>
                  </th>
                  <th class="content__id">봉사번호</th>
                  <th>게시글제목</th>
                  <th>봉사분야</th>
                  <th>봉사장소</th>
                  <th>등록기관</th>
                  <th>모집인원</th>
                </tr>
                <tr class="table__content">
                  <td>
                    <label class="check-label">
                      <input type="checkbox" name="check" />
                    </label>
                  </td>
                  <td class="content__id">1</td>
                  <td>서울시 다문화가정 봉사 모집</td>
                  <td>다문화가정</td>
                  <td>서울복지센터</td>
                  <td>서울복지센터</td>
                  <td>30명</td>
                  <td>
                    <button class="content__detail__btn button__type_2 button__color__green">
                      상세보기
                    </button>
                    <button class="button__type_2 volunteer_button button__color__green">
                      신청명단
                    </button>
                  </td>
                </tr>
                <tr class="table__content">
                  <td>
                    <label class="check-label">
                      <input type="checkbox" name="check" />
                    </label>
                  </td>
                  <td class="content__id">1</td>
                  <td>서울시 다문화가정 봉사 모집</td>
                  <td>다문화가정</td>
                  <td>서울복지센터</td>
                  <td>서울복지센터</td>
                  <td>30명</td>
                  <td>
                    <button class="content__detail__btn button__type_2 button__color__green">
                      상세보기
                    </button>
                    <button class="button__type_2 volunteer_button button__color__green">
                      신청명단
                    </button>
                  </td>
                </tr>
              </table>
              <!-- default.css > pagenation -->
              <div>
                <div class="paging" style="text-align: center">
                  <a class="changePage" style="color: black"><code><</code></a>
                  <code id="currentPage">1</code>
                    <a class="changePage" style="color: black"><code>2</code></a>
                  <a class="changePage"style="color: black"><code>></code></a>
                </div>
                <form name="pageForm">
                  <input type="hidden">
                  <input type="hidden">
                </form>
              </div>
            </div>
          </div>
        </main>
      </section>
      <!-- 모달창 들어가야할 곳 -->
      <!-- 추후 타임리프로 불러와야 함 -->
      <div id="confirm-modal" style="display: none;">
        <div class="modal-content">
          <div class="modal-header">
            <h3>삭제 확인</h3>
            <button class="close-btn">&times;</button>
          </div>
          <div class="modal-body">
            <p>정말로 삭제하시겠습니까?</p>
          </div>
          <div class="modal-footer">
            <button id="confirm-delete" class="btn confirm-btn">확인</button>
            <button id="cancel-delete" class="btn cancel-btn">취소</button>
          </div>
        </div>
      </div>
      <section class="modal-stage" style="display: none">
        <section class="modal">
          <div class="modal__header">
            <h3 class="modal__title">봉사 상세보기</h3>
            <a class="modal-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                data-name="Capa 1"
                id="Capa_1"
                viewBox="0 0 20 19.84">
                <path
                  d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z" />
              </svg>
            </a>
          </div>
          <form class="storage_form" action="">
            <main class="modal__main">
              <div class="modal__profile__top">
                <h4>봉사 정보</h4>
                <div class="user__profile">
                  <h5>게시글 제목</h5>
                  <div class="user__profile__input">
                    <input type="text" name="" value="서울시 연탄 봉사활동 모집" readonly="true" />
                  </div>
                </div>
                <div class="user__profile">
                  <h5>봉사기간</h5>
                  <div class="user__profile__input">
                    <input type="text" name="" value="2023-03-01" readonly="true" />
                    <input type="text" name="" value="2023-04-20" readonly="true" />
                  </div>
                </div>
                <div class="user__profile">
                  <h5>봉시시간</h5>
                  <div class="user__profile__input">
                    <input type="text" name="" value="12:00" readonly="true" />~
                    <input type="text" name="" value="17:00" readonly="true" />
                  </div>
                </div>
                <div class="user__profile">
                  <h5>모집기간</h5>
                  <div class="user__profile__input">
                    <input type="text" name="" value="2023-02-01" readonly="true" />
                    <input type="text" name="" value="2023-02-25" readonly="true" />
                  </div>
                </div>
                <div class="user__profile">
                  <h5>모집인원</h5>
                  <div class="user__profile__input">
                    <input type="text" name="" value="30명" readonly="true" />
                  </div>
                </div>
                <div class="user__profile">
                  <h5>봉사분야</h5>
                  <div class="user__profile__input">
                    <input type="text" name="" value="다문화가정" readonly="true" />
                  </div>
                </div>
                <div class="user__profile">
                  <h5>봉사장소</h5>
                  <div class="user__profile__input">
                    <input type="text" name="" value="서울 복지센터" readonly="true" />
                  </div>
                </div>
                <div class="user__profile">
                  <h5>등록기관</h5>
                  <div class="user__profile__input">
                    <input type="text" name="" value="서울 복지센터" readonly="true" />
                  </div>
                </div>
                <h4 style="margin-top: 20px;">이미지</h4>
                <!-- 이미지 파일 -->
                <div class="content__img__wrap">
                    <!-- 임시로 name='file' 해둠 -->
                    <label>
                      <div class="content__img">
                        <img
                          src="https://us.123rf.com/450wm/mathier/mathier1905/mathier190500002/134557216-%EC%8D%B8%EB%84%A4%EC%9D%BC-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%86%EC%9D%8C-%ED%8F%AC%EB%9F%BC-%EB%B8%94%EB%A1%9C%EA%B7%B8-%EB%B0%8F-%EC%9B%B9%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9A%A9-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C%EC%9E%90.jpg?ver=6" />
                      </div>
                      <input type="file" name="file" style="display: none" />
                    </label>
<!--                    <label>-->
<!--                      <div class="content__img">-->
<!--                        <img-->
<!--                          src="https://us.123rf.com/450wm/mathier/mathier1905/mathier190500002/134557216-%EC%8D%B8%EB%84%A4%EC%9D%BC-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%86%EC%9D%8C-%ED%8F%AC%EB%9F%BC-%EB%B8%94%EB%A1%9C%EA%B7%B8-%EB%B0%8F-%EC%9B%B9%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9A%A9-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C%EC%9E%90.jpg?ver=6" />-->
<!--                      </div>-->
<!--                      <input type="file" name="file" style="display: none" />-->
<!--                    </label>-->
<!--                    <label>-->
<!--                      <div class="content__img">-->
<!--                        <img-->
<!--                          src="https://us.123rf.com/450wm/mathier/mathier1905/mathier190500002/134557216-%EC%8D%B8%EB%84%A4%EC%9D%BC-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%86%EC%9D%8C-%ED%8F%AC%EB%9F%BC-%EB%B8%94%EB%A1%9C%EA%B7%B8-%EB%B0%8F-%EC%9B%B9%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9A%A9-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C%EC%9E%90.jpg?ver=6" />-->
<!--                      </div>-->
<!--                      <input type="file" name="file" style="display: none" />-->
<!--                    </label>-->
<!--                    <label>-->
<!--                      <div class="content__img">-->
<!--                        <img-->
<!--                          src="https://us.123rf.com/450wm/mathier/mathier1905/mathier190500002/134557216-%EC%8D%B8%EB%84%A4%EC%9D%BC-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%86%EC%9D%8C-%ED%8F%AC%EB%9F%BC-%EB%B8%94%EB%A1%9C%EA%B7%B8-%EB%B0%8F-%EC%9B%B9%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9A%A9-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C%EC%9E%90.jpg?ver=6" />-->
<!--                      </div>-->
<!--                      <input type="file" name="file" style="display: none" />-->
<!--                    </label>-->
<!--                    <label>-->
<!--                      <div class="content__img">-->
<!--                        <img-->
<!--                          src="https://us.123rf.com/450wm/mathier/mathier1905/mathier190500002/134557216-%EC%8D%B8%EB%84%A4%EC%9D%BC-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%86%EC%9D%8C-%ED%8F%AC%EB%9F%BC-%EB%B8%94%EB%A1%9C%EA%B7%B8-%EB%B0%8F-%EC%9B%B9%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9A%A9-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C%EC%9E%90.jpg?ver=6" />-->
<!--                      </div>-->
<!--                      <input type="file" name="file" style="display: none" />-->
<!--                    </label>-->
<!--                    <label>-->
<!--                      <div class="content__img">-->
<!--                        <img-->
<!--                          src="https://us.123rf.com/450wm/mathier/mathier1905/mathier190500002/134557216-%EC%8D%B8%EB%84%A4%EC%9D%BC-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%86%EC%9D%8C-%ED%8F%AC%EB%9F%BC-%EB%B8%94%EB%A1%9C%EA%B7%B8-%EB%B0%8F-%EC%9B%B9%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9A%A9-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C%EC%9E%90.jpg?ver=6" />-->
<!--                      </div>-->
<!--                      <input type="file" name="file" style="display: none" />-->
<!--                    </label>-->
<!--                    <label>-->
<!--                      <div class="content__img">-->
<!--                        <img-->
<!--                          src="https://us.123rf.com/450wm/mathier/mathier1905/mathier190500002/134557216-%EC%8D%B8%EB%84%A4%EC%9D%BC-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%86%EC%9D%8C-%ED%8F%AC%EB%9F%BC-%EB%B8%94%EB%A1%9C%EA%B7%B8-%EB%B0%8F-%EC%9B%B9%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9A%A9-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C%EC%9E%90.jpg?ver=6" />-->
<!--                      </div>-->
<!--                      <input type="file" name="file" style="display: none" />-->
<!--                    </label>-->
<!--                    <label>-->
<!--                      <div class="content__img">-->
<!--                        <img-->
<!--                          src="https://us.123rf.com/450wm/mathier/mathier1905/mathier190500002/134557216-%EC%8D%B8%EB%84%A4%EC%9D%BC-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%86%EC%9D%8C-%ED%8F%AC%EB%9F%BC-%EB%B8%94%EB%A1%9C%EA%B7%B8-%EB%B0%8F-%EC%9B%B9%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9A%A9-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C%EC%9E%90.jpg?ver=6" />-->
<!--                      </div>-->
<!--                      <input type="file" name="file" style="display: none" />-->
<!--                    </label>-->
                </div>
                <div class="modal__profile__bottom">
                  <h4>답변 작성</h4>
                  <textarea cols="20" rows="10" placeholder="답변 내용 작성"></textarea>
                </div>
<!--                <div class="notice__content">-->
<!--                  <textarea id="summernote" name="editordata"></textarea>-->
<!--                </div>-->
                <div class="user__profile__button" style="margin-top: 20px;">
                  <button id="completeBtn" class="button__type_2 button__color__green">
                    작성완료
                  </button>
                </div>
              </div>
            </main>
          </form>
        </section>
      </section>
      <section class="volunteer-modal" style="display: none">
        <section class="modal">
          <div class="modal__header">
            <h3 class="modal__title">봉사 신청 명단</h3>
            <a class="modal-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                data-name="Capa 1"
                id="Capa_1"
                viewBox="0 0 20 19.84">
                <path
                  d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z" />
              </svg>
            </a>
          </div>
          <form class="storage_form" action="">
            <main class="modal__main">
              <div class="modal__profile__top">
                <h4>신청자</h4>
                <div class="user__profile volunteer_profile">
                  <h5>회원정보</h5>
                  <div class="user__profile__input volunteer_input">
                    <input type="text" name="" value="회원번호" readonly="true" />
                    <input type="text" name="" value="이름" readonly="true" />
                    <input type="text" name="" value="전화번호" readonly="true" />
                    <input type="text" name="" value="아이디" readonly="true" />
                  </div>
                </div>
                <div class="user__profile">
                <h5></h5>
                  <div class="user__profile__input volunteer_input">
                    <input type="text" name="" value="1" readonly="true" />
                    <input type="text" name="" value="홍길동" readonly="true" />
                    <input type="text" name="" value="01011112222" readonly="true" />
                    <input type="text" name="" value="kmg2331" readonly="true" />
                  </div>
                </div>
                <div class="user__profile">
                <h5></h5>
                  <div class="user__profile__input volunteer_input">
                    <input type="text" name="" value="1" readonly="true" />
                    <input type="text" name="" value="홍길동" readonly="true" />
                    <input type="text" name="" value="01011112222" readonly="true" />
                    <input type="text" name="" value="kmg2331" readonly="true" />
                  </div>
                </div>
                <div class="user__profile">
                <h5></h5>
                  <div class="user__profile__input volunteer_input">
                    <input type="text" name="" value="1" readonly="true" />
                    <input type="text" name="" value="홍길동" readonly="true" />
                    <input type="text" name="" value="01011112222" readonly="true" />
                    <input type="text" name="" value="kmg2331" readonly="true" />
                  </div>
                </div>
                <div>
                  <div class="paging" style="margin-top: 28px; margin-bottom: -57px; text-align: center;">
                    <a class="changePage" style="color: black"><code><</code></a>
                    <code id="currentPage">1</code>
                      <a class="changePage" style="color: black"><code>2</code></a>
                    <a class="changePage"style="color: black"><code>></code></a>
                  </div>
                  <form name="pageForm">
                    <input type="hidden">
                    <input type="hidden">
                  </form>
                </div>
                <div class="user__profile__button" style="margin-top: 20px;">
                  <button id="completeBtn" class="button__type_2 button__color__green">
                    작성완료
                  </button>
                </div>
              </div>
            </main>
          </form>
        </section>
      </section>
    </section>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  <script>
    console.log('썸머노트');
    $('#summernote').summernote({
      placeholder: '봉사 내용 작성',
      tabsize: 2,
      height: 300,
      width: '100%',
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['picture']],
      ],
    });

    $('.registVolunteer').on('click',()=>{
      $modalStage.show();
      $('.modal-close').on('click', function () {
         $modalStage.fadeOut(500);
       });

    })

    // $('.volunteer_button').on('click', ()=>{
    //   $('.volunteer-modal').show();
    //     $('.modal-close').on('click', function () {
    //       $('.volunteer-modal').fadeOut(500);
    //     });
    // })
    
  </script>
  <script src="/js/admin/app.js"></script>
  <script src="/js/admin/events.js"></script>
  <script>
    $('.volunteer_button').on('click', ()=>{
      $('.volunteer-modal').show();
      $('.modal-stage').fadeOut(500);
      

        $('.modal-close').on('click', function () {
          $('.volunteer-modal').fadeOut(500);
        });
        
    })
    $detailButton.on('click', ()=>{
      $('.modal-stage').show();
      $('.volunteer-modal').fadeOut(500);

        $('.modal-close').on('click', function () {
          $('.modal-stage').fadeOut(500);
        });
        
    })
  </script>
</html>
