<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/css/join-login/password-page.css">
</head>
<body>
    <div class="all-wrap">
        <div class="password-header">
            <div class="password-header-text">
                <a href="" class="header-logo">
                    <div class="header-text">
                        <img src="/image/logo-test.png" style="width: 100%;">
                    </div>
                </a>
            </div>
        </div>

        <div class="main-wrap">
            <div class="password-wrap">
                <div class="password-inner-wrap">
                    <h3 class="password-title">비밀번호 재설정</h3>

                    <form th:action="@{/member/change-password}" method="get" name="changePasswordForm">
                        <div class="input-div">
                            <div class="input-title">변경할 비밀번호</div>
                            <div class="input-include-div">
                                <span class="input-include-span">
                                    <input name="memberPassword" type="password" class="input-write" placeholder="변경할 비밀번호">
                                </span>
                            </div>
                            <div class="email-error"></div>
                        </div>
                        <div class="input-div">
                            <div class="input-include-div">
                                <span class="input-include-span">
                                    <input type="password" class="input-write" placeholder="변경할 비밀번호 확인">
                                    <input name="memberEmail" th:value="${memberEmail}" type="hidden" class="input-write">
                                    <input name="randomKey" th:value="${rnadomKey}" type="hidden" class="input-write">
                                </span>
                            </div>
                            <div class="email-error"></div>
                        </div>
                        <button type="button" class="submit-button">
                            <span>비밀번호 재설정</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="password-footer">© 2023 SimBongSa Inc.</div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/join-login/change-password.js"></script>
</html>