<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일로 로그인</title>
    <link rel="stylesheet" href="/css/join-login/email-login.css">
</head>
<body>
    <div class="wrap">
        <div class="login-header">
            <div class="login-header-text">
                <a href="" class="header-logo">
                    <div class="header-text">
                        <img src="/image/logo-test.png" style="width: 100%;">
                    </div>
                </a>
            </div>
        </div>

        <div class="main-wrap">
            <div class="login-wrap">
                <div class="login-inner-wrap">
                    <h3 class="login-title">이메일로 로그인</h3>

                    <form th:action="@{/member/login}" name="loginForm" method="post">
                        <div class="input-div">
                            <div class="input-title">이메일 주소</div>
                            <div class="input-include-div">
                                <span class="input-include-span">
                                    <input type="text" class="input-write" placeholder="이메일 주소를 입력해주세요" name="memberEmail">
                                </span>
                            </div>
                            <div class="email-error">이메일 주소를 입력해주세요</div>
                        </div>
                        <div class="input-div">
                            <div class="input-title">비밀번호</div>
                            <div class="input-include-div">
                                <span class="input-include-span">
                                    <input type="password" class="input-write" placeholder="비밀번호를 입력해주세요" name="memberPassword">
                                </span>
                            </div>
                            <div class="email-error">비밀번호를 입력해주세요</div>
                        </div>
                        <div class="modal-login-addition">
                            <label for="remember" color="#ffd400" class="modal-keep-login-label">
                                <span class="modal-keep-login-span">
                                    <input id="remember" type="checkbox" name="remember-me" class="modal-keep-login">
                                    <span color="#ffd400" class="modal-checkbox-inner"></span>
                                    <span class="modal-keep-login-text">로그인 유지</span>
                                </span>
                            </label>
                        </div>
                        <button class="submit-button" type="button">
                            <span>로그인</span>
                        </button>
                    </form>
                    <div class="login-another">
                        <div class="login-another-inner">
                            <span class="login-another-text">다른 방법으로 로그인</span>
                        </div>
                        <button type="button" class="login-circle">
                            <div class="kakao-login-wrap">
                                <svg width="34" height="34" viewBox="0 0 34 34" fill="none"><circle cx="17" cy="17" r="14.875" fill="#FEE500"></circle><path fill-rule="evenodd" clip-rule="evenodd" d="M17.0002 9.03125C12.0901 9.03125 8.146 12.0938 8.146 15.8415C8.30698 18.4205 9.91683 20.6369 12.2511 21.604L11.4059 24.6666C11.3657 24.7472 11.4059 24.8681 11.4864 24.908C11.5669 24.989 11.7279 24.989 11.8084 24.908L15.3903 22.5309C15.9135 22.6115 16.4367 22.6518 17.0002 22.6518C21.87 22.6518 25.8543 19.5892 25.8543 15.8415C25.8543 12.0938 21.9102 9.03125 17.0002 9.03125Z" fill="black" fill-opacity="0.9"></path></svg>
                            </div>
                        </button>
                        <button class="login-circle">
                            <div class="naver-login-wrap">
                                <svg width="34" height="34" viewBox="0 0 34 34" fill="none"><g clip-path="url(#clip0_226_6574)"><path d="M17 31.875C8.81875 31.875 2.125 25.1812 2.125 17C2.125 8.81875 8.81875 2.125 17 2.125C25.1812 2.125 31.875 8.81875 31.875 17C31.875 25.1812 25.1812 31.875 17 31.875Z" fill="#03C75A"></path><path d="M18.9338 17.3825L14.9105 11.6167H11.5742V22.3834H15.0663V16.6175L19.0896 22.3834H22.4259V11.6167H18.9338V17.3825Z" fill="white"></path></g><defs><clipPath id="clip0_226_6574"><rect width="29.75" height="29.75" fill="white" transform="translate(2.125 2.125)"></rect></clipPath></defs></svg>
                            </div>
                        </button>
                    </div>
                    <div class="join-wrap">
                        아직 심봉사 계정이 없으신가요?
                        <span class="join-text">
                            <a href="/member/join-select" class="join-page">회원가입</a>
                        </span>
                    </div>
                    <div class="change-password-wrap">
                        혹시 비밀번호를 잊으셨나요?
                        <span class="change-password-text">
                            <a href="/member/find-password" class="change-password-page">비밀번호 변경</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="half-img"></div>
        </div>
    </div>

    <div class="modal-container">
        <div class="modal-check">
            <div class="modal-content">아이디 비밀번호를 다시 확인해주세요</div>
            <div class="modal-ok-div">
                <button type="button" class="modal-ok">확인</button>
            </div>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/join-login/email-login.js"></script>
</html>