<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>심봉사-비밀번호찾기</title>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/join-login/find-password-email-send.css">
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body class style="padding-right: 0px;">
<div class="sendmailMain">
    <!-- 헤더 -->
    <header th:insert="~{main/header.html :: mainHeader}"></header>
    <div class="mainLayout">
        <div class="mainform">
            <div class="sendMailFrom">
                <p class="top-content">
                    <span class="top-content-span" th:text="${memberEmail}"></span>
                    으로<br>비밀번호 재설정 메일이 발송되었어요
                </p>
                <p class="bottom-content">
                    5분 후에도 메일이 오지 않는다면
                    <br>
                    스팸함을 확인해 주세요
                </p>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
</html>