<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>심봉사 | 자유게시판 상세페이지</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/community/free-detail.css">
</head>
<body>
    <!-- 헤더 -->
    <header th:insert="~{main/header.html :: mainHeader}"></header>

     <!-- 전체 div -->
     <div>
        <div style="background-color: #fff;">
            <div class="main">
                <main class="main-main">
                    <h3 class="main-title">그 봄. 아직 봄.</h3>
                    <div class="user">
                        <div class="user-info">
                            <div>
                                <div class="user-profile"></div>
                            </div>
                            <div>
                                <div>
                                    <p class="user-name">케토루</p>
                                </div>
                                <div class="user-see">
                                    <span>5시간 전</span>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                    <span>조회수 25</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="link">
                            <div class="link-container">
                                <button class="link-btn">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="link-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 6a3 3 0 0 1-5.022 2.216l-5.01 3.34c.018.127.029.255.031.385l4.84 2.978a3 3 0 1 1-.83 1.838l-4.672-2.876a3 3 0 1 1-.315-4.098l5.01-3.34A3 3 0 1 1 20 6Z"></path></svg>
                                </button>
                            </div>
                        </div> -->
                    </div>
                    <div class="review-contant">
                        <div class="review-post">
                            <div class="img-wrapper">
                                <img src="https://steadio.imgix.net/creator-posts/079d1a28-343d-4f6a-8889-e9328964aafd/creatorPostImage/269f44f6-9d34-47bb-83a2-7d99d86a5280.jpg?auto=format%2Ccompress&fit=max&lossless=true&w=1240">
                            </div>
                        </div>
                        <div style="height: 40px;"></div>
                    </div>
                    <section class="review-user">
                        <div>
                            <button class="review-user-btn">
                                <span class="review-user-btn-span">
                                    <img class="review-user-btn-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F079d1a28-343d-4f6a-8889-e9328964aafd%2FprofileImage%2F24a11a11-b126-40b6-bccf-bca689207935.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                </span>
                            </button>
                        </div>
                        <div>
                            <div class="review-user-name">
                                <button class="review-user-name-btn">케토루</button>
                                <p class="review-user-intro">귀여운 그림을 많이 그립니다.</p>
                            </div>
                        </div>
                    </section>
                    <div class="review-line"></div>
                    <div style="height: 28px;"></div>
                    <div>
                        <h4 class="comment">댓글</h4>
                        <div style="height: 24px;"></div>
                        <!-- 로그인 안했을때 -->
                        <div class="comment-box" style="display: none;">
                            <div class="comment-box-container">
                                <div class="comment-box-wrapper">
                                    <span class="comment-box-p">댓글을 작성하려면 로그인을 해주세요.</span>
                                </div>
                                <div class="comment-Nologin">
                                    <button class="comment-Nologin-btn">로그인</button>
                                </div>
                            </div>
                        </div>
                        <!-- 로그인 했을때 -->
                        <div class="comment-box2">
                            <div class="comment-box-wrapper2">
                                <div class="comment-login">
                                    <div class="comment-login-profile">
                                        <span class="profile-span">
                                            <img class="profile-img" style="margin: 0;" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2Fd7afcbbb-8376-4a2e-89a1-7d379ba76ea7%2FprofileImage%2F8220395f-c776-40bd-bced-f075a2315cdf.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1920&q=75">
                                        </span>
                                    </div>
                                </div>
                                <textarea class="comment-box-span" placeholder="댓글을 작성해 주세요..."></textarea>
                            </div>
                            <div class="singUp-btn">
                                <button class="singUp1">취소</button>
                                <button class="singUp" disabled>등록</button>
                            </div>
                        </div>
                        <!--  -->
                        <div style="height: 33px;"></div>
                        <!-- 댓글 없을때 -->
                        <div class="comment-list" style="display: none;">
                            <p class="NoComment">댓글이 없습니다.</p>
                            <p class="NoComment2">첫 댓글을 남겨보세요</p>
                        </div>

                        <!-- 댓글 있을때 -->
                        <ul>
                            <!-- 내가 쓴 댓글일 경우 -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2Fd7afcbbb-8376-4a2e-89a1-7d379ba76ea7%2FprofileImage%2F8220395f-c776-40bd-bced-f075a2315cdf.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1920&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">서현</div>
                                        <button type="button" class="x-btn">
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="x-btn-svg">
                                                <path d="M5.707 5.707a1 1 0 0 0 0 1.414l4.95 4.95-4.95 4.95a1 1 0 1 0 1.414 1.414l4.95-4.95 4.95 4.95a1 1 0 0 0 1.414-1.414l-4.95-4.95 4.95-4.95a1 1 0 1 0-1.414-1.414l-4.95 4.95-4.95-4.95a1 1 0 0 0-1.414 0Z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    좋은 활동 후기보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!-- 다른 사람들 댓글 x버튼 없음 -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F0eb256b8-30cb-476b-a26d-855c97426ae8%2FprofileImage%2Ff0f31273-16c9-4f53-9aa2-2ad51cf7ce28.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">시금</div>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    너무 도움이 되는 활동 후기를 보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!--  -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F0eb256b8-30cb-476b-a26d-855c97426ae8%2FprofileImage%2Ff0f31273-16c9-4f53-9aa2-2ad51cf7ce28.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">시금</div>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    너무 도움이 되는 활동 후기를 보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!--  -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F0eb256b8-30cb-476b-a26d-855c97426ae8%2FprofileImage%2Ff0f31273-16c9-4f53-9aa2-2ad51cf7ce28.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">시금</div>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    너무 도움이 되는 활동 후기를 보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!--  -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F0eb256b8-30cb-476b-a26d-855c97426ae8%2FprofileImage%2Ff0f31273-16c9-4f53-9aa2-2ad51cf7ce28.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">시금</div>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    너무 도움이 되는 활동 후기를 보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!--  -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F0eb256b8-30cb-476b-a26d-855c97426ae8%2FprofileImage%2Ff0f31273-16c9-4f53-9aa2-2ad51cf7ce28.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">시금</div>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    너무 도움이 되는 활동 후기를 보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!--  -->
                        </ul>
                        <!--  -->
                        <div style="height: 24px;"></div>
                        <div id="comment-btn">
                            <button class="comment-btn">
                                <div class="comment-text">
                                    댓글 더 보기
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="comment-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.27 8.42a1.076 1.076 0 0 1 1.587-.13L12 14.832l7.143-6.544a1.076 1.076 0 0 1 1.586.13 1.26 1.26 0 0 1-.122 1.696L12 18l-8.607-7.885A1.26 1.26 0 0 1 3.27 8.42Z"></path></svg>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div style="height: 40px;"></div>
                    <div class="border-line"></div>
                    <div style="height: 28px;"></div>
                    <section></section>
                    <h4 class="another-review">
                        <div class="another-review-container">
                            <span class="another-review-text">다른 심청이의 최신 활동 후기</span>
                        </div>
                    </h4>
                    <ul class="new-post-container">
                        <!--  -->
                        <li class="new-post">
                            <div>
                                <button class="new-post-btn">
                                    <div class="post-container">
                                        <div class="post-wrapper">
                                            <h2 class="post-title">의미없는 정답공개</h2>
                                            <p class="post-contant">
                                                쉽다고 생각은 했지만 정답이라니 치욕스럽습니다,,(?)정답은 나무 맞구요??ㅋㅋㅋㅋ 노란색 나무라도 한 그루 그렸으면 좀 헷갈리셨을텐데 말이죠.
                                            </p>
                                        </div>
                                        <div class="post-profile-container">
                                            <span class="post-profile-span">
                                                <img class="post-profile-img" src="https://steadio.imgix.net/creator-posts/58b04467-0a9c-4aaf-8986-716a09f9afa9/creatorPostImage/9e11911b-906e-4357-a35e-7fde70f8eb06.JPG?auto=format%2Ccompress&fit=crop&h=420&lossless=true&w=680">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-user-container">
                                        <div class="post-user-profile"></div>
                                        <div class="post-user-info">
                                            <span class="post-user-name">
                                                아랑의 작업실
                                            </span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-day">2일 전</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-see">조회수 38</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <!--  -->
                        <li class="new-post">
                            <div>
                                <button class="new-post-btn">
                                    <div class="post-container">
                                        <div class="post-wrapper">
                                            <h2 class="post-title">의미없는 정답공개</h2>
                                            <p class="post-contant">
                                                쉽다고 생각은 했지만 정답이라니 치욕스럽습니다,,(?)정답은 나무 맞구요??ㅋㅋㅋㅋ 노란색 나무라도 한 그루 그렸으면 좀 헷갈리셨을텐데 말이죠.
                                            </p>
                                        </div>
                                        <div class="post-profile-container">
                                            <span class="post-profile-span">
                                                <img class="post-profile-img" src="https://steadio.imgix.net/creator-posts/58b04467-0a9c-4aaf-8986-716a09f9afa9/creatorPostImage/9e11911b-906e-4357-a35e-7fde70f8eb06.JPG?auto=format%2Ccompress&fit=crop&h=420&lossless=true&w=680">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-user-container">
                                        <div class="post-user-profile"></div>
                                        <div class="post-user-info">
                                            <span class="post-user-name">
                                                아랑의 작업실
                                            </span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-day">2일 전</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-see">조회수 38</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <!--  -->
                        <li class="new-post">
                            <div>
                                <button class="new-post-btn">
                                    <div class="post-container">
                                        <div class="post-wrapper">
                                            <h2 class="post-title">의미없는 정답공개</h2>
                                            <p class="post-contant">
                                                쉽다고 생각은 했지만 정답이라니 치욕스럽습니다,,(?)정답은 나무 맞구요??ㅋㅋㅋㅋ 노란색 나무라도 한 그루 그렸으면 좀 헷갈리셨을텐데 말이죠.
                                            </p>
                                        </div>
                                        <div class="post-profile-container">
                                            <span class="post-profile-span">
                                                <img class="post-profile-img" src="https://steadio.imgix.net/creator-posts/58b04467-0a9c-4aaf-8986-716a09f9afa9/creatorPostImage/9e11911b-906e-4357-a35e-7fde70f8eb06.JPG?auto=format%2Ccompress&fit=crop&h=420&lossless=true&w=680">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-user-container">
                                        <div class="post-user-profile"></div>
                                        <div class="post-user-info">
                                            <span class="post-user-name">
                                                아랑의 작업실
                                            </span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-day">2일 전</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-see">조회수 38</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <!--  -->
                        <li class="new-post">
                            <div>
                                <button class="new-post-btn">
                                    <div class="post-container">
                                        <div class="post-wrapper">
                                            <h2 class="post-title">의미없는 정답공개</h2>
                                            <p class="post-contant">
                                                쉽다고 생각은 했지만 정답이라니 치욕스럽습니다,,(?)정답은 나무 맞구요??ㅋㅋㅋㅋ 노란색 나무라도 한 그루 그렸으면 좀 헷갈리셨을텐데 말이죠.
                                            </p>
                                        </div>
                                        <div class="post-profile-container">
                                            <span class="post-profile-span">
                                                <img class="post-profile-img" src="https://steadio.imgix.net/creator-posts/58b04467-0a9c-4aaf-8986-716a09f9afa9/creatorPostImage/9e11911b-906e-4357-a35e-7fde70f8eb06.JPG?auto=format%2Ccompress&fit=crop&h=420&lossless=true&w=680">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-user-container">
                                        <div class="post-user-profile"></div>
                                        <div class="post-user-info">
                                            <span class="post-user-name">
                                                아랑의 작업실
                                            </span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-day">2일 전</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-see">조회수 38</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <!--  -->
                        <li class="new-post">
                            <div>
                                <button class="new-post-btn">
                                    <div class="post-container">
                                        <div class="post-wrapper">
                                            <h2 class="post-title">의미없는 정답공개</h2>
                                            <p class="post-contant">
                                                쉽다고 생각은 했지만 정답이라니 치욕스럽습니다,,(?)정답은 나무 맞구요??ㅋㅋㅋㅋ 노란색 나무라도 한 그루 그렸으면 좀 헷갈리셨을텐데 말이죠.
                                            </p>
                                        </div>
                                        <div class="post-profile-container">
                                            <span class="post-profile-span">
                                                <img class="post-profile-img" src="https://steadio.imgix.net/creator-posts/58b04467-0a9c-4aaf-8986-716a09f9afa9/creatorPostImage/9e11911b-906e-4357-a35e-7fde70f8eb06.JPG?auto=format%2Ccompress&fit=crop&h=420&lossless=true&w=680">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-user-container">
                                        <div class="post-user-profile"></div>
                                        <div class="post-user-info">
                                            <span class="post-user-name">
                                                아랑의 작업실
                                            </span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-day">2일 전</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-see">조회수 38</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <!--  -->
                    </ul>

                    <!-- 더보기 -->
                    <div class="more">
                        <button class="more-btn" type="button">
                            더보기
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="more-svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="m20.023 11.886-7 7a.9.9 0 0 1-1.273-1.273l4.827-4.827H5.15a.9.9 0 0 1 0-1.8h11.427L11.75 6.16a.9.9 0 1 1 1.273-1.273l7 7Z"></path>
                            </svg>
                        </button>
                    </div>
                </main>
            </div>
            <footer class="footer">
                <div class="footer-container">
                    <div class="footer-wrapper">
                        <div style="display: flex;">
                            <button class="footer-btn">
                                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="footer-svg"><path clip-rule="evenodd" d="M8.144 13.563v2l2.543-2h2.396a2.74 2.74 0 0 0 2.741-2.74V7.073a2.74 2.74 0 0 0-2.74-2.74h-6.01a2.74 2.74 0 0 0-2.74 2.74v4.012a2.477 2.477 0 0 0 2.477 2.477h1.333Zm-.104 3.778a.815.815 0 0 1-1.23-.702v-1.743A3.81 3.81 0 0 1 3 11.086V7.074A4.074 4.074 0 0 1 7.074 3h6.01a4.074 4.074 0 0 1 4.073 4.074v3.748a4.074 4.074 0 0 1-4.074 4.074h-1.935L8.04 17.341Z"></path><path d="M8.167 9a.667.667 0 1 1-1.334 0 .667.667 0 0 1 1.334 0ZM10.667 9a.667.667 0 1 1-1.334 0 .667.667 0 0 1 1.334 0ZM13.167 9a.667.667 0 1 1-1.334 0 .667.667 0 0 1 1.334 0Z"></path></svg>
                                <span style="margin-left: 4px;">6</span>
                            </button>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
     <!--  -->
     <!-- 댓글 삭제 모달창 -->
     <div>
         <div class="modal">
            <h4 class="modal-title">댓글 삭제</h4>
            <div class="modal-content">댓글을 삭제하시겠습니까?</div>
            <div class="modal-choce">
                <div class="choce1">
                    <button class="choce1-btn">취소</button>
                </div>
                <div class="choce2">
                    <button class="choce2-btn">삭제</button>
                </div>
            </div>
         </div>
         <div class="modal-back"></div>
     </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/community/free-detail.js"></script>
</html>