<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>심봉사 | 자유게시판 상세페이지</title>
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/community/free-detail.css">
    <link rel="stylesheet" href="../../static/js/community/free-detail.js">
    <link rel="stylesheet" href="../../static/css/main/header.css">
</head>
<body>
    <!-- 헤더 -->
    <!-- 로그인시 -->
    <div class="full-screen">
        <header class="header-layout">
            <div class="header-wrapper">
                <div class="header-upper-layout">
                    <div class="logo-wrapper"></div>
                    <div class="status-wrapper">
                        <div class="button-wrapper">
                            <div class="icon-wrapper">
                                <svg class="search-icon">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9979 32.9819C27.3165 34.9694 23.9582 36.0788 20.3642 35.9089C12.0892 35.5176 5.69811 28.4922 6.08938 20.2171C6.48064 11.9421 13.5061 5.55107 21.7811 5.94234C30.0561 6.33361 36.4472 13.359 36.0559 21.6341C35.889 25.1636 34.5152 28.3505 32.3522 30.8144L39.4908 38.6856L37.1205 40.8353L29.9979 32.9819ZM32.6597 21.4735C32.3571 27.8728 26.9241 32.8152 20.5248 32.5127C14.1254 32.2101 9.183 26.7771 9.48558 20.3777C9.78816 13.9784 15.2212 9.03597 21.6205 9.33855C28.0199 9.64113 32.9623 15.0741 32.6597 21.4735Z" fill="black"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="header-button">후원하기</div>
                        <div class="button-wrapper">
                            <div class="icon-wrapper">
                                <svg class="like-icon" width="48" height="48" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9996 13.623L20.6051 10.5561C17.2106 7.48978 11.57 8.17753 8.48147 11.5785C4.60233 15.6667 4.60214 22.5859 8.70675 26.9121L24 41.8811L39.2923 26.9121C43.3969 22.5859 43.3971 15.6675 39.5176 11.5785C36.4291 8.17753 30.7888 7.48991 27.3942 10.5561L23.9996 13.623ZM37.0081 24.6701C39.9446 21.533 39.8523 16.5805 37.1962 13.781L37.1721 13.7556L37.1487 13.7298C35.0533 11.4225 31.4219 11.2305 29.5394 12.9306L23.9996 17.9356L18.4601 12.9308C16.5777 11.2306 12.9458 11.4224 10.8504 13.7298L10.8269 13.7557L10.8028 13.7811C8.14716 16.5799 8.05453 21.533 10.9909 24.6701L23.9999 37.4033L37.0081 24.6701Z" fill="black"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="button-wrapper">
                            <div class="icon-wrapper">
                                <svg class="notification-icon" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7501 3.5C10.6121 3.5 10.5001 3.61193 10.5001 3.75V4.16109C7.35495 4.84777 5.00013 7.64889 5.00013 11V14.6875L4.53246 18.7212C4.51524 18.8697 4.63131 19 4.78079 19H19.2195C19.369 19 19.485 18.8697 19.4678 18.7212L19.0001 14.6875V11C19.0001 7.64888 16.6453 4.84775 13.5001 4.16109V3.75C13.5001 3.61193 13.3882 3.5 13.2501 3.5H10.7501ZM6.29636 17.4L6.60013 14.7799V11C6.60013 8.01766 9.01779 5.6 12.0001 5.6C14.9825 5.6 17.4001 8.01766 17.4001 11V14.7799L17.7039 17.4H6.29636Z" fill="#191919"></path>
                                    <path d="M10.0001 20H14.5001C14.5001 20.8284 13.8285 21.5 13.0001 21.5H11.5001C10.6717 21.5 10.0001 20.8284 10.0001 20Z" fill="#191919"></path>
                                </svg> 
                            </div>
                        </div>
                        <div class="login-user-button-wrapper">
                            <div class="user-button-layout">
                                <div style="margin:0; padding:0;" class="user-avatar">
                                    <span style="margin:0;padding:0;" class="profile-img"></span>
                                </div>
                                <div class="user-text">주연</div>
                            </div>
                        </div>
                        <div id="show">
                            <!-- JS로 처리 -->
                            <!-- <div class="my-user-wrapper">
                                <div class="user-menu-list">
                                    <div class="menu-item">프로필</div>
                                    <div class="menu-item">응원권</div>
                                    <div class="menu-item-divider"></div>
                                    <div class="menu-item">후원현황</div>
                                    <div class="menu-item">관심 프로젝트</div>
                                    <div class="menu-item">팔로우</div>
                                    <div class="menu-item-divider"></div>
                                    <div class="menu-item">알림</div>
                                    <div class="menu-item">메시지</div>
                                    <div class="menu-item-divider"></div>
                                    <div class="menu-item">내가 만든 프로젝트</div>
                                    <div class="menu-item">설정</div>
                                    <div class="menu-item-divider"></div>
                                    <div class="menu-item">로그아웃</div>
                                </div>
                            </div>
                            <div class="user-dimmed-layout"></div> -->
                        </div>
                    </div>
                </div>
                <div class="header-content-layout">
                    <div class="search-bar">
                        <div class="category-section">
                            <div class="category-wrapper category-extend-select" style="padding:0%">
                                <div class="icon-wrapper" style="margin: 0px 8px 0px 0px;">
                                    <div class="menu-icon"></div>
                                </div>
                                카테고리
                            </div>
                            <div class="category-wrapper category-select">홈</div>
                            <div class="category-wrapper">후원</div>
                            <div class="category-wrapper">펀딩</div>
                            <div class="category-wrapper">커뮤니티</div>
                            <div class="category-wrapper">캘린더</div>
                            <div class="category-wrapper">복지센터</div>
                            <div class="category-wrapper">심봉사소개</div>
                        </div>
                        <div class="search-input-wrapper">
                            <input class="search-input" type="text" placeholder="검색어를 입력해주세요.">
                            <div class="search-button">
                                <svg class="search-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M29.9979 32.9819C27.3165 34.9694 23.9582 36.0788 20.3642 35.9089C12.0892 35.5176 5.69811 28.4922 6.08938 20.2171C6.48064 11.9421 13.5061 5.55107 21.7811 5.94234C30.0561 6.33361 36.4472 13.359 36.0559 21.6341C35.889 25.1636 34.5152 28.3505 32.3522 30.8144L39.4908 38.6856L37.1205 40.8353L29.9979 32.9819ZM32.6597 21.4735C32.3571 27.8728 26.9241 32.8152 20.5248 32.5127C14.1254 32.2101 9.183 26.7771 9.48558 20.3777C9.78816 13.9784 15.2212 9.03597 21.6205 9.33855C28.0199 9.64113 32.9623 15.0741 32.6597 21.4735Z" fill="black"></path></svg>
                            </div>
                        </div>
                    </div>
                    <div class="extended-category-section category-extend-select">
                        <div class="extended-categeory-header">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0446 10.5249L6.49306 5L5.02166 6.46433L10.5732 11.9892L5 17.5357L6.4714 19L12.0446 13.4536L17.5286 18.9112L19 17.4468L13.516 11.9892L18.9783 6.55317L17.5069 5.08884L12.0446 10.5249Z" fill="#0D0D0D"></path>
                            </svg>
                        </div>
                        <div class="category-container">
                            <div class="style-depth-category-wrapper">
                                <div class="depth-category-group">
                                    <div class="depth-category">
                                        <div class="depth-category-icon">
                                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                        </div>
                                        <div class="depth-category-text">전체</div>
                                    </div>
                                    <div class="depth-category">
                                        <div class="depth-category-icon">
                                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                        </div>
                                        <div class="depth-category-text">보드게임</div>
                                    </div>
                                    <div class="depth-category">
                                        <div class="depth-category-icon">
                                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                        </div>
                                        <div class="depth-category-text">디지털게임</div>
                                    </div>
                                    <div class="depth-category">
                                        <div class="depth-category-icon">
                                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                        </div>
                                        <div class="depth-category-text">웹툰만화</div>
                                    </div>
                                    <div class="depth-category">
                                        <div class="depth-category-icon">
                                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                        </div>
                                        <div class="depth-category-text">웹툰리소스</div>
                                    </div>
                                </div>
                                <div class="depth-category-group"></div>
                                <div class="depth-category-group"></div>
                                <div class="depth-category-group"></div>
                                <div class="depth-category-group"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>


    <!-- 로그아웃시 -->
    <!-- <div class="full-screen">
        <header class="header-layout">
            <div class="header-wrapper">
                <div class="header-upper-layout">
                    <div class="logo-wrapper"></div>
                    <div class="status-wrapper">
                        <div class="button-wrapper">
                            <div class="icon-wrapper">
                                <svg class="search-icon">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9979 32.9819C27.3165 34.9694 23.9582 36.0788 20.3642 35.9089C12.0892 35.5176 5.69811 28.4922 6.08938 20.2171C6.48064 11.9421 13.5061 5.55107 21.7811 5.94234C30.0561 6.33361 36.4472 13.359 36.0559 21.6341C35.889 25.1636 34.5152 28.3505 32.3522 30.8144L39.4908 38.6856L37.1205 40.8353L29.9979 32.9819ZM32.6597 21.4735C32.3571 27.8728 26.9241 32.8152 20.5248 32.5127C14.1254 32.2101 9.183 26.7771 9.48558 20.3777C9.78816 13.9784 15.2212 9.03597 21.6205 9.33855C28.0199 9.64113 32.9623 15.0741 32.6597 21.4735Z" fill="black"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="header-button">후원하기</div>
                        <div class="login-user-button-wrapper">
                            <div class="user-button-layout">
                                <div class="user-avatar">
                                    <svg class="avatar-icon">
                                        <path class="avatar-icon-svg-path" d="M41.8081 40.2C40.6938 32.1539 34.8597 26 27.852 26H20.1498C13.1405 26 7.30625 32.1539 6.19186 40.2C6.06567 41.1111 6 42.0465 6 43H42C42 42.0465 41.9343 41.1111 41.8081 40.2Z" fill="#0D0D0D"></path>
                                        <path class="avatar-icon-svg-path" d="M24 23C28.9639 23 33 18.9626 33 14C33 9.0374 28.9639 5 24 5C19.0379 5 15 9.0374 15 14C15 18.9626 19.0379 23 24 23Z" fill="#0D0D0D"></path>
                                    </svg>
                                </div>
                                <div class="user-text">로그인/회원가입</div>
                            </div>
                        </div>
                        <div id="show">
                            <!-- JS로 처리 -->
                            <!-- <div class="my-user-wrapper">
     <!-- 전체 div -->
     <div>
        <div style="background-color: #fff;">
            <div class="main">
                <main class="main-main">
                    <h3 class="main-title">그 봄. 아직 봄.</h3>
                    <div class="user">
                        <div class="user-info">
                            <div>
                                <div class="user-profile"></div>
                            </div>
                            <div>
                                <div>
                                    <p class="user-name">케토루</p>
                                </div>
                                <div class="user-see">
                                    <span>5시간 전</span>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                    <span>조회수 25</span>
                                </div>
                            </div>
                        </div>
                        <div class="link">
                            <div class="link-container">
                                <button class="link-btn">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="link-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 6a3 3 0 0 1-5.022 2.216l-5.01 3.34c.018.127.029.255.031.385l4.84 2.978a3 3 0 1 1-.83 1.838l-4.672-2.876a3 3 0 1 1-.315-4.098l5.01-3.34A3 3 0 1 1 20 6Z"></path></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="review-contant">
                        <div class="review-post">
                            <div class="img-wrapper">
                                <img src="https://steadio.imgix.net/creator-posts/079d1a28-343d-4f6a-8889-e9328964aafd/creatorPostImage/269f44f6-9d34-47bb-83a2-7d99d86a5280.jpg?auto=format%2Ccompress&fit=max&lossless=true&w=1240">
                            </div>
                        </div>
                        <div style="height: 40px;"></div>
                    </div>
                    <section class="review-user">
                        <div>
                            <button class="review-user-btn">
                                <span class="review-user-btn-span">
                                    <img class="review-user-btn-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F079d1a28-343d-4f6a-8889-e9328964aafd%2FprofileImage%2F24a11a11-b126-40b6-bccf-bca689207935.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                </span>
                            </button>
                        </div>
                        <div>
                            <div class="review-user-name">
                                <button class="review-user-name-btn">케토루</button>
                                <p class="review-user-intro">귀여운 그림을 많이 그립니다.</p>
                            </div>
                        </div>
                    </section>
                    <div class="review-line"></div>
                    <div style="height: 28px;"></div>
                    <div>
                        <h4 class="comment">댓글</h4>
                        <div style="height: 24px;"></div>
                        <!-- 로그인 안했을때 -->
                        <div class="comment-box" style="display: none;">
                            <div class="comment-box-container">
                                <div class="comment-box-wrapper">
                                    <span class="comment-box-p">댓글을 작성하려면 로그인을 해주세요.</span>
                                </div>
                                <div class="comment-Nologin">
                                    <button class="comment-Nologin-btn">로그인</button>
                                </div>
                            </div>
                        </div>
                        <!-- 로그인 했을때 -->
                        <div class="comment-box2">
                            <div class="comment-box-wrapper2">
                                <div class="comment-login">
                                    <div class="comment-login-profile">
                                        <span class="profile-span">
                                            <img class="profile-img" style="margin: 0;" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2Fd7afcbbb-8376-4a2e-89a1-7d379ba76ea7%2FprofileImage%2F8220395f-c776-40bd-bced-f075a2315cdf.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1920&q=75">
                                        </span>
                                    </div>
                                </div>
                                <textarea class="comment-box-span" placeholder="댓글을 작성해 주세요..."></textarea>
                            </div>
                            <div class="singUp-btn">
                                <button class="singUp1">취소</button>
                                <button class="singUp">등록</button>
                            </div>
                        </div>
                        <!--  -->
                        <div style="height: 33px;"></div>
                        <!-- 댓글 없을때 -->
                        <div class="comment-list" style="display: none;">
                            <p class="NoComment">댓글이 없습니다.</p>
                            <p class="NoComment2">첫 댓글을 남겨보세요</p>
                        </div>

                        <!-- 댓글 있을때 -->
                        <ul>
                            <!-- 내가 쓴 댓글일 경우 -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2Fd7afcbbb-8376-4a2e-89a1-7d379ba76ea7%2FprofileImage%2F8220395f-c776-40bd-bced-f075a2315cdf.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1920&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">서현</div>
                                        <button type="button" class="x-btn">
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="x-btn-svg">
                                                <path d="M5.707 5.707a1 1 0 0 0 0 1.414l4.95 4.95-4.95 4.95a1 1 0 1 0 1.414 1.414l4.95-4.95 4.95 4.95a1 1 0 0 0 1.414-1.414l-4.95-4.95 4.95-4.95a1 1 0 1 0-1.414-1.414l-4.95 4.95-4.95-4.95a1 1 0 0 0-1.414 0Z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    좋은 활동 후기보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!-- 다른 사람들 댓글 x버튼 없음 -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F0eb256b8-30cb-476b-a26d-855c97426ae8%2FprofileImage%2Ff0f31273-16c9-4f53-9aa2-2ad51cf7ce28.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">시금</div>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    너무 도움이 되는 활동 후기를 보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!--  -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F0eb256b8-30cb-476b-a26d-855c97426ae8%2FprofileImage%2Ff0f31273-16c9-4f53-9aa2-2ad51cf7ce28.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">시금</div>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    너무 도움이 되는 활동 후기를 보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!--  -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F0eb256b8-30cb-476b-a26d-855c97426ae8%2FprofileImage%2Ff0f31273-16c9-4f53-9aa2-2ad51cf7ce28.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">시금</div>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    너무 도움이 되는 활동 후기를 보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!--  -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F0eb256b8-30cb-476b-a26d-855c97426ae8%2FprofileImage%2Ff0f31273-16c9-4f53-9aa2-2ad51cf7ce28.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">시금</div>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    너무 도움이 되는 활동 후기를 보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!--  -->
                            <li class="comment-ok-list">
                                <div class="comment-profile">
                                    <div class="comment-profile-container">
                                        <span class="comment-profile-span">
                                            <img class="comment-profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F0eb256b8-30cb-476b-a26d-855c97426ae8%2FprofileImage%2Ff0f31273-16c9-4f53-9aa2-2ad51cf7ce28.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-user">
                                        <div class="comment-user-name">시금</div>
                                    </div>
                                    <div style="flex: 0 0 auto; height: 5px;"></div>
                                    <p class="comment-contant"></p>
                                    너무 도움이 되는 활동 후기를 보고 갑니다.
                                    <div style="flex: 0 0 auto; height: 8px;"></div>
                                    <span class="comment-day">1일 전</span>
                                </div>
                            </li>
                            <!--  -->
                        </ul>
                        <!--  -->
                    </div>
                    <div style="height: 40px;"></div>
                    <div class="border-line"></div>
                    <div style="height: 28px;"></div>
                    <section></section>
                    <h4 class="another-review">
                        <div class="another-review-container">
                            <span class="another-review-text">다른 심청이의 최신 활동 후기</span>
                        </div>
                    </h4>
                    <ul class="new-post-container">
                        <!--  -->
                        <li class="new-post">
                            <div>
                                <button class="new-post-btn">
                                    <div class="post-container">
                                        <div class="post-wrapper">
                                            <h2 class="post-title">의미없는 정답공개</h2>
                                            <p class="post-contant">
                                                쉽다고 생각은 했지만 정답이라니 치욕스럽습니다,,(?)정답은 나무 맞구요??ㅋㅋㅋㅋ 노란색 나무라도 한 그루 그렸으면 좀 헷갈리셨을텐데 말이죠.
                                            </p>
                                        </div>
                                        <div class="post-profile-container">
                                            <span class="post-profile-span">
                                                <img class="post-profile-img" src="https://steadio.imgix.net/creator-posts/58b04467-0a9c-4aaf-8986-716a09f9afa9/creatorPostImage/9e11911b-906e-4357-a35e-7fde70f8eb06.JPG?auto=format%2Ccompress&fit=crop&h=420&lossless=true&w=680">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-user-container">
                                        <div class="post-user-profile"></div>
                                        <div class="post-user-info">
                                            <span class="post-user-name">
                                                아랑의 작업실
                                            </span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-day">2일 전</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-see">조회수 38</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <!--  -->
                        <li class="new-post">
                            <div>
                                <button class="new-post-btn">
                                    <div class="post-container">
                                        <div class="post-wrapper">
                                            <h2 class="post-title">의미없는 정답공개</h2>
                                            <p class="post-contant">
                                                쉽다고 생각은 했지만 정답이라니 치욕스럽습니다,,(?)정답은 나무 맞구요??ㅋㅋㅋㅋ 노란색 나무라도 한 그루 그렸으면 좀 헷갈리셨을텐데 말이죠.
                                            </p>
                                        </div>
                                        <div class="post-profile-container">
                                            <span class="post-profile-span">
                                                <img class="post-profile-img" src="https://steadio.imgix.net/creator-posts/58b04467-0a9c-4aaf-8986-716a09f9afa9/creatorPostImage/9e11911b-906e-4357-a35e-7fde70f8eb06.JPG?auto=format%2Ccompress&fit=crop&h=420&lossless=true&w=680">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-user-container">
                                        <div class="post-user-profile"></div>
                                        <div class="post-user-info">
                                            <span class="post-user-name">
                                                아랑의 작업실
                                            </span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-day">2일 전</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-see">조회수 38</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <!--  -->
                        <li class="new-post">
                            <div>
                                <button class="new-post-btn">
                                    <div class="post-container">
                                        <div class="post-wrapper">
                                            <h2 class="post-title">의미없는 정답공개</h2>
                                            <p class="post-contant">
                                                쉽다고 생각은 했지만 정답이라니 치욕스럽습니다,,(?)정답은 나무 맞구요??ㅋㅋㅋㅋ 노란색 나무라도 한 그루 그렸으면 좀 헷갈리셨을텐데 말이죠.
                                            </p>
                                        </div>
                                        <div class="post-profile-container">
                                            <span class="post-profile-span">
                                                <img class="post-profile-img" src="https://steadio.imgix.net/creator-posts/58b04467-0a9c-4aaf-8986-716a09f9afa9/creatorPostImage/9e11911b-906e-4357-a35e-7fde70f8eb06.JPG?auto=format%2Ccompress&fit=crop&h=420&lossless=true&w=680">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-user-container">
                                        <div class="post-user-profile"></div>
                                        <div class="post-user-info">
                                            <span class="post-user-name">
                                                아랑의 작업실
                                            </span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-day">2일 전</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-see">조회수 38</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <!--  -->
                        <li class="new-post">
                            <div>
                                <button class="new-post-btn">
                                    <div class="post-container">
                                        <div class="post-wrapper">
                                            <h2 class="post-title">의미없는 정답공개</h2>
                                            <p class="post-contant">
                                                쉽다고 생각은 했지만 정답이라니 치욕스럽습니다,,(?)정답은 나무 맞구요??ㅋㅋㅋㅋ 노란색 나무라도 한 그루 그렸으면 좀 헷갈리셨을텐데 말이죠.
                                            </p>
                                        </div>
                                        <div class="post-profile-container">
                                            <span class="post-profile-span">
                                                <img class="post-profile-img" src="https://steadio.imgix.net/creator-posts/58b04467-0a9c-4aaf-8986-716a09f9afa9/creatorPostImage/9e11911b-906e-4357-a35e-7fde70f8eb06.JPG?auto=format%2Ccompress&fit=crop&h=420&lossless=true&w=680">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-user-container">
                                        <div class="post-user-profile"></div>
                                        <div class="post-user-info">
                                            <span class="post-user-name">
                                                아랑의 작업실
                                            </span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-day">2일 전</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-see">조회수 38</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <!--  -->
                        <li class="new-post">
                            <div>
                                <button class="new-post-btn">
                                    <div class="post-container">
                                        <div class="post-wrapper">
                                            <h2 class="post-title">의미없는 정답공개</h2>
                                            <p class="post-contant">
                                                쉽다고 생각은 했지만 정답이라니 치욕스럽습니다,,(?)정답은 나무 맞구요??ㅋㅋㅋㅋ 노란색 나무라도 한 그루 그렸으면 좀 헷갈리셨을텐데 말이죠.
                                            </p>
                                        </div>
                                        <div class="post-profile-container">
                                            <span class="post-profile-span">
                                                <img class="post-profile-img" src="https://steadio.imgix.net/creator-posts/58b04467-0a9c-4aaf-8986-716a09f9afa9/creatorPostImage/9e11911b-906e-4357-a35e-7fde70f8eb06.JPG?auto=format%2Ccompress&fit=crop&h=420&lossless=true&w=680">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-user-container">
                                        <div class="post-user-profile"></div>
                                        <div class="post-user-info">
                                            <span class="post-user-name">
                                                아랑의 작업실
                                            </span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-day">2일 전</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="post-user-svg"><circle cx="12" cy="12" r="4"></circle></svg>
                                            <span class="post-user-see">조회수 38</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <!--  -->
                    </ul>

                    <!-- 더보기 -->
                    <div class="more">
                        <button class="more-btn" type="button">
                            더보기
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="more-svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="m20.023 11.886-7 7a.9.9 0 0 1-1.273-1.273l4.827-4.827H5.15a.9.9 0 0 1 0-1.8h11.427L11.75 6.16a.9.9 0 1 1 1.273-1.273l7 7Z"></path>
                            </svg>
                        </button>
                    </div>
                </main>
            </div>
            <footer class="footer">
                <div class="footer-container">
                    <div class="footer-wrapper">
                        <div style="display: flex;">
                            <button class="footer-btn">
                                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="footer-svg"><path clip-rule="evenodd" d="M8.144 13.563v2l2.543-2h2.396a2.74 2.74 0 0 0 2.741-2.74V7.073a2.74 2.74 0 0 0-2.74-2.74h-6.01a2.74 2.74 0 0 0-2.74 2.74v4.012a2.477 2.477 0 0 0 2.477 2.477h1.333Zm-.104 3.778a.815.815 0 0 1-1.23-.702v-1.743A3.81 3.81 0 0 1 3 11.086V7.074A4.074 4.074 0 0 1 7.074 3h6.01a4.074 4.074 0 0 1 4.073 4.074v3.748a4.074 4.074 0 0 1-4.074 4.074h-1.935L8.04 17.341Z"></path><path d="M8.167 9a.667.667 0 1 1-1.334 0 .667.667 0 0 1 1.334 0ZM10.667 9a.667.667 0 1 1-1.334 0 .667.667 0 0 1 1.334 0ZM13.167 9a.667.667 0 1 1-1.334 0 .667.667 0 0 1 1.334 0Z"></path></svg>
                                <span style="margin-left: 4px;">6</span>
                            </button>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
     <!--  -->
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</html>