<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>심봉사 | 봉사 모집 게시판</title>
    <link rel="stylesheet" href="../../static/css/community/service-board.css">
    <link rel="stylesheet" href="/static/css/font/font.css">
</head>
<body>
    <!-- 헤더 -->

    <!-- 전체 div -->
    <div style="background-color: #fff;">
        <!-- 배너 -->
        <div></div>
        <!-- 중간 메인 -->
        <div></div>
    </div>
    <!-- 푸터 -->
</body>
</html>