<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>
    <div class="full-screen">
        <footer id="main-footer" th:fragment="mainFooter" class="footer-wrapper">
            <div class="footer-link-wrapper">
                <div class="footer-site-map-wrapper">
                    <div class="footer-site-map">
                        <div class="footer-link-column" style="min-width:160px">
                            <div class="footer-link-site-map-title">심봉사</div>
                            <a href="/inquiry/notice" class="link-site-map" target="_blank">
                                <span class="site-map-text">공지사항</span>
                            </a>
                            <a href="/inquiry/faq" class="link-site-map" target="_blank">
                                <span class="site-map-text">FAQ</span>
                            </a>
                            <a href="#" class="link-site-map" target="_blank">

                            </a>


                        </div>
                        <div class="footer-link-column" style="min-width:160px">
                            <div class="footer-link-site-map-title">이용안내</div>


                            <a href="/main/info" class="link-site-map" target="_blank">
                                <em>
                                    <span class="site-map-text">서비스소개</span>
                                </em>
                            </a>


                        </div>
                        <div class="footer-link-column" style="min-width:160px">
                            <div class="footer-link-site-map-title">정책</div>
                            <a href="/service/conditions" class="link-site-map" target="_blank">
                                <span class="site-map-text">이용약관 소개</span>
                            </a>
                            <a href="/service/privacy" class="link-site-map" target="_blank" style="font-weight:700">
                                <span class="site-map-text">개인정보 처리방침</span>
                            </a>

                        </div>
                    </div>

                </div>
                <div class="footer-link-customer">
                    <div class="footer-link-customer-title">고객지원</div>
                    <div class="footer-link-customer-date">평일 9:00 ~ 17:00 (12:00 ~14:00 제외)</div>
                    <a class="footer-link-customer-channel-talk" th:if="${session.member != null}">심봉사 문의하기</a>
                </div>
            </div>
            <div class="footer-company-wrapper">
                <div class="footer-company">
                    <div class="footer-company-item">
                        <strong>회사명</strong>
                        <span>심봉사(주)</span>
                    </div>
                    <div class="footer-company-item">
                        <strong>주소</strong>
                        <span>서울특별시 강남구 테헤란로 146, 4층(역삼동)</span>
                    </div>
                    <div class="footer-company-item">
                        <strong>대표</strong>
                        <span>황자현</span>
                    </div>
                    <div class="footer-company-item">
                        <strong>사업자등록번호</strong>
                        <span>000-00-00000</span>
                    </div>
                    <div class="footer-company-item">
                        <strong>통신판매업 신고번호</strong>
                        <span>2023-서울서초-0000</span>
                    </div>
                    <div class="footer-company-item">
                        <strong>대표번호</strong>
                        <span>02-0000-0000</span>
                    </div>
                    <div class="footer-copyright">
                        ©
                        2023
                        Simbongsa Inc.
                    </div>
                </div>

            </div>
        </footer>
    </div>
</body>
</html>