<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>
    <div class="full-screen">
        <header id="main-header" th:fragment="mainHeader" class="header-layout">
            <div class="header-wrapper">
                <div class="header-upper-layout">
                   <a href="/main/main"> <div class="logo-wrapper"></div></a>
                    <div class="status-wrapper">
                        <div class="button-wrapper">
                            <div class="icon-wrapper">
                                <svg class="search-icon">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9979 32.9819C27.3165 34.9694 23.9582 36.0788 20.3642 35.9089C12.0892 35.5176 5.69811 28.4922 6.08938 20.2171C6.48064 11.9421 13.5061 5.55107 21.7811 5.94234C30.0561 6.33361 36.4472 13.359 36.0559 21.6341C35.889 25.1636 34.5152 28.3505 32.3522 30.8144L39.4908 38.6856L37.1205 40.8353L29.9979 32.9819ZM32.6597 21.4735C32.3571 27.8728 26.9241 32.8152 20.5248 32.5127C14.1254 32.2101 9.183 26.7771 9.48558 20.3777C9.78816 13.9784 15.2212 9.03597 21.6205 9.33855C28.0199 9.64113 32.9623 15.0741 32.6597 21.4735Z" fill="black"></path>
                                </svg>
                            </div>
                        </div>
<!--                        <a href="/ready/"><div class="header-button">펀딩하기</div></a>-->
                        <a href="/support/support-write"><div class="header-button">후원요청하기</div></a>
                        <!-- 로그인 상태-->
                        <th:block sec:authorize="isAuthenticated()">
                            <div class="login-user-button-wrapper">
                                <div class="user-button-layout">
                                    <div style="margin:0; padding:0;" class="user-avatar">
                                        <span style="margin:0;padding:0;" class="profile-img"></span>
                                    </div>
                                    <div class="user-text" th:text="${session.member.memberName}">주연</div>
                                </div>
                            </div>
                            <div id="show">
                                <!-- JS로 처리 -->
                            </div>
                        </th:block>

                        <!--로그아웃 상태-->
                        <th:block sec:authorize="!isAuthenticated()">
                        <div class="login-user-button-wrapper">
                            <div class="user-button-layout">
                                <div class="user-avatar">
                                    <svg class="avatar-icon">
                                        <path class="avatar-icon-svg-path" d="M41.8081 40.2C40.6938 32.1539 34.8597 26 27.852 26H20.1498C13.1405 26 7.30625 32.1539 6.19186 40.2C6.06567 41.1111 6 42.0465 6 43H42C42 42.0465 41.9343 41.1111 41.8081 40.2Z" fill="#0D0D0D"></path>
                                        <path class="avatar-icon-svg-path" d="M24 23C28.9639 23 33 18.9626 33 14C33 9.0374 28.9639 5 24 5C19.0379 5 15 9.0374 15 14C15 18.9626 19.0379 23 24 23Z" fill="#0D0D0D"></path>
                                    </svg>
                                </div>
                                <a href="/member/login-select"><div class="user-text">로그인/회원가입</div></a>
                            </div>
                        </div>
                        </th:block>

                    </div>
                </div>
                <div class="header-content-layout">
                    <div class="search-bar">
                        <div class="category-section">
                            <div class="category-wrapper category-extend-select" style="padding:0%">
                                <div class="icon-wrapper" style="margin: 0px 8px 0px 0px;">
                                    <div class="menu-icon"></div>
                                </div>
                                카테고리
                            </div>
                            <a href="/main/"><div class="category-wrapper category-select">홈</div></a>
                            <a href="/support/support-list"><div class="category-wrapper">후원</div></a>
                            <a href="/volunteer-work/work-list"><div class="category-wrapper">봉사</div></a>
<!--                            <a href="/ready"><div class="category-wrapper">펀딩</div></a>-->
                            <a href="/community/free-board/new"><div class="category-wrapper">커뮤니티</div></a>
                            <a href="/welfare/center/"><div class="category-wrapper">복지센터</div></a>
                            <a href="/main/info"><div class="category-wrapper">심봉사소개</div></a>
                        </div>

                    </div>
                    <div class="extended-category-section category-extend-select">
                        <div class="extended-categeory-header">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0446 10.5249L6.49306 5L5.02166 6.46433L10.5732 11.9892L5 17.5357L6.4714 19L12.0446 13.4536L17.5286 18.9112L19 17.4468L13.516 11.9892L18.9783 6.55317L17.5069 5.08884L12.0446 10.5249Z" fill="#0D0D0D"></path>
                            </svg>
                        </div>
                        <div class="category-container">
                            <div class="style-depth-category-wrapper">
                                <div class="depth-category-group">

                                    <a th:href="@{/volunteer-work/work-list/{volunteerWorkType}(volunteerWorkType='전체')}">
                                        <div class="depth-category">
                                            <div class="depth-category-icon">
                                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                            </div>
                                            <div class="depth-category-text">전체</div>
                                        </div>
                                    </a>
                                    <a th:href="@{/volunteer-work/work-list/{volunteerWorkType}(volunteerWorkType='시설봉사')}">
                                        <div class="depth-category">
                                        <div class="depth-category-icon">
                                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                        </div>
                                        <div class="depth-category-text">시설봉사</div>
                                    </div></a>
                                    <a th:href="@{/volunteer-work/work-list/{volunteerWorkType}(volunteerWorkType='재가봉사')}">
                                        <div class="depth-category">
                                        <div class="depth-category-icon">
                                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                        </div>
                                        <div class="depth-category-text">재가봉사</div>
                                    </div></a>
                                </div>

                                <div class="depth-category-group">
                                    <a th:href="@{/volunteer-work/work-list/{volunteerWorkType}(volunteerWorkType='전문봉사')}">
                                        <div class="depth-category">
                                            <div class="depth-category-icon">
                                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                            </div>
                                            <div class="depth-category-text">전문봉사</div>
                                        </div>
                                    </a>
                                    <a th:href="@{/volunteer-work/work-list/{volunteerWorkType}(volunteerWorkType='지역사회봉사')}">
                                        <div class="depth-category">
                                            <div class="depth-category-icon">
                                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                            </div>
                                            <div class="depth-category-text">지역사회봉사</div>
                                        </div>
                                    </a>
                                    <a th:href="@{/volunteer-work/work-list/{volunteerWorkType}(volunteerWorkType='금물품봉사')}">
                                        <div class="depth-category">
                                            <div class="depth-category-icon">
                                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                            </div>
                                            <div class="depth-category-text">금물품봉사</div>
                                        </div>
                                    </a>
                                </div>

                                <div class="depth-category-group">
                                    <a th:href="@{/volunteer-work/work-list/{volunteerWorkType}(volunteerWorkType='해외봉사')}">
                                        <div class="depth-category">
                                            <div class="depth-category-icon">
                                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                            </div>
                                            <div class="depth-category-text">해외봉사</div>
                                        </div>
                                    </a>

                                    <a th:href="@{/volunteer-work/work-list/{volunteerWorkType}(volunteerWorkType='헌혈')}">
                                        <div class="depth-category">
                                            <div class="depth-category-icon">
                                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                            </div>
                                            <div class="depth-category-text">헌혈</div>
                                        </div>
                                    </a>

                                    <a th:href="@{/volunteer-work/work-list/{volunteerWorkType}(volunteerWorkType='재능기부봉사')}">
                                        <div class="depth-category">
                                            <div class="depth-category-icon">
                                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 9.6H9.6V16.4H16.4V9.6ZM8 8V18H18V8H8Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4 9.6H21.6V16.4H28.4V9.6ZM20 8V18H30V8H20Z" fill="#0D0D0D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4 21.6H9.6V28.4H16.4V21.6ZM8 20V30H18V20H8Z" fill="#0D0D0D"></path><path d="M20 20H30V30H20V20Z" fill="#FF5757"></path></svg>
                                            </div>
                                            <div class="depth-category-text">재능기부봉사</div>
                                        </div>
                                    </a>

                                </div>
                                <div class="depth-category-group"></div>
                                <div class="depth-category-group"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    
    
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
</html>