<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>심봉사</title>
    <link rel="stylesheet" href="/css/main/main.css" />
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
    <div class="full-screen">
        <div class="scroll-top-btn-wrapper animate">
            <button class="scroll-top-btn">
                <span>최상위로</span>
            </button>
            <div class="scroll-top-icon">
                <svg width="22px" height="18px" viewBox="0 0 22 18">
                    <g id="Page-1" stroke="none" fill-rule="evenodd">
                        <g id="jump-to-top" transform="translate(-1.000000, 0.000000)">
                            <path
                                d="M12.006,5.987 L22.75,16.437 C22.9,16.587 23,16.837 23,17.087 C23,17.338 22.9,17.587 22.7,17.737 C22.35,18.087 21.75,18.087 21.35,17.737 L12.006,8.587 L2.611,17.737 C2.261,18.087 1.662,18.087 1.262,17.737 C0.912,17.387 0.912,16.787 1.262,16.437 L12.006,5.987 L12.006,5.987 Z M22.175,0 C22.631,0 23,0.37 23,0.825 L23,0.877 C23,1.332 22.63,1.702 22.175,1.702 L1.825,1.702 C1.369,1.702 1,1.332 1,0.877 L1,0.825 C1,0.369 1.37,0 1.825,0 L22.175,0 Z"
                                id="shape"
                            ></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>

        <header th:insert="~{main/header.html :: mainHeader}"></header>
        <div class="container">
            <div class="home-wrapper">
                <div class="main-top-section">
                    <div class="main-first-section">
                        <div class="main-banner-container banner-margin">
                            <div class="banner-swiper-container">
                                <div class="banner-swiper-wrapper">
                                    <div class="swiper-slider"></div>
                                    <div class="swiper-slider"></div>
                                    <div class="swiper-slider"></div>
                                    <div class="swiper-slider"></div>
                                </div>
                            </div>
                            <div class="swiper-controll-wrapper">
                                <div class="banner-count">
                                    <strong>1</strong>
                                </div>
                                <div class="move-arrow">
                                    <button type="button" class="prev">
                                        <svg
                                            width="17"
                                            height="16"
                                            viewBox="0 0 17 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M4.7793 8.00016L9.77926 2.66683L10.7793 3.73354L6.77937 8.00016L10.7793 12.2668L9.77926 13.3335L4.7793 8.00016Z"
                                                fill="white"
                                            ></path>
                                        </svg>
                                    </button>
                                    <button type="button" class="next">
                                        <svg
                                            width="17"
                                            height="16"
                                            viewBox="0 0 17 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M4.7793 8.00016L9.77926 2.66683L10.7793 3.73354L6.77937 8.00016L10.7793 12.2668L9.77926 13.3335L4.7793 8.00016Z"
                                                fill="white"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="main-first-wrapper sbs">
                            <div class="main-first-list-title">
                                봉사 활동
                                <a class="total-funding-link" href="/volunteer-work/work-list" title="전체보기">전체보기</a>
                            </div>
                            <div class="main-first-list-wrapper">
                                <div class="main-first-list-layout">


                                    <!-- 봉사추천  8 개-->
                                    <div class="list-wrapper" th:each="volunteer : ${volunteerList}">
                                        <div></div>
                                        <div class="volunteer-percentage-wrapper">
                                            <div></div>
                                            <div class="volunteer-link-wrapper">
                                                <div class="volunteer-image-wrapper">
                                                    <a href="#"></a>
                                                </div>
                                                <div class="info-wrapper" >
                                                    <dl>
                                                        <dd class="volunteer-sub-info">
                                                        <span>
                                                            <a href="#" th:text="${volunteer.volunteerWorkCategory}">봉사 카테고리</a>
                                                        </span>
                                                            <span>
                                                            <a href="#" th:text="${volunteer.volunteerWorkPlace}">봉사 지역</a>
                                                        </span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">
                                                                <strong th:text="${volunteer.volunteerWorkTitle}">봉사 제목</strong>
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-popular-section">
                        <div class="main-popular-title-wrapper">
                            <div class="popular-list-title">
                                <a href="#">심청이 랭킹</a>
                                <span class="popular-list-time">
                                    23.04.23 15:13
                                    기준
                                </span>
                                <!-- <a class="total-funding-link" href="#" title="전체보기">전체보기</a> -->
                            </div>
                        </div>
                        <div class="main-popular-list-wrapper">
                            <div class="main-popular-list-layout list-layout">

                                <!-- 유저 랭킹 -->
                                <div class="list-wrapper">
                                    <div></div>
                                    <div class="volunteer-percentage-wrapper">
                                        <div></div>
                                        <div class="popular-percentage-layout" th:each="memberRankList, state : ${memberRankList}">
                                            <div class="image-wrapper">
                                                <a href="#"></a>
                                            </div>
                                            <span class="rank-layout-top" th:text="${state.count}">1</span>
                                            <div class="info-wrapper">
                                                <dl>
                                                    <dd class="volunteer-sub-info">
                                                        <span>
                                                            <a href="#" >엽전</a>
                                                        </span>
                                                        <span>
                                                            <a href="#" th:text="${memberRankList.memberRank}">3티어</a>
                                                        </span>
                                                    </dd>
                                                    <dt>
                                                        <a href="#">
                                                            <strong th:text="${memberRankList.memberName}">황자현</strong>
                                                        </a>
                                                    </dt>
                                                </dl>
                                                <div class="funding-status">
                                                    <span class="percentage" th:text="${memberRankList.memberVolunteerTime}">봉사 54시간 달성</span><span class="percentage">시 달성</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- <a class="view-total-funding-button" href="#" title="펀딩 목록 전체보기">펀딩 목록 전체보기</a> -->
                    </div>
                </div>
                <div class="main-content-wrap">
                    <div class="content-banner-wrap">
                        <div class="picture-data">
                            <picture>
                                <!-- <source media="(max-width: 767px)" srcset="https://tumblbug-assets.imgix.net/main_banners/pc_images/000/000/008/original/7c79ddf9-2d76-4b68-b314-a1bce150ce6f.png?q=50 1x, https://tumblbug-assets.imgix.net/main_banners/pc_images/000/000/008/original/7c79ddf9-2d76-4b68-b314-a1bce150ce6f.png?q=50 2x">
                                <source media="(min-width: 768px)" srcset="https://tumblbug-assets.imgix.net/main_banners/pc_images/000/000/008/original/7c79ddf9-2d76-4b68-b314-a1bce150ce6f.png?q=50"> -->
                                <img class="m-img" src="https://tumblbug-assets.imgix.net/main_banners/pc_images/000/000/008/original/7c79ddf9-2d76-4b68-b314-a1bce150ce6f.png?q=50">
                                <img class="pc-img" src="https://tumblbug-assets.imgix.net/main_banners/pc_images/000/000/008/original/7c79ddf9-2d76-4b68-b314-a1bce150ce6f.png?q=50">
                            </picture>
                        </div>
                    </div>
                    <div class="main-content-section main-content-style-container">
                        <div class="main-content-section-wrapper sbs">
                            <div class="main-content-list-title">
                                <div>
                                    <div class="main-content-list-icon-with-title">
                                        <a class="main-content-list-link" title="인기 게시판" href="#">
                                            <span>인기 게시판</span>
                                        </a>
                                    </div>
                                </div>
                                <a class="view-total-list-button view-total-list-button-color" href="/community/free-board">전체보기</a>
                            </div>
                            <div class="main-content-list-wrapper">
                                <div class="container-component main-content-slider-banner-container">
                                    <div class="main-content-slider-wrapper">
                                        <div class="main-content-slider-banner-wrapper">
                                            <div class="main-content-swiper-container">
                                                <div class="swiper-wrapper">


                                                    <div class="swiper-slide swiper-slide-active" th:each="freeBoardList : ${freeBoardList}" style= "width:220.8px; margin-right: 14px;">
                                                        <div></div>
                                                        <div class="volunteer-percentage-wrapper">
                                                            <div></div>
                                                            <div class="volunteer-link-wrapper">
                                                                <div class="volunteer-image-wrapper">
                                                                    <a href="#"></a>
                                                                    <!-- <div class="like-button-wrapper">
                                                                        <button  class="like-button" type="button">
                                                                            <span>좋아요</span>
                                                                        </button>
                                                                    </div> -->
                                                                </div>
                                                                <div class="info-wrapper">
                                                                    <dl>
                                                                        <dd class="volunteer-sub-info">
                                                                            <span>
                                                                                <a href="#">댓글수</a>
                                                                            </span>
                                                                            <span>
                                                                                <a href="#" th:text="${freeBoardList.replyCount}">150</a>
                                                                            </span>
                                                                            <span>
                                                                                <a href="#">자유게시판</a>
                                                                            </span>
                                                                        </dd>
                                                                        <dt>
                                                                            <a href="">
                                                                                <strong th:text="${freeBoardList.boardTitle}">게시판제목 1</strong>
                                                                            </a>
                                                                        </dt>
                                                                    </dl>
                                                                    <!-- <div class="funding-status">
                                                                        <span class="percentage">150</span>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                        <button class="main-content-slider-nav-button-left">
                                            <div class="arrow-left1-icon">
                                                <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.8912 45.3014L12 23.913L32.8912 2.52471C33.5866 1.8251 34.7804 1.8251 35.4777 2.52471C36.1741 3.22333 36.1741 4.42368 35.4777 5.22224L17.1731 23.913L35.4777 42.7018C36.1741 43.4024 36.1741 44.6018 35.4777 45.4013C35.0788 45.8011 34.6819 46 34.1845 46C33.7855 45.9011 33.2881 45.7002 32.8912 45.3014Z"></path></svg>
                                            </div>
                                        </button>
                                        <button class="main-content-slider-nav-button-right">
                                            <div class="arrow-right1-icon">
                                                <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.9071 46C13.4118 46 12.9164 45.8001 12.6192 45.4003C11.9257 44.7007 11.9257 43.5014 12.6192 42.7019L30.8493 24.0125L12.5201 5.22317C11.8266 4.52357 11.8266 3.32425 12.5201 2.5247C13.2136 1.8251 14.3034 1.8251 15.096 2.5247L36 24.0125L15.195 45.4003C14.7988 45.8001 14.3034 46 13.9071 46Z"></path></svg>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content-section-wrapper sbs">
                            <div class="main-content-list-title">
                                <div>
                                    <div class="main-content-list-icon-with-title">
                                        <a class="main-content-list-link" title="인기 게시판" href="#">
                                            <span>인기 펀딩</span>
                                        </a>
                                    </div>
                                </div>
                                <a class="view-total-list-button view-total-list-button-color" href="/funding/funding-list">전체보기</a>
                            </div>
                            <div class="main-content-list-wrapper">
                                <div class="container-component main-content-slider-banner-container">
                                    <div class="main-content-slider-wrapper">
                                        <div class="main-content-slider-banner-wrapper">
                                            <div class="main-content-swiper-container">
                                                <div class="swiper-wrapper">

                                                    <!--인기 펀딩 순 -->
                                                    <div class="swiper-slide swiper-slide-active" th:each="fundingListOrderByPopularList : ${fundingListOrderByPopularList}" style= "width:220.8px; margin-right: 14px;">
                                                        <div></div>
                                                        <div class="volunteer-percentage-wrapper">
                                                            <div></div>
                                                            <div class="volunteer-link-wrapper">
                                                                <div class="volunteer-image-wrapper">
                                                                    <a href="#"></a>
                                                                </div>
                                                                <div class="info-wrapper">
                                                                    <dl>
                                                                        <dd class="volunteer-sub-info">
                                                                            <span>
                                                                                <a href="#" th:text="${fundingListOrderByPopularList.fundingCategory}">펀딩 카테고리</a>
                                                                            </span>
                                                                            <span>
                                                                                <a href="#" th:text="${fundingListOrderByPopularList.fundingCreator.fundingCreatorNickname}">창작자이름</a>
                                                                            </span>
                                                                        </dd>
                                                                        <dt>
                                                                            <a href="">
                                                                                <strong th:text="${fundingListOrderByPopularList.fundingTitle}">펀딩제목</strong>
                                                                            </a>
                                                                        </dt>
                                                                    </dl>
                                                                    <div class="funding-status">
                                                                        <span class="percentage" th:text="${fundingListOrderByPopularList.fundingPercent} +'% 달성'">1336% 달성</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <button class="main-content-slider-nav-button-left">
                                            <div class="arrow-left1-icon">
                                                <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.8912 45.3014L12 23.913L32.8912 2.52471C33.5866 1.8251 34.7804 1.8251 35.4777 2.52471C36.1741 3.22333 36.1741 4.42368 35.4777 5.22224L17.1731 23.913L35.4777 42.7018C36.1741 43.4024 36.1741 44.6018 35.4777 45.4013C35.0788 45.8011 34.6819 46 34.1845 46C33.7855 45.9011 33.2881 45.7002 32.8912 45.3014Z"></path></svg>
                                            </div>
                                        </button>
                                        <button class="main-content-slider-nav-button-right">
                                            <div class="arrow-right1-icon">
                                                <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.9071 46C13.4118 46 12.9164 45.8001 12.6192 45.4003C11.9257 44.7007 11.9257 43.5014 12.6192 42.7019L30.8493 24.0125L12.5201 5.22317C11.8266 4.52357 11.8266 3.32425 12.5201 2.5247C13.2136 1.8251 14.3034 1.8251 15.096 2.5247L36 24.0125L15.195 45.4003C14.7988 45.8001 14.3034 46 13.9071 46Z"></path></svg>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-bottom-banner"></div>
            </div>
            <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
        </div>
        <div class="common-layer-tab"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/banner.js"></script>
<script src="/js/main/main.js"></script>
<script src="/js/main/header.js"></script>
<script type="text/javascript">
    $(".image-wrapper a").each((i,e) => {
        console.log($(e));
        $(e).eq(i).css('background-image', 'url("https://tumblbug-upi.imgix.net/default_avatar.png?auto=format%2Ccompress&ch=Save-Data&facepad=2.0&fit=facearea&h=250&mask=ellipse&w=250&s=80a07af0ffbe653137dd423ed1d5651c")');
    } )
</script>
<script th:inline="javascript">
    const fundingDTO = [[${fundingListOrderByPopularList}]];
    let fileDTOs = fundingDTO.fileDTOs;
    fileDTOs.forEach((fileDTO, i) => {
        let text = `
            <div class="volunteer-image-wrapper">
                <a href="#"></a>
                <img src="/file/display?fileName=${fileDTO.filePath}/${fileDTO.fileUuid}_${fileDTO.fileName}">
            </div>
        `;
        $('.volunteer-image-wrapper').append(text);
    })
</script>
</html>
