<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>심봉사</title>
        <link rel="stylesheet" href="../../static/css/font/font.css" />
        <link rel="stylesheet" href="../../static/css/main/main.css" />
    </head>
    <body>
        <div class="full-screen">
            <div class="scroll-top-btn-wrapper animate">
                <button class="scroll-top-btn">
                    <span>최상위로</span>
                </button>
                <div class="scroll-top-icon">
                    <svg width="22px" height="18px" viewBox="0 0 22 18">
                        <g id="Page-1" stroke="none" fill-rule="evenodd">
                            <g id="jump-to-top" transform="translate(-1.000000, 0.000000)">
                                <path
                                    d="M12.006,5.987 L22.75,16.437 C22.9,16.587 23,16.837 23,17.087 C23,17.338 22.9,17.587 22.7,17.737 C22.35,18.087 21.75,18.087 21.35,17.737 L12.006,8.587 L2.611,17.737 C2.261,18.087 1.662,18.087 1.262,17.737 C0.912,17.387 0.912,16.787 1.262,16.437 L12.006,5.987 L12.006,5.987 Z M22.175,0 C22.631,0 23,0.37 23,0.825 L23,0.877 C23,1.332 22.63,1.702 22.175,1.702 L1.825,1.702 C1.369,1.702 1,1.332 1,0.877 L1,0.825 C1,0.369 1.37,0 1.825,0 L22.175,0 Z"
                                    id="shape"
                                ></path>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            <header id="_header"></header>
            <div class="container">
                <div class="home-wrapper">
                    <div class="main-top-section">
                        <div class="main-first-section">
                            <div class="main-banner-container">
                                <div class="banner-swiper-container">
                                    <div class="banner-swiper-wrapper">
                                        <div class="swiper-slider"></div>
                                        <div class="swiper-slider"></div>
                                        <div class="swiper-slider"></div>
                                        <div class="swiper-slider"></div>
                                    </div>
                                </div>
                                <div class="swiper-controll-wrapper">
                                    <div class="banner-count">
                                        <strong>1</strong>
                                    </div>
                                    <div class="move-arrow">
                                        <button type="button" class="prev">
                                            <svg
                                                width="17"
                                                height="16"
                                                viewBox="0 0 17 16"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M4.7793 8.00016L9.77926 2.66683L10.7793 3.73354L6.77937 8.00016L10.7793 12.2668L9.77926 13.3335L4.7793 8.00016Z"
                                                    fill="white"
                                                ></path>
                                            </svg>
                                        </button>
                                        <button type="button" class="next">
                                            <svg
                                                width="17"
                                                height="16"
                                                viewBox="0 0 17 16"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M4.7793 8.00016L9.77926 2.66683L10.7793 3.73354L6.77937 8.00016L10.7793 12.2668L9.77926 13.3335L4.7793 8.00016Z"
                                                    fill="white"
                                                ></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="main-first-wrapper sbs">
                                <div class="main-first-list-title">봉사 추천</div>
                                <div class="main-first-list-wrapper">
                                    <div class="main-first-list-layout">

                                        <!-- 봉사추천 -->
                                        <div class="list-wrapper">
                                            <div></div>
                                            <div class="volunteer-percentage-wrapper">
                                                <div></div>
                                                <div class="volunteer-link-wrapper">
                                                    <div class="volunteer-image-wrapper">
                                                        <a href="#"></a>
                                                        <div class="like-button-wrapper">
                                                            <button  class="like-button" type="button">
                                                                <span>좋아요</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-wrapper">
                                                        <dl>
                                                            <dd class="volunteer-sub-info">
                                                                <span>
                                                                    <a href="#">봉사 카테고리</a>
                                                                </span>
                                                                <span>
                                                                    <a href="#">봉사 지역</a>
                                                                </span>
                                                            </dd>
                                                            <dt>
                                                                <a href="">
                                                                    <strong>봉사 제목</strong>
                                                                </a>
                                                            </dt>
                                                        </dl>
                                                        <div class="funding-status"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-wrapper">
                                            <div></div>
                                            <div class="volunteer-percentage-wrapper">
                                                <div></div>
                                                <div class="volunteer-link-wrapper">
                                                    <div class="volunteer-image-wrapper">
                                                        <a href="#"></a>
                                                        <div class="like-button-wrapper">
                                                            <button  class="like-button" type="button">
                                                                <span>좋아요</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-wrapper">
                                                        <dl>
                                                            <dd class="volunteer-sub-info">
                                                                <span>
                                                                    <a href="#">봉사 카테고리</a>
                                                                </span>
                                                                <span>
                                                                    <a href="#">봉사 지역</a>
                                                                </span>
                                                            </dd>
                                                            <dt>
                                                                <a href="">
                                                                    <strong>봉사 제목</strong>
                                                                </a>
                                                            </dt>
                                                        </dl>
                                                        <div class="funding-status"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-wrapper">
                                            <div></div>
                                            <div class="volunteer-percentage-wrapper">
                                                <div></div>
                                                <div class="volunteer-link-wrapper">
                                                    <div class="volunteer-image-wrapper">
                                                        <a href="#"></a>
                                                        <div class="like-button-wrapper">
                                                            <button  class="like-button" type="button">
                                                                <span>좋아요</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-wrapper">
                                                        <dl>
                                                            <dd class="volunteer-sub-info">
                                                                <span>
                                                                    <a href="#">봉사 카테고리</a>
                                                                </span>
                                                                <span>
                                                                    <a href="#">봉사 지역</a>
                                                                </span>
                                                            </dd>
                                                            <dt>
                                                                <a href="">
                                                                    <strong>봉사 제목</strong>
                                                                </a>
                                                            </dt>
                                                        </dl>
                                                        <div class="funding-status"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-wrapper">
                                            <div></div>
                                            <div class="volunteer-percentage-wrapper">
                                                <div></div>
                                                <div class="volunteer-link-wrapper">
                                                    <div class="volunteer-image-wrapper">
                                                        <a href="#"></a>
                                                        <div class="like-button-wrapper">
                                                            <button  class="like-button" type="button">
                                                                <span>좋아요</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-wrapper">
                                                        <dl>
                                                            <dd class="volunteer-sub-info">
                                                                <span>
                                                                    <a href="#">봉사 카테고리</a>
                                                                </span>
                                                                <span>
                                                                    <a href="#">봉사 지역</a>
                                                                </span>
                                                            </dd>
                                                            <dt>
                                                                <a href="">
                                                                    <strong>봉사 제목</strong>
                                                                </a>
                                                            </dt>
                                                        </dl>
                                                        <div class="funding-status"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-wrapper">
                                            <div></div>
                                            <div class="volunteer-percentage-wrapper">
                                                <div></div>
                                                <div class="volunteer-link-wrapper">
                                                    <div class="volunteer-image-wrapper">
                                                        <a href="#"></a>
                                                        <div class="like-button-wrapper">
                                                            <button  class="like-button" type="button">
                                                                <span>좋아요</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-wrapper">
                                                        <dl>
                                                            <dd class="volunteer-sub-info">
                                                                <span>
                                                                    <a href="#">봉사 카테고리</a>
                                                                </span>
                                                                <span>
                                                                    <a href="#">봉사 지역</a>
                                                                </span>
                                                            </dd>
                                                            <dt>
                                                                <a href="">
                                                                    <strong>봉사 제목</strong>
                                                                </a>
                                                            </dt>
                                                        </dl>
                                                        <div class="funding-status"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-wrapper">
                                            <div></div>
                                            <div class="volunteer-percentage-wrapper">
                                                <div></div>
                                                <div class="volunteer-link-wrapper">
                                                    <div class="volunteer-image-wrapper">
                                                        <a href="#"></a>
                                                        <div class="like-button-wrapper">
                                                            <button  class="like-button" type="button">
                                                                <span>좋아요</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-wrapper">
                                                        <dl>
                                                            <dd class="volunteer-sub-info">
                                                                <span>
                                                                    <a href="#">봉사 카테고리</a>
                                                                </span>
                                                                <span>
                                                                    <a href="#">봉사 지역</a>
                                                                </span>
                                                            </dd>
                                                            <dt>
                                                                <a href="">
                                                                    <strong>봉사 제목</strong>
                                                                </a>
                                                            </dt>
                                                        </dl>
                                                        <div class="funding-status"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-wrapper">
                                            <div></div>
                                            <div class="volunteer-percentage-wrapper">
                                                <div></div>
                                                <div class="volunteer-link-wrapper">
                                                    <div class="volunteer-image-wrapper">
                                                        <a href="#"></a>
                                                        <div class="like-button-wrapper">
                                                            <button  class="like-button" type="button">
                                                                <span>좋아요</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-wrapper">
                                                        <dl>
                                                            <dd class="volunteer-sub-info">
                                                                <span>
                                                                    <a href="#">봉사 카테고리</a>
                                                                </span>
                                                                <span>
                                                                    <a href="#">봉사 지역</a>
                                                                </span>
                                                            </dd>
                                                            <dt>
                                                                <a href="">
                                                                    <strong>봉사 제목</strong>
                                                                </a>
                                                            </dt>
                                                        </dl>
                                                        <div class="funding-status"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-wrapper">
                                            <div></div>
                                            <div class="volunteer-percentage-wrapper">
                                                <div></div>
                                                <div class="volunteer-link-wrapper">
                                                    <div class="volunteer-image-wrapper">
                                                        <a href="#"></a>
                                                        <div class="like-button-wrapper">
                                                            <button  class="like-button" type="button">
                                                                <span>좋아요</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-wrapper">
                                                        <dl>
                                                            <dd class="volunteer-sub-info">
                                                                <span>
                                                                    <a href="#">봉사 카테고리</a>
                                                                </span>
                                                                <span>
                                                                    <a href="#">봉사 지역</a>
                                                                </span>
                                                            </dd>
                                                            <dt>
                                                                <a href="">
                                                                    <strong>봉사 제목</strong>
                                                                </a>
                                                            </dt>
                                                        </dl>
                                                        <div class="funding-status"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="main-popular-section">
                            <div class="main-popular-title-wrapper">
                                <div class="popular-list-title">
                                    <a href="#">인기 펀딩</a>
                                    <span class="popular-list-time">
                                        23.04.23 15:13
                                        기준
                                    </span>
                                    <a class="total-funding-link" href="#" title="전체보기">전체보기</a>
                                </div>
                            </div>
                            <div class="main-popular-list-wrapper">
                                <div class="main-popular-list-layout list-layout">

                                    <!-- 인기펀딩 -->
                                    <div class="list-wrapper">
                                        <div></div>
                                        <div class="volunteer-percentage-wrapper">
                                            <div></div>
                                            <div class="popular-percentage-layout">
                                                <div class="image-wrapper">
                                                    <a href="#"></a>
                                                </div>
                                                <span class="rank-layout-top">1</span>
                                                <div class="info-wrapper">
                                                    <dl>
                                                        <dd class="volunteer-sub-info">
                                                            <span>
                                                                <a href="#">카테고리</a>
                                                            </span>
                                                            <span>
                                                                <a href="#">펀딩이름</a>
                                                            </span>
                                                        </dd>
                                                        <dt>
                                                            <a href="#">
                                                                <strong>펀딩제목</strong>
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                    <div class="funding-status">
                                                        <span class="percentage">5164% 달성</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-wrapper">
                                        <div></div>
                                        <div class="volunteer-percentage-wrapper">
                                            <div></div>
                                            <div class="popular-percentage-layout">
                                                <div class="image-wrapper">
                                                    <a href="#"></a>
                                                </div>
                                                <span class="rank-layout-top">2</span>
                                                <div class="info-wrapper">
                                                    <dl>
                                                        <dd class="volunteer-sub-info">
                                                            <span>
                                                                <a href="#">카테고리</a>
                                                            </span>
                                                            <span>
                                                                <a href="#">펀딩이름</a>
                                                            </span>
                                                        </dd>
                                                        <dt>
                                                            <a href="#">
                                                                <strong>펀딩제목</strong>
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                    <div class="funding-status">
                                                        <span class="percentage">5164% 달성</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-wrapper">
                                        <div></div>
                                        <div class="volunteer-percentage-wrapper">
                                            <div></div>
                                            <div class="popular-percentage-layout">
                                                <div class="image-wrapper">
                                                    <a href="#"></a>
                                                </div>
                                                <span class="rank-layout-top">3</span>
                                                <div class="info-wrapper">
                                                    <dl>
                                                        <dd class="volunteer-sub-info">
                                                            <span>
                                                                <a href="#">카테고리</a>
                                                            </span>
                                                            <span>
                                                                <a href="#">펀딩이름</a>
                                                            </span>
                                                        </dd>
                                                        <dt>
                                                            <a href="#">
                                                                <strong>펀딩제목</strong>
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                    <div class="funding-status">
                                                        <span class="percentage">5164% 달성</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-wrapper">
                                        <div></div>
                                        <div class="volunteer-percentage-wrapper">
                                            <div></div>
                                            <div class="popular-percentage-layout">
                                                <div class="image-wrapper">
                                                    <a href="#"></a>
                                                </div>
                                                <span class="rank-layout">4</span>
                                                <div class="info-wrapper">
                                                    <dl>
                                                        <dd class="volunteer-sub-info">
                                                            <span>
                                                                <a href="#">카테고리</a>
                                                            </span>
                                                            <span>
                                                                <a href="#">펀딩이름</a>
                                                            </span>
                                                        </dd>
                                                        <dt>
                                                            <a href="#">
                                                                <strong>펀딩제목</strong>
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                    <div class="funding-status">
                                                        <span class="percentage">5164% 달성</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-wrapper">
                                        <div></div>
                                        <div class="volunteer-percentage-wrapper">
                                            <div></div>
                                            <div class="popular-percentage-layout">
                                                <div class="image-wrapper">
                                                    <a href="#"></a>
                                                </div>
                                                <span class="rank-layout">5</span>
                                                <div class="info-wrapper">
                                                    <dl>
                                                        <dd class="volunteer-sub-info">
                                                            <span>
                                                                <a href="#">카테고리</a>
                                                            </span>
                                                            <span>
                                                                <a href="#">펀딩이름</a>
                                                            </span>
                                                        </dd>
                                                        <dt>
                                                            <a href="#">
                                                                <strong>펀딩제목</strong>
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                    <div class="funding-status">
                                                        <span class="percentage">5164% 달성</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-wrapper">
                                        <div></div>
                                        <div class="volunteer-percentage-wrapper">
                                            <div></div>
                                            <div class="popular-percentage-layout">
                                                <div class="image-wrapper">
                                                    <a href="#"></a>
                                                </div>
                                                <span class="rank-layout">6</span>
                                                <div class="info-wrapper">
                                                    <dl>
                                                        <dd class="volunteer-sub-info">
                                                            <span>
                                                                <a href="#">카테고리</a>
                                                            </span>
                                                            <span>
                                                                <a href="#">펀딩이름</a>
                                                            </span>
                                                        </dd>
                                                        <dt>
                                                            <a href="#">
                                                                <strong>펀딩제목</strong>
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                    <div class="funding-status">
                                                        <span class="percentage">5164% 달성</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-wrapper">
                                        <div></div>
                                        <div class="volunteer-percentage-wrapper">
                                            <div></div>
                                            <div class="popular-percentage-layout">
                                                <div class="image-wrapper">
                                                    <a href="#"></a>
                                                </div>
                                                <span class="rank-layout">7</span>
                                                <div class="info-wrapper">
                                                    <dl>
                                                        <dd class="volunteer-sub-info">
                                                            <span>
                                                                <a href="#">카테고리</a>
                                                            </span>
                                                            <span>
                                                                <a href="#">펀딩이름</a>
                                                            </span>
                                                        </dd>
                                                        <dt>
                                                            <a href="#">
                                                                <strong>펀딩제목</strong>
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                    <div class="funding-status">
                                                        <span class="percentage">5164% 달성</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-wrapper">
                                        <div></div>
                                        <div class="volunteer-percentage-wrapper">
                                            <div></div>
                                            <div class="popular-percentage-layout">
                                                <div class="image-wrapper">
                                                    <a href="#"></a>
                                                </div>
                                                <span class="rank-layout">8</span>
                                                <div class="info-wrapper">
                                                    <dl>
                                                        <dd class="volunteer-sub-info">
                                                            <span>
                                                                <a href="#">카테고리</a>
                                                            </span>
                                                            <span>
                                                                <a href="#">펀딩이름</a>
                                                            </span>
                                                        </dd>
                                                        <dt>
                                                            <a href="#">
                                                                <strong>펀딩제목</strong>
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                    <div class="funding-status">
                                                        <span class="percentage">5164% 달성</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <a class="view-total-funding-button" href="#" title="후원 목록 전체보기">후원 목록 전체보기</a>
                        </div>
                    </div>
                    <div class="main-content-wrap">
                        <div class="content-banner-wrap">
                            <div class="picture-data">
                                <picture>
                                    <!-- <source media="(max-width: 767px)" srcset="https://tumblbug-assets.imgix.net/main_banners/pc_images/000/000/008/original/7c79ddf9-2d76-4b68-b314-a1bce150ce6f.png?q=50 1x, https://tumblbug-assets.imgix.net/main_banners/pc_images/000/000/008/original/7c79ddf9-2d76-4b68-b314-a1bce150ce6f.png?q=50 2x">
                                    <source media="(min-width: 768px)" srcset="https://tumblbug-assets.imgix.net/main_banners/pc_images/000/000/008/original/7c79ddf9-2d76-4b68-b314-a1bce150ce6f.png?q=50"> -->
                                    <img class="m-img" src="https://tumblbug-assets.imgix.net/main_banners/pc_images/000/000/008/original/7c79ddf9-2d76-4b68-b314-a1bce150ce6f.png?q=50">
                                    <img class="pc-img" src="https://tumblbug-assets.imgix.net/main_banners/pc_images/000/000/008/original/7c79ddf9-2d76-4b68-b314-a1bce150ce6f.png?q=50">
                                </picture>
                            </div>
                        </div>
                        <div class="main-content-section main-content-style-container">
                            <div class="main-content-section-wrapper sbs">
                                <div class="main-content-list-title"></div> <!-- ffNJag -->
                                <div class="main-content-list-wrapper"></div>
                            </div>
                        </div>
                    </div>
                    <div class="main-bottom-banner"></div>
                </div>
                <footer id="_footer"></footer>
            </div>
            <div class="common-layer-tab"></div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../../static/js/main/banner.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#_header').load('../main/header.html');
            $('#_footer').load('../main/footer.html');
        });
    </script>
</html>
