<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공양미 환전요청</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/mypage/mypage-header.css">
    <link rel="stylesheet" href="/css/mypage/exchange-request.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>
    <div class="full-screen">

        <!-- 헤더 임시 -->
        <header th:insert="~{main/header.html :: mainHeader}"></header>

        <!-- 마이페이지 헤더 -->
        <div class="mypage-header-wrap">
            <div class="mypage-header-container">
                <div class="mypage-header">
                    <div class="mypage-header-left">
                        <div class="my-rank">
                            <img alt="">
                        </div>
                        <div class="mypage-info">
                            <div class="info-name" th:text="${memberDTO.memberName}"></div>
                            <div class="info-rice">
                                <p th:text="'내 공양미: '+${memberDTO.memberRice} + '석'">내 공양미 : 300석</p>
                            </div>
                        </div>
                    </div>
                    <div class="rice-charge-wrap">
                        <button type="button" class="rice-charge">
                            <div class="rice-charge-text">공양미 충전</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header-menu-wrap">
                <div class="header-menu">
                    <div class="header-menu-inner">
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/support-request" class="header-menu-a">후원 요청 목록</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-freeboard" class="header-menu-a">작성한 게시물</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-question" class="header-menu-a">내 문의사항</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/volunteer-work-list" class="header-menu-a">봉사활동 내역</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-support-list" class="header-menu-a">후원내역</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-funding-list" class="header-menu-a">펀딩내역</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/rice-list" class="header-menu-a">공양미 내역</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/exchange-request" class="header-menu-a-select">공양미 환전요청</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/user-modify" class="header-menu-a">회원정보 수정</a>
                        </div>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="change-modal" id="modal">
            <div class="change-modal-root"></div>
            <div class="change-modal-container">
                <div class="change-modal-wrapper">
                    <div>
                        <div class="change-modal-title-row">
                            <h4 class="change-modal-title-text">공양미 환전 요청</h4>
                        </div>
                        <form th:action="@{/mypage/exchange-request}" method="post" class="change-modal-form-wrapper" th:object="${ricePaymentDTO}" name="exchangeForm">
                            <div class="change-modal-form-row">
                                <span class="change-modal-form-label">은행</span>
                                <div class="change-modal-form-field">
                                    <div class="change-modal-form-title">
                                        <input name="ricePaymentExchangeBank" type="text" placeholder="은행을 입력하세요." id="name" th:field="*{ricePaymentExchangeBank}" class="change-modal-form-title-input" maxlength="4">
                                        <div class="error-message">비워둘 수 없습니다.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="change-modal-form-row">
                                <span class="change-modal-form-label">계좌번호</span>
                                <div class="change-modal-form-field">
                                    <div class="change-modal-form-title">
                                        <input name="ricePaymentExchangeAccount" type="text" placeholder="계좌번호를 입력해주세요." th:field="*{ricePaymentExchangeAccount}" class="change-modal-form-title-input">
                                        <div class="error-message">비워둘 수 없습니다.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="change-modal-form-row">
                                <span class="change-modal-form-label">환전할 공양미</span>
                                <div class="change-modal-form-field">
                                    <div class="change-modal-form-title">
                                        <input name="ricePaymentUsed" type="text" placeholder="환전할 공양미 개수를 입력하세요." th:field="*{ricePaymentUsed}" class="change-modal-form-title-input">
                                        <div class="error-message">비워둘 수 없습니다.</div>
                                        <div class="able-exchange">
                                            환전 가능한 공양미 수 :
                                            <span class="able-exchange-rice" th:text="${enableRice}">300</span>석
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="change-modal-actions-row">
                                <button type="submit" class="change-modal-ok-btn">
                                    <span class="change-modal-btn">환전요청</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- 푸터 임시 -->
        <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let memberDTO = [[${memberDTO}]];
</script>
<script src="/js/main/header.js"></script>
<script src="/js/mypage/exchange-request.js"></script>
<script src="/js/mypage/mypage-header.js"></script>
<script src="/js/mypage/my-rank.js"></script>
</html>