<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>펀딩 내역</title>
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/main/header.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage-header.css">
    <link rel="stylesheet" href="../../static/css/mypage/my-funding-list.css">
    <link rel="stylesheet" href="../../static/css/main/footer.css">
</head>
<body>
    <div class="full-screen">

        <!-- 헤더 임시 -->
        <header id="_header"></header>



        <div class="mypage-header-wrap">
            <div class="mypage-header-container">
                <div class="mypage-header">
                    <div class="mypage-header-left">
                        <div class="mypage-info">
                            <div class="info-name">정현진</div>
                            <div class="info-rice">
                                <p>내 공양미 : 300석</p>
                            </div>
                        </div>
                    </div>
                    <div class="rice-charge-wrap">
                        <button class="rice-charge">
                            <div class="rice-charge-text">공양미 충전</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header-menu-wrap">
                <div class="header-menu">
                    <div class="header-menu-inner">
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">후원 요청 목록</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">작성한 후기</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">내 문의사항</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">봉사활동 내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">후원내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a-select">펀딩내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">회원정보 수정</a>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>




        <div class="main-wrap">
            <div class="my-support-wrap">
                <div class="my-support-count-wrap">
                    <em class="my-support-count">50</em>개의 프로젝트가 있습니다.
                </div>
                <div class="my-support-list-wrap">
                    <div class="my-support-one-wrap">
                        <div class="my-support-one-place">
                            <div class="my-support-one">
                                <div class="my-support-img-wrap">
                                    <div class="my-support-img">
                                        <a href="" class="go-support-detail-img"></a>
                                    </div>
                                </div>
                                <div class="my-support-explain">
                                    <div class="my-support-title">
                                        <a href="">샤워</a>
                                    </div>
                                    <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-support-one-wrap">
                        <div class="my-support-one-place">
                            <div class="my-support-one">
                                <div class="my-support-img-wrap">
                                    <div class="my-support-img">
                                        <a href="" class="go-support-detail-img"></a>
                                    </div>
                                </div>
                                <div class="my-support-explain">
                                    <div class="my-support-title">
                                        <a href="">샤워</a>
                                    </div>
                                    <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-support-one-wrap">
                        <div class="my-support-one-place">
                            <div>
                                <div class="my-support-img-wrap">
                                    <div class="my-support-img">
                                        <a href="" class="go-support-detail-img"></a>
                                    </div>
                                </div>
                                <div class="my-support-explain">
                                    <div class="my-support-title">
                                        <a href="">샤워</a>
                                    </div>
                                    <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-support-one-wrap">
                        <div class="my-support-one-place">
                            <div class="my-support-one">
                                <div class="my-support-img-wrap">
                                    <div class="my-support-img">
                                        <a href="" class="go-support-detail-img"></a>
                                    </div>
                                </div>
                                <div class="my-support-explain">
                                    <div class="my-support-title">
                                        <a href="">샤워</a>
                                    </div>
                                    <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-support-one-wrap">
                        <div class="my-support-one-place">
                            <div class="my-support-one">
                                <div class="my-support-img-wrap">
                                    <div class="my-support-img">
                                        <a href="" class="go-support-detail-img"></a>
                                    </div>
                                </div>
                                <div class="my-support-explain">
                                    <div class="my-support-title">
                                        <a href="">샤워</a>
                                    </div>
                                    <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-support-one-wrap">
                        <div class="my-support-one-place">
                            <div class="my-support-one">
                                <div class="my-support-img-wrap">
                                    <div class="my-support-img">
                                        <a href="" class="go-support-detail-img"></a>
                                    </div>
                                </div>
                                <div class="my-support-explain">
                                    <div class="my-support-title">
                                        <a href="">샤워</a>
                                    </div>
                                    <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-support-one-wrap">
                        <div class="my-support-one-place">
                            <div class="my-support-one">
                                <div class="my-support-img-wrap">
                                    <div class="my-support-img">
                                        <a href="" class="go-support-detail-img"></a>
                                    </div>
                                </div>
                                <div class="my-support-explain">
                                    <div class="my-support-title">
                                        <a href="">샤워</a>
                                    </div>
                                    <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- 푸터 임시 -->
        <footer id="_footer"></footer>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#_header').load('../main/header.html');
        $('#_footer').load('../main/footer.html');
    });
</script>
</html>