<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 문의사항</title>
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/main/header.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage-header.css">
    <link rel="stylesheet" href="../../static/css/mypage/support-request.css">
    <link rel="stylesheet" href="../../static/css/mypage/my-question.css">
    <link rel="stylesheet" href="../../static/css/main/footer.css">
</head>
<body>
    <div class="full-screen">

        <!-- 헤더 임시 -->
        <header id="_header"></header>


        <div class="mypage-header-wrap">
            <div class="mypage-header-container">
                <div class="mypage-header">
                    <div class="mypage-header-left">
                        <div class="my-rank">
                            <img src="https://i.namu.wiki/i/67tjhRLuCX7MYeLY5p94GgXYHP7v1dMQ5M0QP8emeuw3IvlZlQNZBgeKz5qj8P_3ll2AF97RWC_isDEnrT4kgeBMW1GU39jR-Wn92gD-XSt5J1HbKiRxpRt8ZRaq8dvGHUMTt_clauEc9TOx_JyIaQ.webp" alt="">
                        </div>
                        <div class="mypage-info">
                            <div class="info-name">정현진</div>
                            <div class="info-rice">
                                <p>내 공양미 : 300석</p>
                            </div>
                        </div>
                    </div>
                    <div class="rice-charge-wrap">
                        <button class="rice-charge">
                            <div class="rice-charge-text">공양미 충전</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header-menu-wrap">
                <div class="header-menu">
                    <div class="header-menu-inner">
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">후원 요청 목록</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">작성한 후기</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a-select">내 문의사항</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">봉사활동 내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">후원내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">펀딩내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">공양미 내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">회원정보 수정</a>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrap">
            <div class="support-request-wrap">
                <div class="support-request-inner-wrap">
                    <div>
                        <div class="support-request-one-wrap">
                            <div class="support-request">
                                <div class="support-request-place">
                                    <div class="support-request-title-wrap">
                                        <div class="support-request-title">높이 올라가</div>
                                    </div>
                                    <div class="support-request-content">세상을 다 가져봐</div>
                                    <div class="support-request-reply">공양미 100석 후원</div>
                                </div>
                                <div class="support-request-detail">
                                    <button class="go-support-request">
                                        <span class="request-detail">
                                            <div class="detail-text">상세보기</div>
                                        </span>
                                    </button>
                                    <button class="show-answer">
                                        <span class="request-detail">
                                            <div class="detail-text">답변확인</div>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="show-answer-wrap">
                            <div class="support-request-title-wrap">
                                <div class="support-request-title">보아뱀 닮아버린</div>
                            </div>
                            <div class="support-request-content">반 페르시 부합해 루시퍼 베드신 발포해 리스폰 페스시아 완패를 시켜</div>
                            <div class="support-request-reply">공양미 100석 후원</div>
                        </div>
                    </div>
                    <div>
                        <div class="support-request-one-wrap">
                            <div class="support-request">
                                <div class="support-request-place">
                                    <div class="support-request-title-wrap">
                                        <div class="support-request-title">높이 올라가</div>
                                    </div>
                                    <div class="support-request-content">세상을 다 가져봐</div>
                                    <div class="support-request-reply">공양미 100석 후원</div>
                                </div>
                                <div class="support-request-detail">
                                    <button class="go-support-request">
                                        <span class="request-detail">
                                            <div class="detail-text">상세보기</div>
                                        </span>
                                    </button>
                                    <button class="show-answer">
                                        <span class="request-detail">
                                            <div class="detail-text">답변확인</div>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="show-answer-wrap">
                            <div class="support-request-title-wrap">
                                <div class="support-request-title">보아뱀 닮아버린</div>
                            </div>
                            <div class="support-request-content">반 페르시 부합해 루시퍼 베드신 발포해 리스폰 페스시아 완패를 시켜</div>
                            <div class="support-request-reply">공양미 100석 후원</div>
                        </div>
                    </div>


                    <div class="page-wrap">
                        <ul class="page-ul">
                            <li class="page-arrow">
                                <div class="arrow">
                                    <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.8912 45.3014L12 23.913L32.8912 2.52471C33.5866 1.8251 34.7804 1.8251 35.4777 2.52471C36.1741 3.22333 36.1741 4.42368 35.4777 5.22224L17.1731 23.913L35.4777 42.7018C36.1741 43.4024 36.1741 44.6018 35.4777 45.4013C35.0788 45.8011 34.6819 46 34.1845 46C33.7855 45.9011 33.2881 45.7002 32.8912 45.3014Z"></path></svg>
                                </div>
                            </li>
                            <li class="page-li-select">
                                <a href="">1</a>
                            </li>
                            <li class="page-li">
                                <a href="">2</a>
                            </li>
                            <li class="page-li">
                                <a href="">3</a>
                            </li>
                            <li class="page-li">
                                <a href="">4</a>
                            </li>
                            <li class="page-li">
                                <a href="">5</a>
                            </li>
                            <li class="page-arrow">
                                <div class="arrow">
                                    <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.9071 46C13.4118 46 12.9164 45.8001 12.6192 45.4003C11.9257 44.7007 11.9257 43.5014 12.6192 42.7019L30.8493 24.0125L12.5201 5.22317C11.8266 4.52357 11.8266 3.32425 12.5201 2.5247C13.2136 1.8251 14.3034 1.8251 15.096 2.5247L36 24.0125L15.195 45.4003C14.7988 45.8001 14.3034 46 13.9071 46Z"></path></svg>
                                </div>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>

        <div class="change-modal" id="modal">
            <div class="change-modal-root"></div>
            <div class="change-modal-container">
                <div class="change-modal-wrapper">
                    <div>
                        <div class="change-modal-title-row">
                            <h4 class="change-modal-title-text">1:1 문의내역</h4>
                            <!-- x버튼 -->
                            <div class="modal-close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                     viewBox="0 0 32 32">
                                    <g fill="none" fill-rule="evenodd">
                                        <g>
                                            <g>
                                                <g>
                                                    <path fill="#fff" fill-opacity="0"
                                                          d="M0 0H32V32H0z"
                                                          transform="translate(-884 -270) translate(500 240) translate(384 30)"></path>
                                                    <g stroke="#999" stroke-linecap="round">
                                                        <path d="M20 20L0 0M0 20L20 0"
                                                              transform="translate(-884 -270) translate(500 240) translate(384 30) translate(6 6)"></path>
                                                    </g>
                                                    <g fill="#999">
                                                        <path d="M.784.089l.07.057L10.5 9.793 20.146.146c.196-.195.512-.195.708 0 .173.174.192.443.057.638l-.057.07-9.647 9.646 9.647 9.646c.195.196.195.512 0 .708-.174.173-.443.192-.638.057l-.07-.057-9.646-9.647-9.646 9.647c-.196.195-.512.195-.708 0-.173-.174-.192-.443-.057-.638l.057-.07L9.793 10.5.146.854C-.049.658-.049.342.146.146.32-.027.59-.046.784.09z"
                                                              transform="translate(-884 -270) translate(500 240) translate(384 30) translate(5.5 5.5)"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <form action="" class="change-modal-form-wrapper">
                            <div class="change-modal-form-row">
                                <span class="change-modal-form-label">제목</span>
                                <div class="change-modal-form-field">
                                    <div class="change-modal-form-title">
                                        <input type="text" placeholder="제목을 입력해주세요." class="change-modal-form-title-input">
                                    </div>
                                </div>
                            </div>
                            <div class="change-modal-form-row">
                                <span class="change-modal-form-label">내용</span>
                                <div class="change-modal-form-field">
                                    <div class="change-modal-form-field-container">
                                        <textarea inputmode="text"
                                                  class="change-modal-form-field-text"></textarea>
                                        <span class="change-modal-form-field-content">
                                                <span style="color: rgb(51, 51, 51);">0자</span>
                                                <span style="color: rgb(153, 153, 153);"></span>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="change-modal-actions-row">
                            <button type="submit" class="change-modal-ok-btn">
                                <span class="change-modal-btn">수정</span>
                            </button>
                            <button type="button" class="change-modal-delete-btn">
                                <span class="change-modal-btn">삭제</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal-wrap">
            <div class="modal-container">
                <div class="modal">
                    <div class="modal-content">답변이 아직 등록되지 않았습니다.</div>
                    <div class="modal-ok-div">
                        <button type="button" class="modal-ok">확인</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- 푸터 임시 -->
        <footer id="_footer"></footer>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#_header').load('../main/header.html');
        $('#_footer').load('../main/footer.html');
    });
</script>
<script src="../../static/js/mypage/my-question.js"></script>
</html>