<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mypage/mypage-header.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>
    <div th:fragment="mypageHeader" class="mypage-header-wrap">
        <div class="mypage-header-container">
            <div class="mypage-header">
                <div class="mypage-header-left">
                    <div class="my-rank">
                        <img alt="">
                    </div>
                    <div class="mypage-info">
                        <div class="info-name" th:text="${memberDTO.memberName}"></div>
                        <div class="info-rice">
                            <p th:text="'내 공양미: '+${memberDTO.memberRice} + '석'">내 공양미 : 300석</p>
                        </div>
                    </div>
                </div>
                <div class="rice-charge-wrap">
                    <button type="button" class="rice-charge">
                        <div class="rice-charge-text">공양미 충전</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="header-menu-wrap">
            <div class="header-menu">
                <div class="header-menu-inner">
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/support-request" class="header-menu-a">후원 요청 목록</a>
                        </div>
                    </span>
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-freeboard" class="header-menu-a">작성한 게시물</a>
                        </div>
                    </span>
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-question" class="header-menu-a">내 문의사항</a>
                        </div>
                    </span>
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/volunteer-work-list" class="header-menu-a">봉사활동 내역</a>
                        </div>
                    </span>
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-support-list" class="header-menu-a">후원내역</a>
                        </div>
                    </span>
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-funding-list" class="header-menu-a">펀딩내역</a>
                        </div>
                    </span>
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/rice-list" class="header-menu-a">공양미 내역</a>
                        </div>
                    </span>
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/exchange-request" class="header-menu-a">공양미 환전요청</a>
                        </div>
                    </span>
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/user-modify" class="header-menu-a">회원정보 수정</a>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/mypage/mypage-header.js"></script>
</html>