<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공양미 충전</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/mypage/mypage-header.css">
    <link rel="stylesheet" href="/css/mypage/rice-charge.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
    <div class="full-screen">

        <!-- 헤더 임시 -->
        <header th:insert="~{main/header.html :: mainHeader}"></header>



        <div class="mypage-header-wrap">
            <div class="mypage-header-container">
                <div class="mypage-header">
                    <div class="mypage-header-left">
                        <div class="my-rank">
                            <img src="https://i.namu.wiki/i/67tjhRLuCX7MYeLY5p94GgXYHP7v1dMQ5M0QP8emeuw3IvlZlQNZBgeKz5qj8P_3ll2AF97RWC_isDEnrT4kgeBMW1GU39jR-Wn92gD-XSt5J1HbKiRxpRt8ZRaq8dvGHUMTt_clauEc9TOx_JyIaQ.webp" alt="">
                        </div>
                        <div class="mypage-info">
                            <div class="info-name">정현진</div>
                            <div class="info-rice">
                                <p>내 공양미 : 300석</p>
                            </div>
                        </div>
                    </div>
                    <div class="rice-charge-wrap">
                        <button class="rice-charge">
                            <div class="rice-charge-text">공양미 충전</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header-menu-wrap">
                <div class="header-menu">
                    <div class="header-menu-inner">
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">후원 요청 목록</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">작성한 후기</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">내 문의사항</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">봉사활동 내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">후원내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">펀딩내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">공양미 내역</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">공양미 환전요청</a>
                            </div>
                        </span>
                        <span class="header-menu-element">
                            <div class="header-menu-div">
                                <a href="" class="header-menu-a">회원정보 수정</a>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="rice-charge-container">
                <ul>
                    <li class="rice-charge-li">
                        <div class="rice-charge-div">
                            <div style="display: inline-block;">
                                <img src="https://cphoto.asiae.co.kr/listimglink/1/2018030707442862782_1520376271.jpeg" alt="">
                            </div>
                            <div class="rice-charge-content">
                                <div class="rice-charge-explain">
                                    <span class="rice-charge-amount">공양미 10석</span>
                                    <span class="rice-charge-price">1100원</span>
                                </div>
                                <button class="pay-button">
                                    <span>구매하기</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="rice-charge-li">
                        <div class="rice-charge-div">
                            <div style="display: inline-block;">
                                <img src="https://cphoto.asiae.co.kr/listimglink/1/2018030707442862782_1520376271.jpeg" alt="">
                            </div>
                            <div class="rice-charge-content">
                                <div class="rice-charge-explain">
                                    <span class="rice-charge-amount">공양미 50석</span>
                                    <span class="rice-charge-price">5500원</span>
                                </div>
                                <button class="pay-button">
                                    <span>구매하기</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="rice-charge-li">
                        <div class="rice-charge-div">
                            <div style="display: inline-block;">
                                <img src="https://cphoto.asiae.co.kr/listimglink/1/2018030707442862782_1520376271.jpeg" alt="">
                            </div>
                            <div class="rice-charge-content">
                                <div class="rice-charge-explain">
                                    <span class="rice-charge-amount">공양미 100석</span>
                                    <span class="rice-charge-price">11000원</span>
                                </div>
                                <button class="pay-button">
                                    <span>구매하기</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="rice-charge-li">
                        <div class="rice-charge-div">
                            <div style="display: inline-block;">
                                <img src="https://cphoto.asiae.co.kr/listimglink/1/2018030707442862782_1520376271.jpeg" alt="">
                            </div>
                            <div class="rice-charge-content">
                                <div class="rice-charge-explain">
                                    <span class="rice-charge-amount">공양미 200석</span>
                                    <span class="rice-charge-price">22000원</span>
                                </div>
                                <button class="pay-button">
                                    <span>구매하기</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="rice-charge-li">
                        <div class="rice-charge-div">
                            <div style="display: inline-block;">
                                <img src="https://cphoto.asiae.co.kr/listimglink/1/2018030707442862782_1520376271.jpeg" alt="">
                            </div>
                            <div class="rice-charge-content">
                                <div class="rice-charge-explain">
                                    <span class="rice-charge-amount">공양미 300석</span>
                                    <span class="rice-charge-price">33000원</span>
                                </div>
                                <button class="pay-button">
                                    <span>구매하기</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="rice-charge-li">
                        <div class="rice-charge-div">
                            <div style="display: inline-block;">
                                <img src="https://cphoto.asiae.co.kr/listimglink/1/2018030707442862782_1520376271.jpeg" alt="">
                            </div>
                            <div class="rice-charge-content">
                                <div class="rice-charge-explain">
                                    <span class="rice-charge-amount">공양미 500석</span>
                                    <span class="rice-charge-price">55000원</span>
                                </div>
                                <button class="pay-button">
                                    <span>구매하기</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
        </div>

        <div style="margin-bottom: 50px;"></div>



        <!-- 푸터 임시 -->
        <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
</html>