<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공양미 내역</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/mypage/paging.css">
    <link rel="stylesheet" href="/css/mypage/mypage-header.css">
    <link rel="stylesheet" href="/css/mypage/rice-list.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>
    <div class="full-screen">

        <!-- 헤더 임시 -->
        <header th:insert="~{main/header.html :: mainHeader}"></header>

        <!-- 마이페이지 헤더 -->
        <div th:insert="~{mypage/mypage-header.html :: mypageHeader}"></div>

        <div class="table-wrap">
            <table class="rice-table">
                <thead>
                    <tr>
                        <th>충전/사용 공양미</th>
                        <th>결제시간</th>
                        <th>충전/사용/환전/후원받은 공양미 여부</th>
                    </tr>
                </thead>
                <tbody>
<!--                    <tr>-->
<!--                        <td>300석</td>-->
<!--                        <td>150석</td>-->
<!--                        <td>2023-04-22 18:26:00</td>-->
<!--                        <td>충전</td>-->
<!--                    </tr>-->

                </tbody>
            </table>
            <div class="page-wrap">
                <div>
                    <div class="paging" style="text-align: center">
                        <a th:if="${pageDTO.prev}" th:href="@{/mypage/rice-list} + '?page=' + ${pageDTO.startPage - 1}" class="changePage" style="color: black"><code><</code></a>
                        <th:block th:each="page:${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                            <a th:href="@{/mypage/rice-list} + '?page=' + ${page}" th:if="${pageDTO.pageNum != page}" class="changePage" style="color: black" th:text="${page}"></a>
                            <code id="currentPage" th:if="${pageDTO.pageNum == page}" th:text="${page}">1</code>
                        </th:block>
                        <a th:if="${pageDTO.next}" th:href="@{/mypage/rice-list} + '?page=' + ${pageDTO.endPage + 1}" class="changePage" style="color: black"><code>></code></a>
                    </div>
                    <form name="pageForm">
                        <input type="hidden">
                        <input type="hidden">
                    </form>
                </div>
            </div>
        </div>

        <!-- 푸터 임시 -->
        <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let myRicePayment = [[${myRicePayments}]];
    myRicePayment.forEach(myRicePayment => console.log(myRicePayment.memberRice));
    let memberDTO = [[${memberDTO}]];
    let menuNumber = 6;
</script>
<script src="/js/main/header.js"></script>
<script src="/js/mypage/rice-list.js"></script>
<script src="/js/mypage/mypage-header.js"></script>
<script src="/js/mypage/my-rank.js"></script>
</html>