<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공양미 내역</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/mypage/mypage-header.css">
    <link rel="stylesheet" href="/css/mypage/rice-list.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
    <div class="full-screen">

        <!-- 헤더 임시 -->
        <header th:insert="~{main/header.html :: mainHeader}"></header>

        <!-- 마이페이지 헤더 -->
        <div class="mypage-header-wrap">
            <div class="mypage-header-container">
                <div class="mypage-header">
                    <div class="mypage-header-left">
                        <div class="my-rank">
                            <img src="https://i.namu.wiki/i/67tjhRLuCX7MYeLY5p94GgXYHP7v1dMQ5M0QP8emeuw3IvlZlQNZBgeKz5qj8P_3ll2AF97RWC_isDEnrT4kgeBMW1GU39jR-Wn92gD-XSt5J1HbKiRxpRt8ZRaq8dvGHUMTt_clauEc9TOx_JyIaQ.webp" alt="">
                        </div>
                        <div class="mypage-info">
                            <div class="info-name">정현진</div>
                            <div class="info-rice">
                                <p>내 공양미 : 300석</p>
                            </div>
                        </div>
                    </div>
                    <div class="rice-charge-wrap">
                        <button type="button" class="rice-charge">
                            <div class="rice-charge-text">공양미 충전</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header-menu-wrap">
                <div class="header-menu">
                    <div class="header-menu-inner">
                    <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/support-request" class="header-menu-a">후원 요청 목록</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-review" class="header-menu-a">작성한 게시물</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-question" class="header-menu-a">내 문의사항</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/volunteer-work-list" class="header-menu-a">봉사활동 내역</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-support-list" class="header-menu-a">후원내역</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/my-funding-list" class="header-menu-a">펀딩내역</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/rice-list" class="header-menu-a-select">공양미 내역</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/exchange-request" class="header-menu-a">공양미 환전요청</a>
                        </div>
                    </span>
                        <span class="header-menu-element">
                        <div class="header-menu-div">
                            <a href="/mypage/user-modify" class="header-menu-a">회원정보 수정</a>
                        </div>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-wrap">
            <table class="rice-table">
                <thead>
                    <tr>
                        <th>현재 공양미</th>
                        <th>충전/사용 공양미</th>
                        <th>결제시간</th>
                        <th>충전/사용/환전/후원받은 공양미 여부</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>300석</td>
                        <td>150석</td>
                        <td>2023-04-22 18:26:00</td>
                        <td>충전</td>
                    </tr>
                    <tr>
                        <td>300석</td>
                        <td>150석</td>
                        <td>2023-04-22 18:26:00</td>
                        <td>사용</td>
                    </tr>
                    <tr>
                        <td>300석</td>
                        <td>150석</td>
                        <td>2023-04-22 18:26:00</td>
                        <td>후원받은 공양미</td>
                    </tr>
                    <tr>
                        <td>300석</td>
                        <td>150석</td>
                        <td>2023-04-22 18:26:00</td>
                        <td>사용</td>
                    </tr>
                    <tr>
                        <td>300석</td>
                        <td>150석</td>
                        <td>2023-04-22 18:26:00</td>
                        <td>충전</td>
                    </tr>
                    <tr>
                        <td>300석</td>
                        <td>150석</td>
                        <td>2023-04-22 18:26:00</td>
                        <td>사용</td>
                    </tr>
                </tbody>
            </table>
            <div class="page-wrap">
                <ul class="page-ul">
                    <li class="page-arrow">
                        <div class="arrow">
                            <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.8912 45.3014L12 23.913L32.8912 2.52471C33.5866 1.8251 34.7804 1.8251 35.4777 2.52471C36.1741 3.22333 36.1741 4.42368 35.4777 5.22224L17.1731 23.913L35.4777 42.7018C36.1741 43.4024 36.1741 44.6018 35.4777 45.4013C35.0788 45.8011 34.6819 46 34.1845 46C33.7855 45.9011 33.2881 45.7002 32.8912 45.3014Z"></path></svg>
                        </div>
                    </li>
                    <li class="page-li-select">
                        <a href="">1</a>
                    </li>
                    <li class="page-li">
                        <a href="">2</a>
                    </li>
                    <li class="page-li">
                        <a href="">3</a>
                    </li>
                    <li class="page-li">
                        <a href="">4</a>
                    </li>
                    <li class="page-li">
                        <a href="">5</a>
                    </li>
                    <li class="page-arrow">
                        <div class="arrow">
                            <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.9071 46C13.4118 46 12.9164 45.8001 12.6192 45.4003C11.9257 44.7007 11.9257 43.5014 12.6192 42.7019L30.8493 24.0125L12.5201 5.22317C11.8266 4.52357 11.8266 3.32425 12.5201 2.5247C13.2136 1.8251 14.3034 1.8251 15.096 2.5247L36 24.0125L15.195 45.4003C14.7988 45.8001 14.3034 46 13.9071 46Z"></path></svg>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 푸터 임시 -->
        <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/mypage/mypage-header.js"></script>
</html>