<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원 요청 목록</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/mypage/mypage-header.css">
    <link rel="stylesheet" href="/css/mypage/support-request.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/mypage/paging.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>
    <div class="full-screen">

        <!-- 헤더 임시 -->
        <header th:insert="~{main/header.html :: mainHeader}"></header>

        <!-- 마이페이지 헤더 -->
        <div th:insert="~{mypage/mypage-header.html :: mypageHeader}"></div>

        <div class="content-wrap">
            <div class="support-request-wrap">
                <div class="support-request-inner-wrap">
                    <!--<div class="support-request-one-wrap">
                        <div class="support-request">
                            <div class="support-request-place">
                                <div class="support-request-title-wrap">
                                    <div class="support-request-title">높이 올라가</div>
                                </div>
                                <div class="support-request-content">세상을 다 가져봐</div>
                                &lt;!&ndash;<div class="support-request-reply">댓글 1</div>&ndash;&gt;
                            </div>
                            <div class="support-request-detail">
                                <button class="go-support-request">
                                    <span class="request-detail">
                                        <div class="detail-text">상세보기</div>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="support-request-one-wrap">
                        <div class="support-request">
                            <div class="support-request-place">
                                <div class="support-request-title-wrap">
                                    <div class="support-request-title">높이 올라가</div>
                                </div>
                                <div class="support-request-content">세상을 다 가져봐</div>
                            </div>
                            <div class="support-request-detail">
                                <button class="go-support-request">
                                    <span class="request-detail">
                                        <div class="detail-text">상세보기</div>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="page-wrap">
                    <div>
                        <div class="paging" style="text-align: center">
                            <a th:if="${pageDTO.prev}" th:href="@{/mypage/support-request} + '?page=' + ${pageDTO.startPage - 1}" class="changePage" style="color: black"><code><</code></a>
                            <th:block th:each="page:${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                                <a th:href="@{/mypage/support-request} + '?page=' + ${page}" th:if="${pageDTO.pageNum != page}" class="changePage" style="color: black" th:text="${page}"></a>
                                <code id="currentPage" th:if="${pageDTO.pageNum == page}" th:text="${page}">1</code>
                            </th:block>
                            <a th:if="${pageDTO.next}" th:href="@{/mypage/support-request} + '?page=' + ${pageDTO.endPage + 1}" class="changePage" style="color: black"><code>></code></a>
                        </div>
                        <form name="pageForm">
                            <input type="hidden">
                            <input type="hidden">
                        </form>
                    </div>
                </div>
            </div>
        </div>





        <!-- 푸터 임시 -->
        <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let mySupportRequests = [[${mySupportRequests}]];
    let memberDTO = [[${memberDTO}]];
    let menuNumber = 0;
</script>
<script src="/js/main/header.js"></script>
<script src="/js/mypage/mypage-header.js"></script>
<script src="/js/mypage/my-support-request.js"></script>
<script src="/js/mypage/my-rank.js"></script>
</html>