<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>본인 인증</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/mypage/withdraw-login.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
    <div class="full-screen">

        <!-- 헤더 임시 -->
        <header th:insert="~{main/header.html :: mainHeader}"></header>

        <div class="withdraw-login-container">
            <div class="withdraw-header-wrap">
                <div class="withdraw-header">
                    <span class="withdraw-header-text">회원 탈퇴</span>
                </div>
            </div>

            <div class="password-wrap">
                <div class="password-inner-wrap">
                    <h3 class="password-title">본인 인증</h3>

                    <form th:action="@{/mypage/withdraw}" name="withdrawForm" method="post">
                        <div class="input-div">
                            <div class="input-include-div">
                                <span class="input-include-span">
                                    <input type="text" id="memberEmail" name="memberEmail" class="input-write" th:value="${memberEmail}" readonly>
                                </span>
                            </div>
                        </div>
                        <div class="input-div">
                            <div class="input-include-div">
                                <span class="input-include-span">
                                    <input type="password" id="memberPassword" name="memberPassword" class="input-write" placeholder="비밀번호">
                                </span>
                            </div>
                            <div class="email-error"></div>
                        </div>
                        <button class="submit-button" type="button">
                            <span>회원 탈퇴</span>
                        </button>
                    </form>
                </div>
            </div>
            
            <div class="modal-wrap">
                <div class="modal-container">
                    <div class="modal">
                        <div class="modal-content">회원 탈퇴가 완료되었습니다.</div>
                        <div class="modal-ok-div">
                            <button type="button" class="modal-ok">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- 푸터 임시 -->
        <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/mypage/withdraw-login.js"></script>
</html>