<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소통하고 전달하기 - 텀블벅 헬프센터</title>
    <link rel="stylesheet" href="/css/customerCenter/faq.css">
    <link rel="stylesheet" href="/css/font/font.css">

</head>
<body>
    <div class="full-screen">

        <!-- 헤더 임시 -->
        <header th:insert="~{main/header.html :: mainHeader}"></header>



        <main class="main">
            <div class="container">
                <nav class="sub_nav">
                    <ol class="breadcrumbs">
                        <li class="breadcrumbs_li">
                            <a class="breadcrumbs_li_a">텀블벅 헬프센터</a>
                        </li>
                        <li class="breadcrumbs_li">
                            <!-- before -->
                            <a class="breadcrumbs_li_a">주제별 도움말</a>
                        </li>
                        <li class="breadcrumbs_li">
                            <!-- before -->
                            <a class="breadcrumbs_li_a">소통하고 전달하기</a>
                        </li>
                    </ol>
                </nav>
                <div class="section_container">
                    <section class="section_content">
                        <header class="page_header">
                            <h2 class="page_header_h2">소통하고 전달하기</h2>
                        </header>
                        <ul class="article_list">
                            <!-- <li class="article_list_item article_promoted">
                                <a class="article_list_link">
                                    모금액은 언제 정산되나요?
                                </a>
                            </li> -->
                            <li class="article_list_item article_promoted">
                                <a class="article_list_link" href="/templates/customerCenter/faq-detail.html">
                                    펀딩 모금액에 대한 세무 신고는 어떻게 해야 하나요?
                                </a>
                            </li>
                            <li class="article_list_item article_promoted">
                                <a class="article_list_link">
                                    후원자 명단은 어디에서 확인할 수 있나요?(후원자 관리)
                                </a>
                            </li>
                            <li class="article_list_item article_promoted">
                                <a class="article_list_link">
                                    배송 준비가 다 되었는데, 후원자의 배송지 수정을 마감할 수 있나요?
                                </a>
                            </li>
                            <li class="article_list_item article_promoted">
                                <a class="article_list_link">
                                    선물 발송 후 운송장 번호를 등록하고 싶습니다.
                                </a>
                            </li>
                            <li class="article_list_item">
                                <a class="article_list_link">
                                    후원자에게 현금영수증은 어떻게 발행하나요?
                                </a>
                            </li>
                            <li class="article_list_item">
                                <a class="article_list_link">
                                    후원자에게 선물 전달이 모두 완료되었다고 알리고 싶어요!
                                </a>
                            </li>
                            <li class="article_list_item">
                                <a class="article_list_link">
                                    배송이 예상 전달일보다 늦어질 것 같아요. 어떻게 해야 하죠?
                                </a>
                            </li>
                            <li class="article_list_item">
                                <a class="article_list_link">
                                    펀딩에 성공했는데 후원자님의 결제수단이 유효하지 않다면 어쩌죠?
                                </a>
                            </li>
                            <li class="article_list_item">
                                <a class="article_list_link">
                                    펀딩 종료 이후 환불을 원하는 후원자가 있으면 어떡하죠?
                                </a>
                            </li>
                            <li class="article_list_item">
                                <a class="article_list_link">
                                    종료된 프로젝트를 삭제(비공개)할 수 있나요?
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </main>


    </div>


    <!-- 푸터 임시 -->
    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>

</html>