<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의하기</title>
    <link rel="stylesheet" href="../../static/font/font.css">
    <link rel="stylesheet" href="../../static/css/customerCenter/inquiry-write.css">
</head>
<body>
    <div class="main">
            <div class="main-layout">
                <div  class="main-container">
                    <div class="main-wrap">
                        <header class="inquiry-header-layout">
                        <!-- <button class="BaseHeaderstyled__BackButtonWrapper-ch-front__sc-aselju-1 eeIupr">
                            <span class="a11y-hidden"> Go to previous page </span>
                            <svg width="20" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg" foundation="[object Object]" class="InnerIconstyled__Icon-ch-front__sc-197h5bb-0 etebq" defaultopacity="1" hoveredopacity="1" margintop="0" marginright="0" marginbottom="0" marginleft="0" withtheme="true">
                                <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M9.17255 16.4226C8.84711 16.748 8.31947 16.748 7.99404 16.4226L2.1607 10.5893C1.83527 10.2638 1.83527 9.73619 2.1607 9.41075L7.99404 3.57742C8.31947 3.25198 8.84711 3.25198 9.17255 3.57742C9.49799 3.90285 9.49799 4.43049 9.17255 4.75593L3.92847 10L9.17255 15.2441C9.49799 15.5695 9.49799 16.0972 9.17255 16.4226Z"></path>
                            </svg>
                            <div class="BaseHeaderstyled__Badge-ch-front__sc-aselju-2 HeqST">
                                <span class="sc-AxirZ lkAoyP" data-testid="bezier-react-text"></span>
                            </div>
                        </button> -->
                        <div class="inquiry-header-container">
                            <!-- <h1 class="a11y-hidden">Chat Room</h1> -->
                            <div class="inquiry-header-wrapper">
                                <div class="inquiry-header-wrap">
                                    <span class="inquiry-header-span" >
                                <div class="inquiry-header-title">심봉사 문의하기</div>
                                </span>
                            </div>
                        </div>
                    </div>
                
                    <div class="inquiry-close-btn-wrap">
                        <button class="inquiry-close-btn">
                            <!-- <span class="a11y-hidden"> Close chat </span> -->
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" foundation="[object Object]" class="" defaultopacity="1" hoveredopacity="1" margintop="0" marginright="0" marginbottom="0" marginleft="0" withtheme="true">
                                <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M16.4818 4.69668L15.3033 3.51817L10 8.82147L4.69671 3.51817L3.5182 4.69668L8.8215 9.99998L3.51819 15.3033L4.6967 16.4818L10 11.1785L15.3033 16.4818L16.4818 15.3033L11.1785 9.99998L16.4818 4.69668Z"></path>
                            </svg>
                        </button>
                    </div>
                </header>
            
                    <div class="inquiry-content-layout">
                        <main class="inquiry-content-container">
                            <section role="log" class="inquiry-content-wrap">
                                <!-- <h2 class="a11y-hidden"> Message List </h2> -->
                                <div class="InfiniteScrollstyled__FixedScrollWrapper-ch-front__sc-1b63wy2-1 fuBlmU">
                                    <div class="InfiniteScrollstyled__ScrollElement-ch-front__sc-1b63wy2-2 binOeK">
                                        <div class="InfiniteScrollstyled__ContentWrapper-ch-front__sc-1b63wy2-3 bDTowK MessageStreamstyled__InfiniteScroll-ch-front__sc-1hff8rl-2 bgraZS">
                                            <div class="InfiniteScrollstyled__InnerWrapper-ch-front__sc-1b63wy2-4 kkmvQu">
                                                <div tabindex="0" class="ChannelDescriptionstyled__Wrapper-ch-front__sc-1nrmoay-0 bEKhDP">
                                                    <div size="96" class="Avatarstyled__Wrapper-ch-front__sc-yfy5xq-0 cxqDLF">
                                                        <img width="96" height="96" src="https://cf.channel.io/thumb/200x200/file/4577/5e742a30957aff9c62ff/tumblbug_av_big.png" alt="avatar"></div>
                                                            <div class="ChannelDescriptionstyled__TextWrapper-ch-front__sc-1nrmoay-1 dlomZL">
                                                                <div class="ChannelDescriptionstyled__Title-ch-front__sc-1nrmoay-2 ETHhN">텀블벅 헬프센터에 문의하기</div>
                                                                    <div class="ChannelDescriptionstyled__Description-ch-front__sc-1nrmoay-3 eIxZuz">텀블벅 — 당신의 취향이 세상을 바꿉니다</div>
                                                                    <div class="ChannelDescriptionstyled__Status-ch-front__sc-1nrmoay-4 SgiqE">
                                                                        <div name="chat-error-filled" size="14" class="SVGIconstyled__SVGIcon-ch-front__sc-15isf0b-0 jqReCF"></div>
                                                                            <div class="ChannelDescriptionstyled__ResponseDelay-ch-front__sc-1nrmoay-5 hyksPB">목요일 09:00부터 운영</div>
                                                                    </div>
                                                            </div>
                                                </div>
                                                <div class="TimeDividerstyled__TimeDivider-ch-front__sc-jlgrsq-0 fOVLbl">오전 4:28</div>
                                                            <div class="DeskMessagestyled__Wrapper-ch-front__sc-1oun56u-3 kRTqtD" tabindex="0"
                                                            <span class="a11y-hidden"> A message sent by an agent </span>
                                                            <div class="DeskMessagestyled__Gutter-ch-front__sc-1oun56u-0 HIYoG">
                                                                <div radius="10" class="Avatarstyled__Wrapper-ch-front__sc-yfy5xq-0 bCwnND DeskMessagestyled__Avatar-ch-front__sc-1oun56u-2 dfZrJW" size="24">
                                                                    <img width="24" height="24" src="https://cf.channel.io/thumb/200x200/file/4577/5e742c13b034dd594994/tumblbug_av_big.png" alt="avatar"></div>
                                                                </div>
                                                                <div class="DeskMessagestyled__Content-ch-front__sc-1oun56u-4 DWfia">
                                                                    <div class="DeskMessagestyled__Header-ch-front__sc-1oun56u-1 jMkehL">
                                                                        <div class="DeskMessagestyled__Name-ch-front__sc-1oun56u-5 kMfKKp">텀블벅 헬프센터</div>
                                                                    </div>
                                                                    <div class="DeskMessageContentstyled__NodesWrapper-ch-front__sc-o56u98-1 fmZjvQ">
                                                                        <div class="MessageContentCommonstyled__BubbleContainer-ch-front__sc-luiwx1-2 gNXJGw">
                                                                            <div class="MessageContentCommonstyled__BubbleWrapper-ch-front__sc-luiwx1-3 gfnylk DeskMessageContentstyled__BubbleWrapper-ch-front__sc-o56u98-2 bdKVvb">
                                                                                <div class="MessageContentCommonstyled__MessageWrapper-ch-front__sc-luiwx1-0 eXahNP">
                                                                                <div>
                                                                                    <div class="Messagestyled__Wrapper-ch-front__sc-19x3rf3-0 eQFKCF MessageContentCommonstyled__Message-ch-front__sc-luiwx1-4 Waqck">
                                                                                        <div id="node-5783d9e7-9ce9-4b77-b5c5-742726f6c48d">안녕하세요. 텀블벅
                                                                                            <img src="https://cf.channel.io/asset/emoji/images/80/ladybug.png" alt="ladybug" data-context-type="emoji" size="18" width="18" height="18" class="Emojistyled__Emoji-ch-front__sc-kwanmh-0 dIpZCO">입니다. 궁금하신 문의 유형을 선택해주세요.
                                                                                            <img src="https://cf.channel.io/asset/emoji/images/80/slightly_smiling_face.png" alt="slightly_smiling_face" data-context-type="emoji" size="18" width="18" height="18" class="Emojistyled__Emoji-ch-front__sc-kwanmh-0 dIpZCO"></div>
                                                                                            <div id="node-197b4f78-09dc-4ca9-8f98-8c7b183dc692" class="empty-line"></div>
                                                                                            <div id="node-6c6bce98-cc9a-4173-8439-9180140030e7">더 빠르게 답변을 확인하고 싶으시다면, 먼저 자주 묻는 질문들을 확인해보세요.</div>
                                                                                            <div id="node-1744b71c-c84d-47b0-87bb-15e3a7bbc574" class="empty-line"></div>
                                                                                            <div id="node-a80f987f-eaeb-4503-8398-a7f64ad7ffbe">
                                                                                                <img src="https://cf.channel.io/asset/emoji/images/80/loudspeaker.png" alt="loudspeaker" data-context-type="emoji" size="18" width="18" height="18" class="Emojistyled__Emoji-ch-front__sc-kwanmh-0 dIpZCO"><b>휴무 안내</b>
                                                                                            </div>
                                                                                            <div id="node-dd06923e-442c-4b84-81e1-b7282327867f">5월 1일(월), 5월 5일(금)에는 상담/심사가 진행되지 않습니다. 자세한 내용은 아래 공지사항을 확인해주세요.</div>
                                                                                            <ul class="MessageBlocksstyled__BulletList-ch-front__sc-4f1w0o-0 rJlVM">
                                                                                                <li>
                                                                                                    <div id="node-85da2a96-b37e-4033-9c65-bdfa322ac992">
                                                                                                        <a href="https://tumblbug.com/notices/notice/379" target="_blank" rel="noopener noreferrer">2023년 5월 1일, 5월 5일 서비스 이용 안내</a>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="MessageButtonstyled__ButtonWrapper-ch-front__sc-14qv0rz-0 bVBIkw MessageContentCommonstyled__MessageButton-ch-front__sc-luiwx1-5 dxCULs">
                                                                                    <a href="https://help.tumblbug.com/hc/ko" target="_blank" rel="noopener noreferrer" class="MessageButtonstyled__LinkButton-ch-front__sc-14qv0rz-2 hOUtzN">
                                                                                    <div class="MessageButtonstyled__ButtonText-ch-front__sc-14qv0rz-1 MTtKr">자주 묻는 질문 확인하기</div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="DeskMessageContentstyled__RightMarginWrapper-ch-front__sc-o56u98-0 jrDjGc">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="MessageContentCommonstyled__BottomMargin-ch-front__sc-luiwx1-12 iOcFtt"></div>
                                                            </div>
                                                        </div>
                                                        <div class="MessageActionstyled__Wrapper-ch-front__sc-waxqya-0 dKudKV MessageNodestyled__MessageAction-ch-front__sc-1xdrx16-0 kGbrKt">
                                                            <span class="a11y-hidden"> Action buttons for quick reply </span>
                                                                <div class="MessageActionstyled__Content-ch-front__sc-waxqya-1 SerrI">
                                                                    <button class="MessageActionstyled__ActionButton-ch-front__sc-waxqya-2 ePVava">
                                                                        <img src="https://cf.channel.io/asset/emoji/images/80/deciduous_tree.png" alt="deciduous_tree" data-context-type="emoji" size="18" width="18" height="18" class="Emojistyled__Emoji-ch-front__sc-kwanmh-0 dIpZCO"> 창작자 문의 </button>
                                                                            <button class="MessageActionstyled__ActionButton-ch-front__sc-waxqya-2 ePVava">
                                                                                <img src="https://cf.channel.io/asset/emoji/images/80/high_brightness.png" alt="high_brightness" data-context-type="emoji" size="18" width="18" height="18" class="Emojistyled__Emoji-ch-front__sc-kwanmh-0 dIpZCO"> 후원자 문의 </button>
                                                                                <button class="MessageActionstyled__ActionButton-ch-front__sc-waxqya-2 ePVava">
                                                                                    <img src="https://cf.channel.io/asset/emoji/images/80/bust_in_silhouette.png" alt="bust_in_silhouette" data-context-type="emoji" size="18" width="18" height="18" class="Emojistyled__Emoji-ch-front__sc-kwanmh-0 dIpZCO"> 계정/로그인 </button>
                                                                                    <button class="MessageActionstyled__ActionButton-ch-front__sc-waxqya-2 ePVava">
                                                                                        <img src="https://cf.channel.io/asset/emoji/images/80/warning.png" alt="warning" data-context-type="emoji" size="18" width="18" height="18" class="Emojistyled__Emoji-ch-front__sc-kwanmh-0 dIpZCO"> 앱/웹 오류 신고 </button>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="Typingstyled__Wrapper-ch-front__sc-1cyucvc-0 dnPUzD MessageStreamstyled__Typing-ch-front__sc-1hff8rl-0 buUrpn">
                                                                                    <div class="Typingstyled__Loader-ch-front__sc-1cyucvc-3 cjVPAJ">
                                                                                        <div class="Typingstyled__Dot-ch-front__sc-1cyucvc-4 hyoOfb"></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div height="44" class="MessageStreamstyled__Margin-ch-front__sc-1hff8rl-3 rUskW"></div>
                                                                                <div class="FileListstyled__FileList-ch-front__sc-vbggwd-0 eYKqhD"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                           
                                                            <div class="MessageStreamstyled__AbsoluteWrapper-ch-front__sc-1hff8rl-4 fbaFOK">
                                                                <button class="NewMessageAlertstyled__AlertButton-ch-front__sc-bijr0f-0 kyAkov">
                                                                    <span class="a11y-hidden"> Move to new message </span>
                                                                    <div name="keyboard" width="24" height="24" size="24" class="SVGIconstyled__SVGIcon-ch-front__sc-15isf0b-0 glETxU"></div>
                                                                </button>
                                                            </div>
                                                        </section>
                                                        <section class="Layoutstyled__MessengerFooterLayout-ch-front__sc-19rvneg-8 ktaPxi">
                                                            <h2 class="a11y-hidden">Messenger Footer</h2>
                                                        </section>
                                                        </main>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ToastContainerstyled__ToastContainer-ch-front__sc-1ra7iyy-0 dvQAzS"></div>
                                        </div>
                                    </div>
    


</body>
</html>