<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/service-info/service-info.css">
</head>
<body>
    <div class="full-screen">
        <div class="scroll-top-btn-wrapper animate"></div>
        <div class="swiper-container">
            <div class="slide-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                <div class="swiper-slide first-image" style="height: 937px;"></div>
                <div class="swiper-slide second-image" style="height: 937px;"></div>
                <div class="swiper-slide third-image" style="height: 937px;"></div>
                <div class="swiper-slide fourth-image" style="height: 937px;"></div>
                <div class="swiper-slide fifth-image" style="height: 937px;"></div>
                <div class="swiper-slide sixth-image" style="height: 937px;"></div>
                <div class="swiper-slide seventh-image" style="height: 937px; position: relative;">
                    <div class="bottom-content-wrap">
                        <div class="btn-wrapper">
                            <a class="button-start" href="/main/main">심봉사 시작하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/service-info/serviceInfo.js"></script>
</html>