<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보 수집 및 이용동의 - 심봉사</title>
    <link rel="stylesheet" href="/css/service-info/service-privacy.css">
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>

<header th:insert="~{main/header.html :: mainHeader}"></header>

<main role="main">
    <div class="container-divider"></div>
    <div class="container">

        <!-- 가입시 동의사항인 경우 -->
        <div class="article-container">
            <article class="static article">
                <h1 title="개인정보 수집 및 이용 동의" class="article-title">
                    개인정보 수집 및 이용 동의

                </h1>
                <div class="article-content">
                    <div class="article-body">
                        <p>개인정보보호법에 따라 심봉사가 회원으로부터 수집하는 개인정보의 항목과 목적, 보유 및 이용기간, 동의 거부권에 대해 안내드립니다.</p>
                        <table style="height: 137px; width: 99.5714%;" border="0" cellpadding="5">
                            <tbody>
                            <tr style="height: 22px;">
                                <td style="width: 11.1908%; height: 22px; vertical-align: middle;">
                                    <strong>수집 항목</strong></td>
                                <td style="width: 32.8092%; height: 22px; vertical-align: middle;">성명 또는 계정이메일, 비밀번호, 이메일 주소, 생년월일</td>
                            </tr>
                            <tr style="height: 22px;">
                                <td style="width: 11.1908%; height: 22px; vertical-align: middle;">
                                    <strong>수집 목적</strong></td>
                                <td style="width: 32.8092%; height: 22px; vertical-align: middle;">계정 생성, 이용자 식별, 회원 관리, 맞춤형 서비스 제공</td>
                            </tr>
                            <tr style="height: 22px;">
                                <td style="width: 11.1908%; height: 22px; vertical-align: middle;">
                                    <strong>보유 및 이용기간</strong>
                                </td>
                                <td style="width: 32.8092%; height: 22px; vertical-align: middle;">회원탈퇴 또는 서비스 종료시까지 (단, 관계법령에 정해진 규정에 따라 법정기간 동안 보관)</td>
                            </tr>
                            </tbody>
                        </table>
                        <p>이용자께서는 개인정보 수집 및 이용에 동의를 거부하실 수 있습니다. 다만, 서비스 제공에 필요한 최소한의 개인정보 제공에 동의하지 않으실 경우 회원가입이 어렵습니다.</p>


                        <div class="cont_term">
                            <div class="item_term">
                                <p>더 자세한 내용에 대해서는
                                    <a href="/service/privacy-conditions">개인정보처리방침</a>
                                    을 참고하시길 바랍니다.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="footer-inner">
        <p>심봉사(주) | 대표 황자현 105-87-52823 | 서울특별시 강남구 테헤란로 146, 4층(역삼동) | 통신판매업 2022-서울서초-0352 | 대표전화 02-6080-0760</p>
        <div class="footer-language-selector">

        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>

</html>