<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/calendar/common.css">
    <link rel="stylesheet" href="/css/calendar/global.css">
    <link rel="stylesheet" href="/css/calendar/calendar-response.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link href="//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text" rel="stylesheet" type="text/css"/>
    <title>심봉사 캘린더</title>
</head>
<style>
    #body{
        background: white;
    }
   
</style>
<body class="sub" id="body">
<header th:insert="~{main/header.html :: mainHeader}"></header>

<div id="wrap">
        <section id="sub-calendar">
        <div id="content">
            <div class="sub-tit">
                <h3>자원봉사 일정</h3>
                <em>국내외 이웃들이 여러분의 참여를 기다립니다.</em>
            </div>

            <!-- 캘린더 -->
            <div class="schedule-cal">
                <div class="date">
                    <!-- 이번 년 이전 월 -->
                    <a  href="" class="prev"></a>
                    <!-- <a href="?year=2023&amp;month=3#title_i" class="prev"></a> -->
                    <h5 class="calendar-yearmonth">2023년 4월</h5>
                    <!-- 현재가 12월이라 다음 달이 내년 1월인경우 -->
                    <!-- 이번 년 다음 월 -->
                    <!-- <a href="?year=2023&amp;month=5#title_i" class="next"></a> -->
                    <a href="" class="next"></a>
                </div>
                <div class="tblWrap" id="calendar"></div>
                
            </div>
            <form action="schedule_step2" class="cal-ajax-wrap" id="cal-ajax-wrap" >
                <!-- AJAX 쓸 부분이라고 하는데 어떻게 쓸지 모르겠음...-->
            </form>


            <div class="domecontact">
                <h5><img class="speakerImg" src="/image/calendar/loud-speaker.png">국내자원봉사 문의</h5>
                <ul>
                    <li>
                        <strong><img class="calendarImg" src="/image/calendar/call.png">전화(교회)</strong>
                        <p>02-3407-1991 </p>
                    </li>
                    <li>
                        <strong><img class="calendarImg" src="/image/calendar/mail.png">이메일</strong>
                        <p><a href="mailto:ig@habitat.or.kr">ig@habitat.or.kr</a></p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <strong><img class="calendarImg" src="/image/calendar/call.png">전화(기업)</strong>
                        <p>02-3407-1984</p>
                    </li>
                    <li>
                        <strong><img class="calendarImg" src="/image/calendar/mail.png">이메일</strong>
                        <p><a href="mailto:csr@habitat.or.kr">csr@habitat.or.kr</a></p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <strong><img class="calendarImg" src="/image/calendar/call.png">전화(기타)</strong>
                        <p>02-3407-1992, 1934</p>
                    </li>
                    <li>
                        <strong><img class="calendarImg" src="/image/calendar/mail.png">이메일</strong>
                        <p><a href="mailto:volunteer@habitat.or.kr">volunteer@habitat.or.kr</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--<script type="text/javascript">-->
<!--    $(document).ready(function(){-->
<!--        $("#_header").load("../main/header.html");-->
<!--        $("#_footer").load("../main/footer.html");-->
<!--    });-->
<!--</script>-->
<script src="/js/calendar/calendar.js"></script>
<script src="/js/header/header.js"></script>
</html>