@charset "UTF-8";



.main-container {
    position: relative;
    width: 370px;
    height: 680px;
    /* margin: 20px auto; */
    overflow: hidden;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 60px 5px;
    transform: translate(0px, 0px);
    background-color: rgba(247, 247, 248, 0.9);
    backdrop-filter: blur(60px);
    float: right;
    margin-top: 16em;
    margin-right: 4px;
}

.main-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.inquiry-header-layout {
    background-color: rgba(239, 239, 240, 0.8);
    backdrop-filter: blur(60px);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    transform: translateZ(0px);
    position: relative;
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    min-height: 60px;
    padding-right: 14px;
    padding-bottom: 1px;
    padding-left: 12px;
    overflow: hidden;
}

.inquiry-header-container {
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    width: 100%;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    /* opacity: 0.01; */
}

.inquiry-header-wrapper {
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    overflow: hidden;
}

.inquiry-header-wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.inquiry-header-span {
    font-size: 18px;
    line-height: 2.2rem;
    letter-spacing: -0.1px;
    margin: 0px;
    font-style: normal;
    font-weight: bold;
    color: inherit;
    transition: color 150ms cubic-bezier(0.3, 0, 0, 1) 0ms;
    padding: 0px 66px;
}

.inquiry-header-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inquiry-close-btn-wrap {
    display: flex;
    flex-shrink: 0;
    margin-left: 12px;
}

.inquiry-close-btn {
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    /* -webkit-box-pack: center; */
    justify-content: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: none;
}

.inquiry-close-btn  svg {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    margin: 0px;
    color: rgb(248, 100, 83);
    cursor: pointer;
    opacity: 1;
}

.inquiry-content-layout {
    position: relative;
    flex: 1 1 0px;
    -webkit-box-flex: 1;
    background-color: rgb(255, 255, 255);
}

.inquiry-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.inquiry-content-wrap {
    position: relative;
    flex: 1 1 0px;
    /* -webkit-box-flex: 1; */
    height: auto;
    font-weight: 500;
    isolation: isolate;
    /* opacity: 0.01; */
    transform: translateY(6px);
}

.inquiry-content-wrapper {
    position: absolute;
    inset: 0px;
    width: 100%;
    overflow: hidden scroll;
    overflow-y: hidden;
}

.inquiry-content-wrap-layout {
    position: relative;
    width: 100%;
    height: auto;
}

.inquiry-content {
    padding-top: 8px;
    padding-bottom: 0px;
}

.inquiry-container {
    width: 100%;
    height: auto;
    transform: translate(0px);
}

.inquiry-layout {
    display: flex;
    flex-direction: column;
    /* -webkit-box-align: center; */
    align-items: center;
    /* padding-top: 3px; */
}

.inquiry-logo-wrap {
    position: relative;
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    /* -webkit-box-pack: center; */
    justify-content: center;
    width: 122px;
    height: 69px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.inquiry-logo-wrap img {
    width: 100%;
    height: 100%;
    vertical-align: baseline;
}

.inquiry-title-container {
    display: flex;
    flex-direction: column;
    /* -webkit-box-align: center; */
    align-items: center;
    padding: 0px 14px;
    /* margin-top: 18px; */
}

.inquiry-title-one {
    padding: 0px 10px;
    /* margin-top: 4px; */
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    font-size: 13px;
    line-height: 2.1rem;
    letter-spacing: -0.1px;
}

.inquiry-answer-time-layout {
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    height: 22px;
    margin-top: 4px;
    overflow: hidden;
}

.inquiry-answer-item {
    display: inline-flex;
    /* -webkit-box-align: center; */
    align-items: center;
    /* -webkit-box-pack: center; */
    justify-content: center;
    width: auto;
    height: auto;
    cursor: initial;
    visibility: visible;
}

.inquiry-answer-item::after {
    display: block;
    width: 14px;
    height: 14px;
    content: "";
    background-image: url(https://cf.channel.io/asset/plugin/images/normal.svg);
    background-size: cover;
    opacity: 1;
}

.inquiry-answer {
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    height: 32px;
    margin-top: 0px;
    font-size: 14px;
    /* overflow: hidden; */
}

.inquiry-service-time {
    margin-left: 4px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 1.82rem;
    letter-spacing: -0.1px;
}

.inquiry-currentTime {
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    /* -webkit-box-pack: center; */
    justify-content: center;
    padding: 4px 14px 8px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 1.5rem;
    letter-spacing: -0.1px;
}

.content-layout {
    display: flex;
    background-color: rgb(255, 255, 255);
    position: relative;
    
}

.content-container {
    display: flex;
    flex-direction: column;
    /* -webkit-box-pack: end; */
    justify-content: flex-end;
    width: 38px;
    padding-bottom: 4px;
}

.content-img-layout {
    transform: translateY(0px);
    position: relative;
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    /* -webkit-box-pack: center; */
    justify-content: center;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

/* .content-img-layout img {
    width: 100%;
    height: 100%;
    vertical-align: baseline;
} */

.inquiry-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 41px 0px 0px 39px;
}

.inquiry-text-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: 2px;
}

.inquiry-text-input-layout {
    color: rgba(0, 0, 0, 0.85);
    /* background-color: rgba(0, 0, 0, 0.05); */
    border-radius: 18px;
    width: 100%;
}

.inquiry-text-input-layout span {
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    top: -26px;
}

.inquiry-text-input-layout input {
    width: 230px;
    height: 25px;
    border: 1px solid #d9dfeb;
    border-radius: 5px;
    outline: none;
}

.write-content-contents-textarea {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 234px;
    height: 243px;
    /* background-color: rgb(255, 255, 255); */
    border: 1px solid #d9dfeb;
    border-radius: 5px;
    margin-top: 39px;
}

.write-content-contents {
    display: block;
    width: 100%;
    height: 100%;
    /* padding: 15px 16px; */
    /* font-size: 16px; */
    line-height: 21px;
    word-break: break-all;
    z-index: 1;
    background: none;
    /* border-radius: 5px; */
    color: rgb(51, 51, 51);
    outline: none;
    resize: none;
    border: none;
}

.inquiry-textarea span {
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    top: 47px;
}


.inquiry-regist-btn-layout {
    width: 51px;
    height: 29px;
    margin-left: 11rem;
    /* margin-bottom: 8px; */
}

.inquiry-regist-btn {
    float: right;
    background-color: rgb(255, 87, 87);
    border: none;
    color: white;
    font-size: 12px;
    width: 100%;
    height: 100%;
    margin: -9px 2px 0px 0px;
    border-radius: 8px;
}

input::placeholder {
    font-size: 12px;
    color:#d5d7db;

}

textarea::placeholder {
    font-size: 12px;
    color:#d5d7db;
}