<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원 상세보기</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/support/support-detail.css">
    <link rel="stylesheet" href="/css/support/support-rice-modal.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body class="full">
<header th:insert="~{main/header.html :: mainHeader}"></header>
<div th:insert="~{support/support-rice-modal.html :: supportRiceLayout}"></div>

<div id="wrap">
        <div id="container">
            <div class="collect-wrap">
                <div class="collect-content">
                    <h2 class="theme">
                        <a class="theme" style="text-decoration:none" href="#">장애인 > 생계 및 기초생활지원</a>
                    </h2>
                    <h3 class="tit">
                        아빠의 간병을 위해 엄마는 일을 정리했습니다
                    </h3>
                    <ul class="collect-tab" id="collect-tab"></ul>
                    <div class="tab-cont">
                        <form name="donationForm" method="post">
                            <input type="hidden" name="paySeq">
                            <input type="hidden" name="rdonaNo" value="H000000189407">
                            <input type="hidden" name="chooseDonationMethod" value="Temporary">
                            <input type="hidden" name="categoryNo" value="5">
                            <input type="hidden" name="happyId" value="sihope0819">
                            <input type="hidden" name="fastDonation" value="true">
                            <input type="hidden" name="fastDonationCongCnt" value="0">
                            <input type="hidden" name="itemCode" id="itemCode">
                            <input type="hidden" name="paymentType" id="paymentType">
                            <input type="hidden" name="chargeTotalAmount" value="0">
                            <input type="hidden" name="p" value="p">
                            <input type="hidden" name="s" value="">
                            <input type="hidden" name="messageJson">
                        </form>
                        <ul id="photopopup" style="display:none;"></ul>
                        <div class="dimmed"></div>
                        <h3 class="blind">
                            모금함 소개
                        </h3>
                        <ul class="intro-list editor-base">
                            <li>
                                <dl>
                                    <dt id="paragraph-title">“아빠의 진단 이후, 가족의 삶이 달라졌어요.”</dt>
                                    <dd id="paragraph-content">
                                        “아빠가 응급실로 실려 간 후, 상상도 못한 루게릭병이라는 진단을 받고 기관절개와 콧줄을 삽입하게 된 건 한순간이었어요. 가족끼리 대공원에 가자는 약속을 미루고만 있었는데, 아빠는 이제 움직일 수 없고, 대화도 할 수 없고 음식도 못 드시게 되어서 하루 종일 누워만 계세요.” -환우 가족의 루게릭병 수기공모전 수상작 ‘아빠, 사랑해요!’ 中
                                        <br> 
                                        아빠의 루게릭병 진단 이후, 채경이(가명) 가족은 이전과 완전히 달라졌습니다. 아빠의 24시간 간병을 위해 엄마는 한 번도 쉬지 않았던 일을 정리했고, 365일 매일 같이 장사를 나가던 아빠도, 엄마도 하루아침에 온전히 집을 떠날 수 없는 상황이 되었습니다. 채경이에게 늘 건강하게만 커달라던 아빠는 지금 이 순간에도 가장 자주 하는 문자가 ‘건강해라’지만, 이제는 너무 가슴 아픈 말이 되어버렸습니다.</dd>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt id="paragraph-title">“엄마의 월급보다 간병비 300만원이 더 비싸요”</dt>
                                    <dd id="paragraph-content">
                                        채경이(가명) 아빠가 겪고 있는 루게릭병은 인지능력과 감각은 그대로 있지만, 운동신경세포의 손상으로 인해 몸을 움직일 수 없게 되는 병입니다. 스스로는 숨을 쉬는 것도, 말하거나 밥을 먹는 것조차 어려워 누군가의 24시간 도움이 있어야만 합니다.
                                        <br> 
                                        간병인을 구해야 하지만, 간병인을 고용하게 되면 평균 비용은 하루에 10만원, 매월 300만원입니다. 웬만한 월급보다도 높은 간병비를 부담할 자신이 없는 엄마는 결국 다니던 직장을 그만둘 수 밖에 없었고, 이제는 온종일 아빠의 간병에 매달리고 있습니다. 아직까지 원인도 치료방법도 밝혀지지 않은 루게릭병. 언제까지 이러한 생활을 이어가야 할지도 알 수 없어 막막하지만, 엄마는 출근하는 대신 오늘도 24시간 꼬박 아빠의 곁을 지키고 있습니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt id="paragraph-title">채경이 가족이 평범한 일상을 되찾을 수 있도록 함께 해주세요.</dt>
                                    <dd id="paragraph-content">
                                        이렇듯 환우 가정에서는 높은 간병 비용으로 인해 가족이 대신하여 간병을 전담하는 경우가 많습니다. 고정 수입이 없어지고, 계속해서 지출되는 의료비와 생활비 등으로 인해 경제적 악순환을 겪게 되는 것은 물론, 장기적으로는 경력의 단절로 인해 다시 일자리를 구하는 것조차 어렵게 됩니다.
                                        <br> 
                                        이에 승일희망재단에서는 환우가 전문 간병 서비스를 받고, 가족은 일상적인 삶을 회복할 수 있도록 채경이 가족을 비롯해 한 가정당 100만원의 간병비를 총 9가정에 지원 드리고자 합니다. 채경이 아빠는 간병인의 서비스를 받고, 엄마는 다시 직장을 다니며 이전의 평범한 일상을 되찾을 수 있도록 함께 힘을 보태주세요! 모금해주신 소중한 금액은 올바르고 투명하게 사용할 것을 약속드립니다.
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                        <div class="thumbnail-section" style="visibility: visible;">
                            <div class="view">
                                <img id="expandedImg" src="" style="cursor:pointer; width:624 height=351" alt="루게릭병 환우 간병비 지원사업">
                            </div>
                            <div class="thumbnail-list">
                                <ul>
                                    <li class="on">
                                        <button href="#">
                                            <img class="img-div" src="/image/notice/rag_doll_tumbnail.jpg" width="99" height="70" alt="루게릭병 환우 간병비 지원사업">
                                        </button>
                                    </li>
                                    <li class="on">
                                        <button href="#">
                                            <img class="img-div" src="image/main/001.jpg" width="99" height="70" alt="루게릭병 환우 간병비 지원사업">
                                        </button>
                                    </li>
                                    <li class="on">
                                        <button href="#">
                                            <img class="img-div" src="/image/main/002.jpg" width="99" height="70" alt="루게릭병 환우 간병비 지원사업">
                                        </button>
                                    </li>
                                    <li class="on">
                                        <button href="#">
                                            <img class="img-div" src="/image/main/003.jpg" width="99" height="70" alt="루게릭병 환우 간병비 지원사업">
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="button-area">
                            <a href="#" class="button donate support-donate">후원하기</a>
                            <div class="sns-area">
                                <div class="social-plugin-wrap" id="spiLayer" style="position:relative">
                                    <a href="#" id="spiButton2" class="naver-splugin" data-option="{baseElement:'spiButton2', layerPosition:'outside-bottom', align:'right', top:4, left:0, marginLeft:8, marginTop:10}" data-url="https://happybean.naver.com/donations/H000000189407" data-title="아빠의 간병을 위해, 엄마는 일을 정리했습니다" data-source-name="아빠의 간병을 위해, 엄마는 일을 정리했습니다" title="보내기" data-style="unity-v2" data-blog-source-form="2" splugin-id="165927493">
                                        <span class="naver-splugin-c"></span>
                                    </a>
                                </div> -->
                                <!-- 소셜 플러그인 -->
                           <!--  </div>
                        </div> -->
                        <div class="action-area">
                            <ul class="tab-list">
                                <li class="tab-item">
                                    <button id="join-id-button" class="tab-button" type="button">참여내역</button>
                                </li>
                            </ul>
                            <!--<div id="comment-tabpanel" class="comment-wrap" aria-hidden="false">
                                <div id="comment-box-module" class="comment-box">
                                    <div class="comment-box-wrap">
                                        <div class="comment-box-head">
                                            <h5 class="comment-box-title"></h5>
                                            <span class="comment-count">
                                                25
                                            </span>
                                            <button type="button" class="comment-box-refresh-button">
                                                <span class="comment-box-refresh-icon"></span>
                                                <span class="comment-box-refresh-text">새로고침</span>
                                            </button>
                                        </div>
                                        <div class="comment-box-notice"></div>
                                        <div class="comment-box-content-wrap" tableindex="0" style="outline: 0;">
                                            <ul class="comment-box-list">
                                                &lt;!&ndash; 댓글목록 &ndash;&gt;
                                                <li class="comment-box-li">
                                                    <div class="comment-box-comment-container">
                                                        <div class="comment-box-area">
                                                            <div class="comment-box-info">
                                                                <span class="comment-box-info-main">
                                                                    <span class="comment-box-name">
                                                                        <span class="comment-box-name-area">
                                                                            <span class="comment-box-nick-area">
                                                                                <span class="comment-box-nick">써니</span>
                                                                            </span>
                                                                            <span class="comment-box-id-area">
                                                                                <span class="comment-box-id">(sunn****)</span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                                <span class="comment-box-info-sub"></span>
                                                            </div>
                                                            <div class="comment-box-text-wrap">
                                                                <span class="comment-box-contents" data-lang="ko">얼마나 힘드실까요ㅠ 힘내세요. 하나님의 위로와 치료하심의 역사가 임하길 기도드립니다.</span>
                                                            </div>
                                                            <div class="comment-info-base">
                                                                <span class="comment-box-date">23시간 전</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                
                                                <li class="comment-box-li">
                                                    <div class="comment-box-comment-container">
                                                        <div class="comment-box-area">
                                                            <div class="comment-box-info">
                                                                <span class="comment-box-info-main">
                                                                    <span class="comment-box-name">
                                                                        <span class="comment-box-name-area">
                                                                            <span class="comment-box-nick-area">
                                                                                <span class="comment-box-nick">써니</span>
                                                                            </span>
                                                                            <span class="comment-box-id-area">
                                                                                <span class="comment-box-id">(sunn****)</span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                                <span class="comment-box-info-sub"></span>
                                                            </div>
                                                            <div class="comment-box-text-wrap">
                                                                <span class="comment-box-contents" data-lang="ko">얼마나 힘드실까요ㅠ 힘내세요. 하나님의 위로와 치료하심의 역사가 임하길 기도드립니다.</span>
                                                            </div>
                                                            <div class="comment-info-base">
                                                                <span class="comment-box-date">23시간 전</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>


                                                <li class="comment-box-li">
                                                    <div class="comment-box-comment-container">
                                                        <div class="comment-box-area">
                                                            <div class="comment-box-info">
                                                                <span class="comment-box-info-main">
                                                                    <span class="comment-box-name">
                                                                        <span class="comment-box-name-area">
                                                                            <span class="comment-box-nick-area">
                                                                                <span class="comment-box-nick">써니</span>
                                                                            </span>
                                                                            <span class="comment-box-id-area">
                                                                                <span class="comment-box-id">(sunn****)</span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                                <span class="comment-box-info-sub"></span>
                                                            </div>
                                                            <div class="comment-box-text-wrap">
                                                                <span class="comment-box-contents" data-lang="ko">얼마나 힘드실까요ㅠ 힘내세요. 하나님의 위로와 치료하심의 역사가 임하길 기도드립니다.</span>
                                                            </div>
                                                            <div class="comment-info-base">
                                                                <span class="comment-box-date">23시간 전</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>


                                            </ul>
                                        </div>

                                        <div class="paging-wrapper">
                                            <ul class="paging-wrap">
                                                <li class="paging-prev-wrap" title="이전 페이지">
                                                    <div class="prev">
                                                        <svg viewBox="0 0 48 48">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M32.8912 45.3014L12 23.913L32.8912 2.52471C33.5866 1.8251 34.7804 1.8251 35.4777 2.52471C36.1741 3.22333 36.1741 4.42368 35.4777 5.22224L17.1731 23.913L35.4777 42.7018C36.1741 43.4024 36.1741 44.6018 35.4777 45.4013C35.0788 45.8011 34.6819 46 34.1845 46C33.7855 45.9011 33.2881 45.7002 32.8912 45.3014Z"></path>
                                                        </svg>
                                                    </div>
                                                </li>
                                                <li title="1" class="paging-item-select" tabindex="0">
                                                    <a rel="nofollow">1</a>
                                                </li>
                                                <li title="2" class="paging-item" tabindex="0">
                                                    <a rel="nofollow">2</a>
                                                </li>
                                                <li title="3" class="paging-item" tabindex="0">
                                                    <a rel="nofollow">3</a>
                                                </li>
                                                <li title="4" class="paging-item" tabindex="0">
                                                    <a rel="nofollow">4</a>
                                                </li>
                                                <li title="5" class="paging-item" tabindex="0">
                                                    <a rel="nofollow">5</a>
                                                </li>
                        
                                                <li title="다음 페이지" tabindex="0" class="paging-next" aria-disabled="false">
                                                    <div  class="next">
                                                        <svg viewBox="0 0 48 48">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9071 46C13.4118 46 12.9164 45.8001 12.6192 45.4003C11.9257 44.7007 11.9257 43.5014 12.6192 42.7019L30.8493 24.0125L12.5201 5.22317C11.8266 4.52357 11.8266 3.32425 12.5201 2.5247C13.2136 1.8251 14.3034 1.8251 15.096 2.5247L36 24.0125L15.195 45.4003C14.7988 45.8001 14.3034 46 13.9071 46Z"></path>
                                                        </svg>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>-->

                            <!-- 참여내역 -->
                            <div id="history-tabpanel" class="history-wrap">
                                <h5 class="blind">참여 내역</h5>
                                <div class="history-title">
                                    <p class="history-title-inner">
                                        총
                                        <strong>1411</strong>
                                        건이 후원되었습니다.
                                    </p>
                                </div>
                                <ul class="history-list">


                                    <li class="history-item">
                                        <div class="history-card">
                                            <span class="history-card-date">2023.04.27 00:22</span>
                                            <strong class="history-card-name">wish</strong>
                                            <span class="history-amount">
                                                <span class="number">1,800</span>
                                                원 참여
                                            </span>
                                        </div>
                                    </li>

                                    <li class="history-item">
                                        <div class="history-card">
                                            <span class="history-card-date">2023.04.27 00:22</span>
                                            <strong class="history-card-name">wish</strong>
                                            <span class="history-amount">
                                                <span class="number">1,800</span>
                                                원 참여
                                            </span>
                                        </div>
                                    </li>


                                    <li class="history-item">
                                        <div class="history-card">
                                            <span class="history-card-date">2023.04.27 00:22</span>
                                            <strong class="history-card-name">wish</strong>
                                            <span class="history-amount">
                                                <span class="number">1,800</span>
                                                원 참여
                                            </span>
                                        </div>
                                    </li>


                                    <li class="history-item">
                                        <div class="history-card">
                                            <span class="history-card-date">2023.04.27 00:22</span>
                                            <strong class="history-card-name">wish</strong>
                                            <span class="history-amount">
                                                <span class="number">1,800</span>
                                                원 참여
                                            </span>
                                        </div>
                                    </li>


                                </ul>
                                <div class="paging-wrapper">
                                    <ul class="paging-wrap">
                                        <li class="paging-prev-wrap" title="이전 페이지">
                                            <div class="prev">
                                                <svg viewBox="0 0 48 48">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.8912 45.3014L12 23.913L32.8912 2.52471C33.5866 1.8251 34.7804 1.8251 35.4777 2.52471C36.1741 3.22333 36.1741 4.42368 35.4777 5.22224L17.1731 23.913L35.4777 42.7018C36.1741 43.4024 36.1741 44.6018 35.4777 45.4013C35.0788 45.8011 34.6819 46 34.1845 46C33.7855 45.9011 33.2881 45.7002 32.8912 45.3014Z"></path>
                                                </svg>
                                            </div>
                                        </li>
                                        <li title="1" class="paging-item-select" tabindex="0">
                                            <a rel="nofollow">1</a>
                                        </li>
                                        <li title="2" class="paging-item" tabindex="0">
                                            <a rel="nofollow">2</a>
                                        </li>
                                        <li title="3" class="paging-item" tabindex="0">
                                            <a rel="nofollow">3</a>
                                        </li>
                                        <li title="4" class="paging-item" tabindex="0">
                                            <a rel="nofollow">4</a>
                                        </li>
                                        <li title="5" class="paging-item" tabindex="0">
                                            <a rel="nofollow">5</a>
                                        </li>
                
                                        <li title="다음 페이지" tabindex="0" class="paging-next" aria-disabled="false">
                                            <div  class="next">
                                                <svg viewBox="0 0 48 48">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9071 46C13.4118 46 12.9164 45.8001 12.6192 45.4003C11.9257 44.7007 11.9257 43.5014 12.6192 42.7019L30.8493 24.0125L12.5201 5.22317C11.8266 4.52357 11.8266 3.32425 12.5201 2.5247C13.2136 1.8251 14.3034 1.8251 15.096 2.5247L36 24.0125L15.195 45.4003C14.7988 45.8001 14.3034 46 13.9071 46Z"></path>
                                                </svg>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collect-side">
                    <div style="position: fixed;">
<!--                        <div class="section-status">-->
<!--                            <div class="graph-wrap">-->
<!--                                <div class="graph-status">-->
<!--                                    <span class="per">-->
<!--                                        <strong class="num">44</strong>-->
<!--                                        %-->
<!--                                    </span>-->
<!--                                </div>-->
<!--                                <div class="graph-bar">-->
<!--                                    <span style="width: 44%;"></span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="term-area">-->
<!--                                <p>-->
<!--                                    <strong>-->
<!--                                        -->
<!--                                    2023.03.30 ~-->
<!--                                    2023.06.28-->
<!--                                -->
<!--                                    </strong>-->
<!--                                    <span>까지</span>-->
<!--                                </p>-->
<!--                                <div>-->
<!--                                    <span class="d-day">-->
<!--                                        D-->
<!--                                        <em class="bar">-</em>-->
<!--                                        63-->
<!--                                    </span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="num-area">-->
<!--                                <p class="status-num">-->
<!--                                    <strong>4,365,700</strong>-->
<!--                                    <span>원</span>-->
<!--                                </p>-->
<!--                                <p class="detail-num second-version">-->
<!--                                    <strong>-->
<!--                                        <span>9,900,000</span>-->
<!--                                        <em>원 목표</em>-->
<!--                                    </strong>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="section-status">
                            <div class="graph-wrap">
                                <div class="graph-status">
                                    <span class="per">
                                        <strong class="num">367</strong>개</span>
                                </div>

                            </div>
                            <div class="term-area">
                                <p>
                                    <strong>

                                        2023.03.30


                                    </strong>
                                    <span>등록</span>
                                </p>
                                <div>
                                    <span class="d-day">환산금액</span>
                                </div>
                            </div>
                            <div class="num-area">
                                <p class="status-num">
                                    <strong>36700</strong>
                                    <span>원</span>
                                </p>

                            </div>
                        </div>
                        <div class="section-btn">
                            <a class="button donate support-donate" href="#">후원하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer th:insert="~{main/footer.html :: mainFooter}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/support/supportDetail.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/support/support-rice-modal.js"></script>
</html>