<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원요청하기</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/support/support-write.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/community/free-create.css">
     <!-- 웹에디터 API -->
     <link
     href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css"
     rel="stylesheet" />
</head>
<body>

     <!-- 헤더 임시 -->
     <header th:insert="~{main/header.html :: mainHeader}"></header>


     <div class="faq-list-all-outer-div">
        <div class="faq-list-all-inner-div">
            <div class="faq-list-side-bar">
                
            </div>
            <div class="faq-list-content-all">
                <div class="faq-list-title">
                    <div class="faq-list-title-content">
                        <h2 class="faq-list-all-title-text">후원요청하기</h2>
                    </div>
                </div>
                
                <div class="qna-write-content">


                    <form  method="post" name="form" th:action="@{/support/support-write}" enctype="multipart/form-data">
                        <div class="qna-original-input-layout">
                            <div class="qna-write-content-title-div">
                                <label for="inquiry-subject">
                                    제목<span class="required-red-span">*</span>
                                </label>
                            </div>
                            <div class="qna-write-content-input">
                                <div class="write-content-input-outter-div">
                                    <div class="write-content-input-inner-div">
                                        <input type="text" id="inquiry-subject" class="write-content-input-tag"
                                               name="supportRequestTitle" placeholder="제목을 입력해주세요">
                                    </div>
                                    <div class="errorDiv">
                                        <p class="errorMessage"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 내용 -->
                        <div class="qna-content-input-layout">
                            <div class="qna-original-input-layout">
                                <div class="qna-write-content-title-div">
                                    <label for="inquiry-contents">
                                        내용<span class="required-red-span">*</span>
                                    </label>
                                </div>
                                <div class="qna-write-content-input">
                                    <div class="write-content-contents-outter-div">
                                        <div class="write-content-contents-inner-div">
                                                 <textarea id="inquiry-contents" class="write-content-contents-textarea"
                                                           name="supportRequestContent" inputmode="text" cols="30" rows="10"
                                                      style="resize: none;" maxlength="5000"
                                                      placeholder="전화번호, 이메일, 주소, 계좌번호 등의 상세 개인정보가 문의 내용에 저장되지 않도록 주의해 주시기 바랍니다."></textarea>
                                          
<!--                                                 <span class="content-length-counter">-->
<!--                                                    <span>-->
<!--                                                        <span class="content-length-count">0자</span>-->
<!--                                                        <span class="content-length-max-count">-->
<!--                                                            /-->
<!--                                                            5000자-->
<!--                                                        </span>-->
<!--                                                    </span>-->
<!--                                                </span>-->
                                            </div>

                                        <!-- 썸머노트 API -->
<!--                                        <div class="notice__content" >-->
<!--                                            <textarea id="summernote" name="editordata"></textarea>-->
<!--                                        </div>-->
                                        <div class="errorDiv">
                                            <p class="errorMessage"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="qna-original-input-layout">
                            <div class="qna-write-content-title-div">
                                <label data-testid="label-text"></label>
                            </div>
                            <div class="imageContainer">
                                <div class="imageWrapperPadding">
                                    <div class="imageWrapper">
                                         <div id="thumbnail-list" class="imageDiv">
                                            <div class="imgButtonWrap">
                                                <label for="photo-picker">
                                                    <div class="imgButton">
                                                        <span class="cameraIconImg"></span>
                                                    </div>
                                                    <input class="imageFileInput" id="photo-picker" type="file" name="files"
                                                        multiple="multiple"  accept="image/jpg, image/jpeg, image/png, image/bmp"/>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="imgTextWrapper">
                                            <div class="imgTextDiv">
                                                <span></span>
                                                30MB 이하의 이미지만 업로드 가능합니다.
                                            </div>
                                            <div class="imgTextDiv">
                                                <span></span>
                                                상품과 무관한 내용이거나 음란 및 불법적인 내용은 통보없이 삭제 될 수 있습니다.
                                            </div>
                                            <div class="imgTextDiv">
                                                <span></span>
                                                사진은 최대 8장까지 등록가능합니다.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="submit-button-layout">
                            <input type="submit" class="submit-button" value="등록">
                        </div>
                    </form>
                </div>
            
            </div>
        </div>
    </div>

     <!-- 푸터 임시 -->
     <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<!-- 웹에디터 API -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
  $('#summernote').summernote({
      placeholder: '내용을 입력하세요',
      tabsize: 2,
      height: 300,
      width: '100%',
      toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
      ],

  });
</script>
<script th:inline="javascript">
    let fileDTOS = null;
    let supportRequestDTO =[[${supportRequestDTO}]];
    console.log(supportRequestDTO.fileDTOs);
    console.log(supportRequestDTO +"1 . ==================");
    if(supportRequestDTO == null || supportRequestDTO == undefined){
    }else {
        fileDTOS = supportRequestDTO.fileDTOs;
    }
    console.log(fileDTOS + "2. =====================");
</script>
<script src="/js/support/supportRequest-write.js"></script>
</html>