<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원목록</title>
    <link rel="stylesheet" href="/static/css/font/font.css">
    <link rel="stylesheet" href="/static/css/support/support-list.css">
    <link rel="stylesheet" href="/static/css/support/support-list-response.css">
</head>
<body>

     <!-- 헤더 임시 -->
     <header id="_header"></header>
    
    <div class="all_wrap">
        <div class="all_wrap_div">
            <div class="editer">
                <div class="editer_div">
                    <div class="semi_header">
                        <div class="semi_header_div">
                            <div class="wrap">
                                <!-- <select class="wrap_span">
                                    <option>후원 많은 순</option>
                                    <option>후원 적은 순</option>
                                    <option>최신순</option>
                                </select> -->
                                <!-- <span class="wrap_span">
                                    <button class="achievement">
                                        <span class="achievement_first_span">모금 많은 순</span>
                                        <span class="achievement_second_span">
                                            <div class="arrow">
                                                <svg viewBox="0 0 48 48" class="arrow_svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M45.4003 15.1217L23.9125 36L2.5247 15.1217C1.8251 14.4225 1.8251 13.2237 2.5247 12.5245C3.2243 11.8252 4.42362 11.8252 5.22317 12.5245L23.9125 30.8054L42.7019 12.5245C43.4015 11.8252 44.6008 11.8252 45.4003 12.5245C45.8001 12.8241 46 13.3236 46 13.8231C45.9001 14.3226 45.7002 14.8221 45.4003 15.1217Z"></path>
                                                </svg>
                                            </div>
                                        </span>
                                        <!-- display: none 윗 화살표 
                                        <span class="achievement_third_span">
                                            <div class="arrow">
                                                <svg viewBox="0 0 48 48" class="arrow_svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M46 34.1769C46 34.6764 45.8001 35.1759 45.4003 35.4755C44.7007 36.1748 43.5014 36.1748 42.7019 35.4755L24.0125 17.1946L5.22317 35.4755C4.52357 36.1748 3.32425 36.1748 2.5247 35.4755C1.8251 34.7763 1.8251 33.5765 2.5247 32.8783L24.0125 12L45.5003 32.8783C45.8001 33.1779 46 33.6774 46 34.1769Z"></path>
                                                </svg>
                                            </div>
                                        </span>
                                    </button>
                                </span> -->
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_content">
                <div class="main_content_div">
                    <div class="have_project">
                        <span style="color: rgb(255, 87, 87);">46,860</span>
                        개의 후원 목록이 있습니다.
                        <select class="wrap_span">
                            <option>후원 많은 순</option>
                            <option>후원 적은 순</option>
                            <option>최신순</option>
                        </select>
                    </div>
                    <div class="real_content">
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first_content">
                            <div></div>
                            <div class="project_card">
                                <div></div>
                                <div class="project_card_div">
                                    <div class="project_card_img">
                                        <div class="image_wrapper">
                                            <a></a>
                                            <div class="like">
                                                <button class="like_button">
                                                    <!-- <span>좋아요</span> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project_name">
                                        <dl class="content_dl">
                                            <dd class="first_dd">
                                                <span>
                                                    <a class="first_dd_a">캐릭터 · 굿즈</a>
                                                </span>
                                                <span>
                                                    <a class="first_dd_a_a">아이돌룩(idolllook)</a>
                                                </span>
                                            </dd>
                                            <dt class="first_dt">
                                                <a style="color: rgb(61, 61, 61);">토심이 토뭉이 하고 싶은거 다 해! <봉제 인형&파우치></a>
                                            </dt>
                                            <dd class="second_dd">분홍색 볼의 사랑스러운 토끼 토심이, 귀엽고 다정 다감한 강아지 토뭉이의 인형과 파우치</dd>
                                        </dl>
                                        <div class="money">
                                            <div>
                                                <span class="money_achievement">
                                                    1303
                                                    %
                                                </span>
                                                <span class="money_money">
                                                    <em style="font-style: normal;">65,182,002</em>
                                                    원
                                                </span>
                                            </div>
                                            <span class="money_span">21일 남음</span>
                                        </div>
                                        <!-- <div class="line"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- 푸터 임시 -->
     <footer id="_footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#_header').load('../main/header.html');
        $('#_footer').load('../main/footer.html');
    });
</script>
</html>