<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>심봉사 | 후 목록</title>
    <link rel="stylesheet" href="/css/volunteer-work/work.css">
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">

</head>
<body>
    <!-- 헤더 -->
    <div class="full-screen">
        <header th:insert="~{main/header.html :: mainHeader}"></header>
    </div>
    
    <!-- 전체 div -->
    <div class="main">
        <!-- 배너 -->
        <!-- <div class="board-benner">
            <div class="benner-cover"></div>
        </div> -->
        
        <!-- 중간 메인 -->
        <div>
            <div class="main-container">
                <!-- <section class="row">
                    <div class="row-container">
                        <h1 class="row-text">심봉사와 함께 봉사할 심청을 찾습니다.</h1>
                    </div>
                </section> -->
                <div>
                    
                </div>
                <section class="service-info">
                    <div class="items-info-layout">
                        <div class="items-buttons">
                        <h4 class="service-header">
                            진행 중인 봉사 정보
                        </h4>
                            <form name="goForm" action="/support/support-list" style="height: 34px;">
                                <input name="keyword" type="hidden" value="" id="inputOp">
                                <select class="select-region" id="selectOp">
                                    <option value="">전체보기</option>
                                    <option value="후원 많은순">후원 많은순</option>
                                    <option value="후원 적은순">후원 적은순</option>
                                    <option value="최신순">최신순</option>
                                </select>
                            </form>
                            <!-- <button type="button" class="button">지원</button> -->
                        </div>
                    </div>
                    <!--  -->
                    <div class="test"></div>

                    <!-- 후원요청 목록  -->
                    <div class="supportList" th:each="supportRequest : ${supportRequestDTOs}">
                        <a th:href="@{/support/support-detail/{supportRequestId}(supportRequestId=${supportRequest.id})}">
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">
                                        <span class="cruit" >[모집중]</span>
                                        <span class="last-date-text" th:name="supportRequestId" th:text="${supportRequest.id}">3</span>번 게시물
                                    </div>
                                    <div class="title" th:text="${supportRequest.supportRequestContent}">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text" th:text="${supportRequest.totalSupportPrice}">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                        <span class="dates-text-work">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                        </a>
                    </div>


                </section>
            </div>

            <!-- 페이징 처리 -->
            <div>
                <div class="paging" style="text-align: center">
                    <a th:if="${pageDTO.prev}" th:href="@{/support/support-list} + '?page=' + ${pageDTO.startPage - 1}" class="changePage" style="color: black"><code><</code></a>
                    <th:block th:each="page:${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                        <a th:href="@{/support/support-list} + '?page=' + ${page}" th:if="${pageDTO.pageNum != page}" class="changePage" style="color: black" th:text="${page}"></a>
                        <code id="currentPage" th:if="${pageDTO.pageNum == page}" th:text="${page}">1</code>
                    </th:block>
                    <a th:if="${pageDTO.next}" th:href="@{/support/support-list} + '?page=' + ${pageDTO.endPage + 1}" class="changePage" style="color: black"><code>></code></a>
                </div>
                <form name="pageForm">
                    <input type="hidden">
                    <input type="hidden">
                </form>
            </div>
            <!--페이징 end -->

            <div class="service-help">
                <p>마지막 정보 수정 : 2023-04-19</p>
                <p style="line-height: 1.5em;">심봉사 관리자의 도움이 필요할 땐 여기서 문의해주세요</p>
            </div>
        </div>
    </div>
    <!-- 푸터 -->
    <div class="full-screen">
        <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">

    // console.log($('.title'));
    // console.log(i);
    // $supportList.eq(i).on('click', function () {
    //
    // })

    // $(document).ready(function () {
    //     // 이벤트 핸들러 등록
    //     $('.last-date-text').click(function () {
    //         // supportRequest.id 가져오기
    //         var supportRequestId = $(this).text();
    //
    //         // supportRequestController로 이동하는 링크 생성
    //         var link = '/support/support-detail/' + supportRequestId;
    //
    //         // 링크 이동
    //         window.location.href = link;
    //     });
    // });
</script>
<script src="/js/support/support-list.js"></script>
</html>