<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원하기</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/support/support-rice-modal.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
    <button id="support-open">후원하기</button>
    <div class="support-rice-layout" th:fragment="supportRiceLayout" style="display: none;">
        <!-- <form name=""> -->
            <div class="suppport-rice-container">
                <div class="support-rice-close-btn-layout">
                    <button type="button">X</button>
                </div>
                    <div class="">
                        <input type="text" placeholder="공양미 입력"  class="rice-payment-input" value="">
                        <!-- <div class="error-message"></div> -->
                        <p>후원 가능한 공양미: <em>300</em>석</p>
                    </div>

                </div>
                <div class="support-pay-layout">
                    <button type="button" class="btn-rice">
                        <span>확인</span>
                    </button>
                </div>
            <!-- </form> -->
    </div>
    

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/support/support-rice-modal.js"></script>

</html>