<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원목록</title>
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/main/header.css">
    <link rel="stylesheet" href="../../static/css/main/footer.css">
    <link rel="stylesheet" href="../../static/css/mypage/my-funding-list.css">
    <link rel="stylesheet" href="../../static/css/support/support-list.css">
    <link rel="stylesheet" href="../../static/css/support/support-list-response.css">

</head>
<body>
    <div>
        <!-- 헤더  -->
        <header></header>
        
        <!-- 컨텐츠 -->
        <div class="support-list-container">
            <div class="support-list-wrapper">
                <div class="support-list-wrap">
                    <div class="support-list-title support-list-wid">
                        <div class="support-list-sort-container">
                            <div class="support-list-sort-wrapper">
                                <div class="sort-wrap">
                                    <span class="sort-btn-container">
                                        <button class="sort-btn-wrap">
                                            <span class="sort-title">최신순</span>
                                            <span class="sort-title-down list">
                                                <div name="" class="sort-svg-wrapper">
                                                    <svg viewBox="0 0 48 48">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M45.4003 15.1217L23.9125 36L2.5247 15.1217C1.8251 14.4225 1.8251 13.2237 2.5247 12.5245C3.2243 11.8252 4.42362 11.8252 5.22317 12.5245L23.9125 30.8054L42.7019 12.5245C43.4015 11.8252 44.6008 11.8252 45.4003 12.5245C45.8001 12.8241 46 13.3236 46 13.8231C45.9001 14.3226 45.7002 14.8221 45.4003 15.1217Z"></path>
                                                    </svg>
                                                </div>
                                            </span>
                                            <!-- <span class="sort-btn-wrap sort-title-up list">
                                                <div name="" class="sort-svg-wrapper">
                                                    <svg viewBox="0 0 48 48">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M46 34.1769C46 34.6764 45.8001 35.1759 45.4003 35.4755C44.7007 36.1748 43.5014 36.1748 42.7019 35.4755L24.0125 17.1946L5.22317 35.4755C4.52357 36.1748 3.32425 36.1748 2.5247 35.4755C1.8251 34.7763 1.8251 33.5765 2.5247 32.8783L24.0125 12L45.5003 32.8783C45.8001 33.1779 46 33.6774 46 34.1769Z"></path> 
                                                    </svg>
                                                </div>
                                            </span> -->
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-wrap">
                    <div class="my-support-wrap">
                        <div class="my-support-count-wrap">
                            <em class="my-support-count">50</em>개의 프로젝트가 있습니다.
                        </div>
                        <div class="my-support-list-wrap">
                            <div class="my-support-one-wrap">
                                <div class="my-support-one-place">
                                    <div class="my-support-one">
                                        <div class="my-support-img-wrap">
                                            <div class="my-support-img">
                                                <a href="" class="go-support-detail-img"></a>
                                            </div>
                                        </div>
                                        <div class="my-support-explain">
                                            <div class="my-support-title">
                                                <a href="">샤워</a>
                                            </div>
                                            <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-support-one-wrap">
                                <div class="my-support-one-place">
                                    <div class="my-support-one">
                                        <div class="my-support-img-wrap">
                                            <div class="my-support-img">
                                                <a href="" class="go-support-detail-img"></a>
                                            </div>
                                        </div>
                                        <div class="my-support-explain">
                                            <div class="my-support-title">
                                                <a href="">샤워</a>
                                            </div>
                                            <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-support-one-wrap">
                                <div class="my-support-one-place">
                                    <div>
                                        <div class="my-support-img-wrap">
                                            <div class="my-support-img">
                                                <a href="" class="go-support-detail-img"></a>
                                            </div>
                                        </div>
                                        <div class="my-support-explain">
                                            <div class="my-support-title">
                                                <a href="">샤워</a>
                                            </div>
                                            <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-support-one-wrap">
                                <div class="my-support-one-place">
                                    <div class="my-support-one">
                                        <div class="my-support-img-wrap">
                                            <div class="my-support-img">
                                                <a href="" class="go-support-detail-img"></a>
                                            </div>
                                        </div>
                                        <div class="my-support-explain">
                                            <div class="my-support-title">
                                                <a href="">샤워</a>
                                            </div>
                                            <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-support-one-wrap">
                                <div class="my-support-one-place">
                                    <div class="my-support-one">
                                        <div class="my-support-img-wrap">
                                            <div class="my-support-img">
                                                <a href="" class="go-support-detail-img"></a>
                                            </div>
                                        </div>
                                        <div class="my-support-explain">
                                            <div class="my-support-title">
                                                <a href="">샤워</a>
                                            </div>
                                            <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-support-one-wrap">
                                <div class="my-support-one-place">
                                    <div class="my-support-one">
                                        <div class="my-support-img-wrap">
                                            <div class="my-support-img">
                                                <a href="" class="go-support-detail-img"></a>
                                            </div>
                                        </div>
                                        <div class="my-support-explain">
                                            <div class="my-support-title">
                                                <a href="">샤워</a>
                                            </div>
                                            <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-support-one-wrap">
                                <div class="my-support-one-place">
                                    <div class="my-support-one">
                                        <div class="my-support-img-wrap">
                                            <div class="my-support-img">
                                                <a href="" class="go-support-detail-img"></a>
                                            </div>
                                        </div>
                                        <div class="my-support-explain">
                                            <div class="my-support-title">
                                                <a href="">샤워</a>
                                            </div>
                                            <div class="my-support-content">머리가 복잡할땐 머리를 감아라</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    
        <!-- 푸터 -->
        <footer></footer>
    </div>
</body>
<script>
    /* 외부 html 파일 불러오기 */
    const header = document.querySelector('header');
    const footer = document.querySelector('footer');
    
    fetch('/templates/main/header.html')
    .then(res => res.text())
    .then(data => header.innerHTML = data);
    
    fetch('/templates/main/footer.html')
    .then(res => res.text())
    .then(data => footer.innerHTML = data);
</script>    
</html>