
@media only screen and (min-width: 1080px) {
    .main_content {
      margin-bottom: 0px;
    }
  }

  @media only screen and (min-width: 1080px) {
    .main_content {
      width: 1080px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .main_content {
      width: 1160px;
    }
  }

  @media only screen and (min-width: 1080px) {
    .main_content {
      width: 1032px;
    }
  }

  @media (max-width: 1080px){
    .achievement{
        font-size: 1rem;
        padding: 0px 0px 0px 0px;
    }
}

@media (min-width: 1080px){
    .achievement_second_span{
        display: block;
    }
}

@media (min-width: 1080px){
    .have_project{
        font-size: 16px;
        line-height: 27px;
        width: 100%;
        margin: 0px auto;
        padding: 16px 20px 32px 0px;
    }
}

@media only screen and (min-width: 768px){
    .have_project{
        padding: 16px 20px 32px;
        }
    }

@media (min-width: 640px){
    .real_content{
        width: auto;
        padding: 0px 8px;
    }
}

@media (min-width: 640px){
    .first_content{
        width: 50%;
        padding: 0px 10px;
    }
}

@media (min-width: 865px){
    .first_content{
        width: 25%;
    }
}

@media only screen and (min-width: 640px){
    .project_card{
        margin: 0px 0px 56px;
    }
}

@media only screen and (min-width: 640px){
    .project_card_div{
        display: block;
    }
}

@media only screen and (min-width: 640px){
    .project_name{
        padding: 0px;
    }
}

@media only screen and (min-width: 640px){
    .content_dl{
        min-height: 138px;
        padding: 16px 0px 0px;
        margin-bottom: 14px;
    }
}

@media only screen and (min-width: 640px){
    .money{
        margin: 0px 16px;
    }
}
@media only screen and (min-width: 640px){
    .money{
        margin: 0px;
    }
}

@media only screen and (min-width: 640px){
    .line{
        width: 100%;
        height: 3px;
        margin: 6px 0px 0px;
    }
}

@media only screen and (min-width: 640px){
    .first_dt{
        min-height: auto;
        margin: 0px 0px 8px;
        font-size: 16px !important;
        line-height: 22px !important;
    }
}

@media only screen and (min-width: 640px){
    .second_dd{
        display: -webkit-box;
    }
}

@media only screen and (min-width: 640px){
    .money_achievement{
        font-size: 15px;
    }
}

@media only screen and (min-width: 640px){
    .money_money{
        font-size: 12px;
        line-height: 19px;
        letter-spacing: -0.01em;
    }
}