*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h3, p, div {
    word-break: break-all;
}

a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    -webkit-box-direction: normal;
}
::selection {
    background-color: #CCE2FF;
    color: rgba(0, 0, 0, 0.87);
}

.all_wrap{
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}

.all_wrap_div{
    padding: 0px 0px 40px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(245, 245, 245);
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}

.editer{
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}

.main_content {
    margin-bottom: -44px;
    min-height: 150px;
    width: 1160px;
    margin: 0px auto;
    position: relative;
    height: auto;
    padding: 0px;
  }

  .editer_div{
    padding-right: 0px !important;
    padding: 0px 1rem 0px 4rem !important;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 1160px;
    margin: 0px auto;
    position: relative;
}

.semi_header{
    margin-top: 24px;
    width: 100%;
    position: relative;
    z-index: 99;
}

.semi_header_div{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto hidden;
}

.wrap{
    padding-left: 0px;
    display: inline-flex;
    padding-right: 50px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.wrap_span{
    border: 1px solid rgb(230, 230, 230);
    /* display: flex; */
    float: right;
    position: relative;
    width: 106px;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    margin: -3px 39px 0px 16px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    color: rgb(72, 72, 72);
    padding: 0px;
    overflow: hidden;
}



.achievement{
    outline: 0;
    font-size: 1rem;
    padding: 0px 27px 0px 8px;
    cursor: pointer;
    position: relative;
    border: 0px;
    height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(85, 85, 85);
    font-weight: normal;
    text-transform: none;
    overflow: visible;
}

.achievement_first_span{
    display: inline;
    font-size: 1.07rem;
    position: relative;
    cursor: pointer;
    color: rgb(85, 85, 85);
    font-weight: normal;
    text-transform: none;
}

.achievement_second_span{
    display: none;
    right: 7px;
    top: 50%;
    width: 16px;
    margin: 1px 0px 0px;
    border: 0px;
    background: 0px center;
    padding: 0px;
    outline: none;
    font-size: 8px;
    line-height: 0;
    transform: translateY(-50%);
    position: absolute !important;
    cursor: pointer;
    color: rgb(85, 85, 85);
    font-weight: normal;
    text-transform: none;
}

.achievement_third_span{
    right: 7px;
    top: 50%;
    width: 16px;
    margin: 1px 0px 0px;
    border: 0px;
    background: 0px center;
    padding: 0px;
    outline: none;
    font-size: 8px;
    line-height: 0;
    transform: translateY(-50%);
    position: absolute !important;
    display: none;
}

.arrow{
    display: inline-flex;
}

.arrow_svg{
    stroke: rgb(103, 103, 103);
    stroke-width: 4px;
    width: 1em;
    height: 1em;
    overflow: hidden;
}

.recommend{
    outline: 0;
    font-size: 1rem;
    padding: 0px 8px;
    cursor: pointer;
    position: relative;
    border: 0px;
    height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(85, 85, 85);
    font-weight: normal;
    overflow: visible;
}

.main_content_div{
    color: rgb(51, 51, 51);
}

.have_project{
    font-size: 14px;
    line-height: 24px;
    color: rgb(61, 61, 61);
    padding: 6px 16px 26px;
    letter-spacing: -0.08px;
}

.real_content{
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.first_content{
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.project_card{
    margin: 0px 0px 16px;
    position: relative;
}

.project_card_div{
    display: flex;
    flex-wrap: wrap;
}

.project_name{
    flex: 1 1 0%;
    padding-left: 14px;
}

.project_card_img{
    position: relative;
    flex-basis: 132px;
}
.image_wrapper{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.image_wrapper::before{
    content: "";
    padding: 0px 0px 86%;
    display: block;
}
.image_wrapper a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: transform 0.2s ease 0s;
    background: url(https://tumblbug-pci.imgix.net/23132d1b1603bf67d41cae29a8bdeccf17b07d13/8047a90aa1bf9936012f741d35e13f6ef3f80c24/360f0f9f2cbc91815ca9180e2597b50d605bee41/1ecf7d0f-a0e5-4b6b-9fae-d2f5094c89ba.jpeg?auto=format%2Ccompress&fit=crop&h=288&lossless=true&w=384&s=b3c1ea182b4e142c95d5cf9dc617d20c) center center / cover no-repeat;
}
.like{
    right: 12px;
    bottom: 12px;
    position: absolute;
    z-index: 9;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.image_wrapper a::before{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    cursor: pointer;
}
.like_button{
    outline: 0;
    border: 0px;
    padding: 0px;
    overflow: hidden;
    background: transparent;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    text-transform: none;
}
.content_dl{
    min-height: 80px;
    margin: 0px;
    padding: 0px;
    color: rgb(61, 61, 61);
    overflow: hidden;
}

.line{
    overflow: hidden;
    background: rgb(208, 208, 208);
    height: 3px;
    position: relative;
    margin: 6px 0px 0px;
}

.first_dd{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: rgb(61, 61, 61);
    padding: 0px 0px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0px;
}
.first_dt{
    width: 93%;
    min-height: 40px;
    margin: 0px 0px 12px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 58px;
    font-size: 14px;
    letter-spacing: -0.015em;
    word-break: break-all;
    overflow-wrap: break-word;
    line-height: 20px !important;
}

@supports (-webkit-line-clamp:2){
    .first_dt{
        max-height: initial;
    }
}

.second_dd{
    width: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 48px;
    word-break: keep-all;
    color: rgb(158, 158, 158);
    font-size: 13px;
    line-height: 21px;
}
@supports (-webkit-line-clamp:2){
    .second_dd{
        max-height: initial;
    }
}

.first_dd_a{
    color: rgb(61, 61, 61);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
}
.first_dd_a_a{
    color: rgb(61, 61, 61);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
}
.first_dd_a_a::before{
    content: "|";
    display: inline-block;
    margin: 0px 6px;
    position: relative;
    z-index: 1;
    top: -1px;
    font-size: 9px;
    color: rgb(208, 208, 208);
}
.money_span{
    margin-left: auto;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgb(109, 109, 109);
    font-weight: 700;
}
.money_achievement{
    font-size: 14px;
    color: rgb(255, 87, 87);
    font-weight: 700;
}

.money_money{
    margin-left: 4px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: rgb(61, 61, 61);
}

.line::after{
    content: "";
    width: 1303%;
    display: block;
    height: 100%;
    background: rgb(255, 87, 87);
}

dd {
    margin: 0;
}