/** @format */
@keyframes fade-in {
  from {
    opacity: 0;
    scale: 95%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin: 12px;
  border-radius: 12px;
}

.modal__header a {
  width: 27px;
}

.modal__img {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 21px 0;
}

.modal__main {
  margin: 31px 0;
}

.modal__profile__top {
  padding: 30px 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgb(48 52 65 / 8%);
  margin-bottom: 21px;
}
.modal__profile__top h4 {
  color: #363636;
  margin-bottom: 10px;
}

.modal__profile__bottom {
  padding: 30px 20px;
  margin-bottom: 21px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgb(48 52 65 / 8%);
}
.modal__profile__bottom h4 {
  color: #363636;
  margin-bottom: 10px;
}

.user__profile {
  display: flex;
  font-weight: 600;
  color: #777777;
}

.user__profile h5 {
  width: 12%;
  margin: 15px 0;
}

.user__profile__input {
  display: flex;
  align-items: center;
  padding: 12px 0;
  margin-left: 80px;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  border: 0;
  width: 200px;
}

.user__profile__input input {
  color: #777777;
  width: 100%;
  font-family: inherit;
  height: 70%;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 3px 12px ;
}
.user__profile__input input:focus {
  border: 1px solid #777777;
}

.user__profile__button {
  display: flex;
  justify-content: flex-end;
}
