ul.status-list {
  margin: 0;
  border-radius: 12px;
  display: flex;
  min-width: 900px;
  gap: 16px;
  margin: 16px;
}

li.status-list-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 120px;
  padding: 20px;
  box-shadow: 4px 4px 4px rgb(48 52 65 / 4%);
  width: 17%;
  background-color: #ffffff;
  color: #303441;
}

div.status-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.status-item-name {
  display: flex;
  font-weight: 600;
  font-size: 17px;
  flex: 1;
  margin-left: 21px;
}

div.status-item-count {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303441;
  font-size: 42px;
  font-weight: 600;
  cursor: default;
  flex: 1;
}

div.status-item-count a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  pointer-events: none;
}

input[type='date']::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex: 1;
}

.clock h1 {
  font-size: 50px;
}