<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/error/error.css" />
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>
    <div class="full-screen">
        <div class="not-found-page">
            <div class="error-number">4<div class="missing-zero"></div>1</div>
            <div class="not-found-error-message">사용자 인증에 실패했습니다.</div>
            <button type="button" class="home-button home-button-min">로그인 하러 가기</button>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    $('.home-button').click(function(){
        window.location.href = '/member/login-select';
    });
</script>
</html>