<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서비스 준비중입니다.</title>
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/error/error.css" />
    <link rel="stylesheet" href="/main/resources/static/css/error/error.css">
</head>
<body>
    <div class="full-screen">
        <div class="not-found-page">
            <div style="margin-top: -115px; margin-bottom: -60px;">
                <img src="https://www.drh.co.kr/new/en/img/prepare.png" alt="" style="width: 900px;">
            </div>
            <button type="button" class="home-button home-button-min">심봉사 홈으로 돌아가기</button>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    $('.home-button').click(function(){
        window.location.href = '/main/main';
    });
</script>
</html>