<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>복지센터현황</title>
    <link rel="stylesheet" href="../../static/css/welfare-center/welfare-center-search.css" />
    <link rel="stylesheet" href="../../static/css/font/font.css">
</head>
<body>
    <header id="_header"></header>
    <div id="container">
        <div class="layout content-layout">
            <div class="content-wrapper">
                <div id="location" class="title-wrapper" tabindex="-1">
                    <h2 class="page_title">복지센터</h2>
                    <em>다양한 복지센터에서 여러분과 함께합니다.</em>
                </div>
                <div class="search-layout">
                    <form class="list-form" name="listform" action="">
                        <input type="hidden" id="sido_cd" name="sido_cd" value>
                        <input type="hidden" id="sigugun_cd" name="sigugun_cd" value="00">
                        <fieldset class="search">
                            <legend>복지센터 검색</legend>
                            <div class="search-form-layout">
                                <label for="address-first" class="sido-label">지역구분(시도/시군구)</label>
                                <div class="select-box">
                                    <select name="address-first" id="address-first">
                                        <option value="00">전체</option>
                                        <option value="11">서울특별시</option>
                                        <option value="26">부산광역시</option>
                                        <option value="27">대구광역시</option>
                                        <option value="28">인천광역시</option>
                                        <option value="29">광주광역시</option>
                                        <option value="30">대전광역시</option>
                                        <option value="31">울산광역시</option>
                                        <option value="36">세종특별자치시</option>
                                        <option value="41">경기도</option>
                                        <option value="42">강원도</option>
                                        <option value="43">충청북도</option>
                                        <option value="44">충청남도</option>
                                        <option value="45">전라북도</option>
                                        <option value="46">전라남도</option>
                                        <option value="47">경상북도</option>
                                        <option value="48">경상남도</option>
                                        <option value="50">제주특별자치도</option>
                                    </select>
                                </div>
                                <label for="address-second" class="hidden">시군구</label>
                                <div class="select-box" style="width: 200px;">
                                    <select id="address-second" name="address-second">
			                            
                                        <option value="00">전체</option>
                                        
                                    
                                        
                                        <option value="41820">가평군</option>
                                    
                                        
                                        <option value="11680">강남구</option>
                                    
                                        
                                        <option value="11740">강동구</option>
                                    
                                        
                                        <option value="42150">강릉시</option>
                                    
                                        
                                        <option value="11305">강북구</option>
                                    
                                        
                                        <option value="11500">강서구</option>
                                    
                                        
                                        <option value="26440">강서구</option>
                                    
                                        
                                        <option value="46810">강진군 </option>
                                    
                                        
                                        <option value="28710">강화군</option>
                                    
                                        
                                        <option value="48310">거제시</option>
                                    
                                        
                                        <option value="48880">거창군</option>
                                    
                                        
                                        <option value="47290">경산시</option>
                                    
                                        
                                        <option value="47130">경주시</option>
                                    
                                        
                                        <option value="44250">계룡시</option>
                                    
                                        
                                        <option value="28245">계양구</option>
                                    
                                        
                                        <option value="47830">고령군</option>
                                    
                                        
                                        <option value="48820">고성군</option>
                                    
                                        
                                        <option value="42820">고성군</option>
                                    
                                        
                                        <option value="41280">고양시</option>
                                    
                                        
                                        <option value="41281">고양시 덕양구</option>
                                    
                                        
                                        <option value="41283">고양시 일산구</option>
                                    
                                        
                                        <option value="41285">고양시 일산동구</option>
                                    
                                        
                                        <option value="41287">고양시 일산서구</option>
                                    
                                        
                                        <option value="45790">고창군</option>
                                    
                                        
                                        <option value="46770">고흥군</option>
                                    
                                        
                                        <option value="46720">곡성군</option>
                                    
                                        
                                        <option value="44150">공주시</option>
                                    
                                        
                                        <option value="41290">과천시 </option>
                                    
                                        
                                        <option value="11620">관악구</option>
                                    
                                        
                                        <option value="41210">광명시</option>
                                    
                                        
                                        <option value="29200">광산구</option>
                                    
                                        
                                        <option value="46230">광양시</option>
                                    
                                        
                                        <option value="41610">광주시</option>
                                    
                                        
                                        <option value="11215">광진구</option>
                                    
                                        
                                        <option value="43760">괴산군</option>
                                    
                                        
                                        <option value="46730">구례군</option>
                                    
                                        
                                        <option value="11530">구로구</option>
                                    
                                        
                                        <option value="41310">구리시</option>
                                    
                                        
                                        <option value="47190">구미시</option>
                                    
                                        
                                        <option value="45130">군산시</option>
                                    
                                        
                                        <option value="47720">군위군</option>
                                    
                                        
                                        <option value="41410">군포시</option>
                                    
                                        
                                        <option value="44710">금산군</option>
                                    
                                        
                                        <option value="26410">금정구</option>
                                    
                                        
                                        <option value="11545">금천구</option>
                                    
                                        
                                        <option value="26710">기장군</option>
                                    
                                        
                                        <option value="45210">김제시</option>
                                    
                                        
                                        <option value="47150">김천시</option>
                                    
                                        
                                        <option value="41570">김포시</option>
                                    
                                        
                                        <option value="48250">김해시</option>
                                    
                                        
                                        <option value="46170">나주시</option>
                                    
                                        
                                        <option value="29155">남구</option>
                                    
                                        
                                        <option value="31140">남구</option>
                                    
                                        
                                        <option value="26290">남구</option>
                                    
                                        
                                        <option value="27200">남구</option>
                                    
                                        
                                        <option value="28200">남동구</option>
                                    
                                        
                                        <option value="41360">남양주시</option>
                                    
                                        
                                        <option value="45190">남원시</option>
                                    
                                        
                                        <option value="48840">남해군</option>
                                    
                                        
                                        <option value="11350">노원구</option>
                                    
                                        
                                        <option value="44230">논산시</option>
                                    
                                        
                                        <option value="43800">단양군</option>
                                    
                                        
                                        <option value="27290">달서구</option>
                                    
                                        
                                        <option value="27710">달성군</option>
                                    
                                        
                                        <option value="46710">담양군</option>
                                    
                                        
                                        <option value="44270">당진시</option>
                                    
                                        
                                        <option value="30230">대덕구</option>
                                    
                                        
                                        <option value="11320">도봉구</option>
                                    
                                        
                                        <option value="30110">동구</option>
                                    
                                        
                                        <option value="27140">동구</option>
                                    
                                        
                                        <option value="29110">동구</option>
                                    
                                        
                                        <option value="26170">동구</option>
                                    
                                        
                                        <option value="31170">동구</option>
                                    
                                        
                                        <option value="28140">동구</option>
                                    
                                        
                                        <option value="11230">동대문구</option>
                                    
                                        
                                        <option value="41250">동두천시 </option>
                                    
                                        
                                        <option value="26260">동래구</option>
                                    
                                        
                                        <option value="11590">동작구</option>
                                    
                                        
                                        <option value="42170">동해시</option>
                                    
                                        
                                        <option value="11440">마포구</option>
                                    
                                        
                                        <option value="46110">목포시</option>
                                    
                                        
                                        <option value="46840">무안군</option>
                                    
                                        
                                        <option value="45730">무주군</option>
                                    
                                        
                                        <option value="47280">문경시</option>
                                    
                                        
                                        <option value="28177">미추홀구</option>
                                    
                                        
                                        <option value="48270">밀양시</option>
                                    
                                        
                                        <option value="44180">보령시</option>
                                    
                                        
                                        <option value="46780">보성군</option>
                                    
                                        
                                        <option value="43720">보은군 </option>
                                    
                                        
                                        <option value="47920">봉화군</option>
                                    
                                        
                                        <option value="26230">부산진구</option>
                                    
                                        
                                        <option value="45800">부안군</option>
                                    
                                        
                                        <option value="44760">부여군</option>
                                    
                                        
                                        <option value="41190">부천시</option>
                                    
                                        
                                        <option value="41197">부천시 소사구</option>
                                    
                                        
                                        <option value="41199">부천시 오정구</option>
                                    
                                        
                                        <option value="41195">부천시 원미구</option>
                                    
                                        
                                        <option value="28237">부평구</option>
                                    
                                        
                                        <option value="26320">북구</option>
                                    
                                        
                                        <option value="31200">북구</option>
                                    
                                        
                                        <option value="29170">북구</option>
                                    
                                        
                                        <option value="27230">북구</option>
                                    
                                        
                                        <option value="26530">사상구</option>
                                    
                                        
                                        <option value="48240">사천시</option>
                                    
                                        
                                        <option value="26380">사하구</option>
                                    
                                        
                                        <option value="48860">산청군</option>
                                    
                                        
                                        <option value="42230">삼척시</option>
                                    
                                        
                                        <option value="47250">상주시</option>
                                    
                                        
                                        <option value="29140">서구</option>
                                    
                                        
                                        <option value="27170">서구</option>
                                    
                                        
                                        <option value="26140">서구</option>
                                    
                                        
                                        <option value="30170">서구</option>
                                    
                                        
                                        <option value="28260">서구</option>
                                    
                                        
                                        <option value="50130">서귀포시</option>
                                    
                                        
                                        <option value="11410">서대문구</option>
                                    
                                        
                                        <option value="44210">서산시</option>
                                    
                                        
                                        <option value="44770">서천군</option>
                                    
                                        
                                        <option value="11650">서초구</option>
                                    
                                        
                                        <option value="41130">성남시</option>
                                    
                                        
                                        <option value="41135">성남시 분당구</option>
                                    
                                        
                                        <option value="41131">성남시 수정구</option>
                                    
                                        
                                        <option value="41133">성남시 중원구</option>
                                    
                                        
                                        <option value="11200">성동구</option>
                                    
                                        
                                        <option value="11290">성북구</option>
                                    
                                        
                                        <option value="47840">성주군</option>
                                    
                                        
                                        <option value="36110">세종특별자치시</option>
                                    
                                        
                                        <option value="42210">속초시</option>
                                    
                                        
                                        <option value="11710">송파구</option>
                                    
                                        
                                        <option value="27260">수성구</option>
                                    
                                        
                                        <option value="26500">수영구</option>
                                    
                                        
                                        <option value="41110">수원시</option>
                                    
                                        
                                        <option value="41113">수원시 권선구</option>
                                    
                                        
                                        <option value="41117">수원시 영통구</option>
                                    
                                        
                                        <option value="41111">수원시 장안구</option>
                                    
                                        
                                        <option value="41115">수원시 팔달구</option>
                                    
                                        
                                        <option value="45770">순창군</option>
                                    
                                        
                                        <option value="46150">순천시</option>
                                    
                                        
                                        <option value="41390">시흥시</option>
                                    
                                        
                                        <option value="46910">신안군</option>
                                    
                                        
                                        <option value="44200">아산시</option>
                                    
                                        
                                        <option value="47170">안동시</option>
                                    
                                        
                                        <option value="41270">안산시</option>
                                    
                                        
                                        <option value="41273">안산시 단원구</option>
                                    
                                        
                                        <option value="41271">안산시 상록구</option>
                                    
                                        
                                        <option value="41550">안성시</option>
                                    
                                        
                                        <option value="41170">안양시</option>
                                    
                                        
                                        <option value="41173">안양시 동안구</option>
                                    
                                        
                                        <option value="41171">안양시 만안구</option>
                                    
                                        
                                        <option value="42800">양구군 </option>
                                    
                                        
                                        <option value="48330">양산시</option>
                                    
                                        
                                        <option value="42830">양양군</option>
                                    
                                        
                                        <option value="41630">양주시</option>
                                    
                                        
                                        <option value="11470">양천구</option>
                                    
                                        
                                        <option value="41830">양평군</option>
                                    
                                        
                                        <option value="46130">여수시</option>
                                    
                                        
                                        <option value="41670">여주시</option>
                                    
                                        
                                        <option value="28185">연수구</option>
                                    
                                        
                                        <option value="26470">연제구</option>
                                    
                                        
                                        <option value="41800">연천군</option>
                                    
                                        
                                        <option value="46870">영광군</option>
                                    
                                        
                                        <option value="47770">영덕군</option>
                                    
                                        
                                        <option value="26200">영도구</option>
                                    
                                        
                                        <option value="43740">영동군 </option>
                                    
                                        
                                        <option value="11560">영등포구</option>
                                    
                                        
                                        <option value="46830">영암군</option>
                                    
                                        
                                        <option value="47760">영양군</option>
                                    
                                        
                                        <option value="42750">영월군</option>
                                    
                                        
                                        <option value="47210">영주시</option>
                                    
                                        
                                        <option value="47230">영천시</option>
                                    
                                        
                                        <option value="44810">예산군</option>
                                    
                                        
                                        <option value="47900">예천군</option>
                                    
                                        
                                        <option value="41370">오산시</option>
                                    
                                        
                                        <option value="43730">옥천군</option>
                                    
                                        
                                        <option value="28720">옹진군</option>
                                    
                                        
                                        <option value="46890">완도군 </option>
                                    
                                        
                                        <option value="45710">완주군</option>
                                    
                                        
                                        <option value="11170">용산구</option>
                                    
                                        
                                        <option value="41460">용인시</option>
                                    
                                        
                                        <option value="41463">용인시 기흥구</option>
                                    
                                        
                                        <option value="41465">용인시 수지구</option>
                                    
                                        
                                        <option value="41461">용인시 처인구</option>
                                    
                                        
                                        <option value="47940">울릉군</option>
                                    
                                        
                                        <option value="31710">울주군</option>
                                    
                                        
                                        <option value="47930">울진군</option>
                                    
                                        
                                        <option value="42130">원주시</option>
                                    
                                        
                                        <option value="30200">유성구</option>
                                    
                                        
                                        <option value="11380">은평구</option>
                                    
                                        
                                        <option value="43770">음성군</option>
                                    
                                        
                                        <option value="48720">의령군</option>
                                    
                                        
                                        <option value="47730">의성군</option>
                                    
                                        
                                        <option value="41430">의왕시</option>
                                    
                                        
                                        <option value="41150">의정부시</option>
                                    
                                        
                                        <option value="41500">이천시</option>
                                    
                                        
                                        <option value="45140">익산시</option>
                                    
                                        
                                        <option value="42810">인제군</option>
                                    
                                        
                                        <option value="45750">임실군</option>
                                    
                                        
                                        <option value="46880">장성군</option>
                                    
                                        
                                        <option value="45740">장수군</option>
                                    
                                        
                                        <option value="46800">장흥군</option>
                                    
                                        
                                        <option value="45110">전주시</option>
                                    
                                        
                                        <option value="45113">전주시 덕진구</option>
                                    
                                        
                                        <option value="45111">전주시 완산구</option>
                                    
                                        
                                        <option value="42770">정선군</option>
                                    
                                        
                                        <option value="45180">정읍시</option>
                                    
                                        
                                        <option value="50110">제주시</option>
                                    
                                        
                                        <option value="43150">제천시</option>
                                    
                                        
                                        <option value="11110">종로구</option>
                                    
                                        
                                        <option value="28110">중구</option>
                                    
                                        
                                        <option value="31110">중구</option>
                                    
                                        
                                        <option value="11140">중구</option>
                                    
                                        
                                        <option value="26110">중구</option>
                                    
                                        
                                        <option value="30140">중구</option>
                                    
                                        
                                        <option value="27110">중구</option>
                                    
                                        
                                        <option value="11260">중랑구</option>
                                    
                                        
                                        <option value="43745">증평군</option>
                                    
                                        
                                        <option value="46900">진도군 </option>
                                    
                                        
                                        <option value="45720">진안군</option>
                                    
                                        
                                        <option value="48170">진주시</option>
                                    
                                        
                                        <option value="43750">진천군</option>
                                    
                                        
                                        <option value="48740">창녕군</option>
                                    
                                        
                                        <option value="48120">창원시</option>
                                    
                                        
                                        <option value="48125">창원시 마산합포구</option>
                                    
                                        
                                        <option value="48127">창원시 마산회원구</option>
                                    
                                        
                                        <option value="48123">창원시 성산구</option>
                                    
                                        
                                        <option value="48121">창원시 의창구</option>
                                    
                                        
                                        <option value="48129">창원시 진해구</option>
                                    
                                        
                                        <option value="44130">천안시</option>
                                    
                                        
                                        <option value="44131">천안시 동남구</option>
                                    
                                        
                                        <option value="44133">천안시 서북구</option>
                                    
                                        
                                        <option value="42780">철원군</option>
                                    
                                        
                                        <option value="47820">청도군</option>
                                    
                                        
                                        <option value="47750">청송군</option>
                                    
                                        
                                        <option value="44790">청양군</option>
                                    
                                        
                                        <option value="43110">청주시</option>
                                    
                                        
                                        <option value="43111">청주시 상당구</option>
                                    
                                        
                                        <option value="43112">청주시 서원구</option>
                                    
                                        
                                        <option value="43114">청주시 청원구</option>
                                    
                                        
                                        <option value="43113">청주시 흥덕구</option>
                                    
                                        
                                        <option value="42110">춘천시</option>
                                    
                                        
                                        <option value="43130">충주시</option>
                                    
                                        
                                        <option value="47850">칠곡군</option>
                                    
                                        
                                        <option value="42190">태백시</option>
                                    
                                        
                                        <option value="44825">태안군</option>
                                    
                                        
                                        <option value="48220">통영시</option>
                                    
                                        
                                        <option value="41480">파주시</option>
                                    
                                        
                                        <option value="42760">평창군</option>
                                    
                                        
                                        <option value="41220">평택시</option>
                                    
                                        
                                        <option value="41650">포천시</option>
                                    
                                        
                                        <option value="47110">포항시</option>
                                    
                                        
                                        <option value="47111">포항시 남구</option>
                                    
                                        
                                        <option value="47113">포항시 북구</option>
                                    
                                        
                                        <option value="41450">하남시</option>
                                    
                                        
                                        <option value="48850">하동군</option>
                                    
                                        
                                        <option value="48730">함안군</option>
                                    
                                        
                                        <option value="48870">함양군</option>
                                    
                                        
                                        <option value="46860">함평군</option>
                                    
                                        
                                        <option value="48890">합천군</option>
                                    
                                        
                                        <option value="46820">해남군 </option>
                                    
                                        
                                        <option value="26350">해운대구</option>
                                    
                                        
                                        <option value="44800">홍성군</option>
                                    
                                        
                                        <option value="42720">홍천군</option>
                                    
                                        
                                        <option value="41590">화성시</option>
                                    
                                        
                                        <option value="46790">화순군</option>
                                    
                                        
                                        <option value="42790">화천군</option>
                                    
                                        
                                        <option value="42730">횡성군</option>
                                </select></div>
                                <input type="button" class="welfare-center-search-button" value="검색">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="table-search-list">
                    <table>
                        <caption>복지센터 검색시 시설명, 시도, 시군구, 시설유형, 연락처로 이루어진 표입니다.</caption>
                        <colgroup>
		                    <col width="25%">
		                    <col width="10%">
		                    <col width="8%">
		                    <col width="12%">
		                    <col width="15%">
		                    <col width="15%">
		                    <col width="*%">
		                </colgroup>
                        <thead>
                            <tr>
                                <th scope="col" class="facility-name">시설명</th>
                                <th scope="col">시도</th>
                                <th scope="col">시군구</th>
                                <th scope="col">시설유형(대)</th>
                                <th scope="col">시설유형(중)</th>
                                <th scope="col">시설유형(소)</th>
                                <th scope="col">연락처</th>
                            </tr>
                        </thead>
                        <tbody>
		                    
		                        
                            <tr>
                                <td class="facility-name">성북피해장애인쉼터</td>         
                                <td>-</td>         
                                <td>-</td>          
                                <td>장애인</td>
                                <td>-</td>    
                                <td>-</td>
                                <td>-</td>     
                            </tr>
                        
                            <tr>
                                <td class="facility-name">로뎀나무쉼터</td>         
                                <td>-</td>         
                                <td>-</td>          
                                <td>장애인</td>
                                <td>-</td>    
                                <td>-</td>
                                <td>-</td>     
                            </tr>
                        
                            <tr>
                                <td class="facility-name">서울특별시 피해장애인 쉼터</td>         
                                <td>-</td>         
                                <td>-</td>          
                                <td>장애인</td>
                                <td>-</td>    
                                <td>-</td>
                                <td>-</td>     
                            </tr>
                        
                            <tr>
                                <td class="facility-name">효천성바오로집</td>         
                                <td>서울특별시</td>         
                                <td>강남구</td>          
                                <td>노인</td>
                                <td>노인주거복지시설</td>    
                                <td>양로시설</td>
                                <td>02-572-5701</td>     
                            </tr>
                        
                            <tr>
                                <td class="facility-name">더시그넘하우스</td>         
                                <td>서울특별시</td>         
                                <td>강남구</td>          
                                <td>노인</td>
                                <td>노인주거복지시설</td>    
                                <td>노인복지주택</td>
                                <td>025764400</td>     
                            </tr>
                        
                            <tr>
                                <td class="facility-name">서울시니어스타워(주)강남본부</td>         
                                <td>서울특별시</td>         
                                <td>강남구</td>          
                                <td>노인</td>
                                <td>노인주거복지시설</td>    
                                <td>노인복지주택</td>
                                <td>02-2223-3351</td>     
                            </tr>
                        
                            <tr>
                                <td class="facility-name">강남 성은실버케어스</td>         
                                <td>서울특별시</td>         
                                <td>강남구</td>          
                                <td>노인</td>
                                <td>노인의료복지시설</td>    
                                <td>노인요양시설</td>
                                <td>0260847800</td>     
                            </tr>
                        
                            <tr>
                                <td class="facility-name">국민건강보험공단 서울요양원</td>         
                                <td>서울특별시</td>         
                                <td>강남구</td>          
                                <td>노인</td>
                                <td>노인의료복지시설</td>    
                                <td>노인요양시설</td>
                                <td>0221601000</td>     
                            </tr>
                        
                            <tr>
                                <td class="facility-name">강남실버센터</td>         
                                <td>서울특별시</td>         
                                <td>강남구</td>          
                                <td>노인</td>
                                <td>노인의료복지시설</td>    
                                <td>노인요양시설</td>
                                <td>02-549-7133</td>     
                            </tr>
                        
                            <tr>
                                <td class="facility-name">강남구립 논현요양센터</td>         
                                <td>서울특별시</td>         
                                <td>강남구</td>          
                                <td>노인</td>
                                <td>노인의료복지시설</td>    
                                <td>노인요양시설</td>
                                <td>02-6954-3662</td>     
                            </tr>
                </tbody>
                    </table>
                </div>

                <div class="paging-wrapper">
                    <ul class="paging-wrap">
                        <li class="paging-prev-wrap" title="이전 페이지">
                            <div class="prev">
                                <svg viewBox="0 0 48 48">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.8912 45.3014L12 23.913L32.8912 2.52471C33.5866 1.8251 34.7804 1.8251 35.4777 2.52471C36.1741 3.22333 36.1741 4.42368 35.4777 5.22224L17.1731 23.913L35.4777 42.7018C36.1741 43.4024 36.1741 44.6018 35.4777 45.4013C35.0788 45.8011 34.6819 46 34.1845 46C33.7855 45.9011 33.2881 45.7002 32.8912 45.3014Z"></path>
                                </svg>
                            </div>
                        </li>
                        <li title="1" class="paging-item-select" tabindex="0">
                            <a rel="nofollow">1</a>
                        </li>
                        <li title="2" class="paging-item" tabindex="0">
                            <a rel="nofollow">2</a>
                        </li>
                        <li title="3" class="paging-item" tabindex="0">
                            <a rel="nofollow">3</a>
                        </li>
                        <li title="4" class="paging-item" tabindex="0">
                            <a rel="nofollow">4</a>
                        </li>
                        <li title="5" class="paging-item" tabindex="0">
                            <a rel="nofollow">5</a>
                        </li>

                        <li title="다음 페이지" tabindex="0" class="paging-next" aria-disabled="false">
                            <div  class="next">
                                <svg viewBox="0 0 48 48">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9071 46C13.4118 46 12.9164 45.8001 12.6192 45.4003C11.9257 44.7007 11.9257 43.5014 12.6192 42.7019L30.8493 24.0125L12.5201 5.22317C11.8266 4.52357 11.8266 3.32425 12.5201 2.5247C13.2136 1.8251 14.3034 1.8251 15.096 2.5247L36 24.0125L15.195 45.4003C14.7988 45.8001 14.3034 46 13.9071 46Z"></path></svg></div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <footer id="_footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#_header').load('../main/header.html');
        $('#_footer').load('../main/footer.html');
    });
</script>
</html>