<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>복지센터현황</title>
    <link rel="stylesheet" href="/css/welfare-center/welfare-center-search.css" />
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/customerCenter/inquiry-write.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>
    <header th:insert="~{main/header.html :: mainHeader}"></header>
    <div id="container">
        <div th:insert="~{customerCenter/inquiry-write.html :: inqueryModal}"></div>
        <div class="layout content-layout">
            <div class="content-wrapper">
                <div id="location" class="title-wrapper" tabindex="-1">
                    <h2 class="page_title">서울시 복지센터</h2>
                    <em>서울시 복지센터에서 여러분과 함께합니다.</em>
                </div>
                <div class="search-layout">
                    <form class="list-form" name="listform" action="">
                        <input type="hidden" id="sido_cd" name="sido_cd" value>
                        <input type="hidden" id="sigugun_cd" name="sigugun_cd" value="00">
                        <fieldset class="search">
                            <legend>복지센터 검색</legend>
                            <div class="search-form-layout">
                                <!--                                <label for="address-first" class="sido-label">지역구분(시도/시군구)</label>-->
                                <div class="text" value="서울특별시">
                                    <!--                                    <select name="address-first" id="address-first">-->
                                    <!--                                        <option value="11">서울특별시</option>-->
                                    <!--                                    </select>-->
                                </div>
                                <label for="address-second" class="hidden">시군구</label>
                                <div class="select-box" style="width: 200px;">
                                    <select id="address-second" name="address-second">
			                            
                                        <option class="place">강남구</option>
                                        <option class="place">강동구</option>
                                        <option class="place">강북구</option>
                                        <option class="place">강서구</option>
                                        <option class="place">관악구</option>
                                        <option class="place">광진구</option>
                                        <option class="place">구로구</option>
                                        <option class="place">금천구</option>
                                        <option class="place">노원구</option>
                                        <option class="place">도봉구</option>
                                        <option class="place">동대문구</option>
                                        <option class="place">동작구</option>
                                        <option class="place">마포구</option>
                                        <option class="place">서대문구</option>
                                        <option class="place">서초구</option>
                                        <option class="place">성동구</option>
                                        <option class="place">성북구</option>
                                        <option class="place">송파구</option>
                                        <option class="place">양천구</option>
                                        <option class="place">영등포구</option>
                                        <option class="place">용산구</option>
                                        <option class="place">은평구</option>
                                        <option class="place">종로구</option>
                                        <option class="place">중구</option>
                                        <option class="place">중랑구</option>

                                </select></div>
                                <input type="button" class="welfare-center-search-button" value="검색">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="table-search-list">
                    <table>
                        <caption>복지센터 검색시 시설명, 시도, 시군구, 시설유형, 연락처로 이루어진 표입니다.</caption>
                        <colgroup>
		                    <col width="25%">
		                    <col width="8%">
		                    <col width="30%">
		                    <col width="15%">
		                    <col width="8%">
		                    <col width="14%">
		                </colgroup>
                        <thead>
                            <tr>
                                <th scope="col" class="facility-name">시설명</th>
                                <th scope="col">시군구</th>
                                <th scope="col">주소</th>
                                <th scope="col">시설유형</th>
                                <th scope="col">대표자명</th>
                                <th scope="col">연락처</th>
                            </tr>
                        </thead>
                        <tbody class="content">
                </tbody>
                    </table>
                </div>

<!--                <div class="paging-wrapper">-->
<!--                    <ul class="paging-wrap">-->
<!--                        <li class="paging-prev-wrap" title="이전 페이지">-->
<!--                            <div class="prev">-->
<!--                                <svg viewBox="0 0 48 48">-->
<!--                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.8912 45.3014L12 23.913L32.8912 2.52471C33.5866 1.8251 34.7804 1.8251 35.4777 2.52471C36.1741 3.22333 36.1741 4.42368 35.4777 5.22224L17.1731 23.913L35.4777 42.7018C36.1741 43.4024 36.1741 44.6018 35.4777 45.4013C35.0788 45.8011 34.6819 46 34.1845 46C33.7855 45.9011 33.2881 45.7002 32.8912 45.3014Z"></path>-->
<!--                                </svg>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li title="1" class="paging-item-select" tabindex="0">-->
<!--                            <a rel="nofollow">1</a>-->
<!--                        </li>-->
<!--                        <li title="2" class="paging-item" tabindex="0">-->
<!--                            <a rel="nofollow">2</a>-->
<!--                        </li>-->
<!--                        <li title="3" class="paging-item" tabindex="0">-->
<!--                            <a rel="nofollow">3</a>-->
<!--                        </li>-->
<!--                        <li title="4" class="paging-item" tabindex="0">-->
<!--                            <a rel="nofollow">4</a>-->
<!--                        </li>-->
<!--                        <li title="5" class="paging-item" tabindex="0">-->
<!--                            <a rel="nofollow">5</a>-->
<!--                        </li>-->

<!--                        <li title="다음 페이지" tabindex="0" class="paging-next" aria-disabled="false">-->
<!--                            <div  class="next">-->
<!--                                <svg viewBox="0 0 48 48">-->
<!--                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9071 46C13.4118 46 12.9164 45.8001 12.6192 45.4003C11.9257 44.7007 11.9257 43.5014 12.6192 42.7019L30.8493 24.0125L12.5201 5.22317C11.8266 4.52357 11.8266 3.32425 12.5201 2.5247C13.2136 1.8251 14.3034 1.8251 15.096 2.5247L36 24.0125L15.195 45.4003C14.7988 45.8001 14.3034 46 13.9071 46Z"></path></svg></div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->

            </div>
        </div>
    </div>
    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/welfare-center/welfare-center.js"></script>
<script src="/js/customerCenter/inquiry-write.js"></script>
</html>