.my-board-header{
    /* border-bottom: 1px solid rgb(230, 230, 230); */
    /* align-items: center; */
    padding-top: 30px;
    /* padding-left: 16px; */
    padding-right: 16px;
    flex-direction: column;
    max-width: 500px;
    min-width: 350px;
    display: flex;
    /* margin-left: auto; */
    margin-right: auto;
}
.my-board-header-container{
    gap: 16px;
    display: flex;
}
.my-board-header-title{
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    color: #1d1d1e;
    fill: #1d1d1e;
}
.my-board-header-title-select{
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    color: #b9b9bb;
    fill: #b9b9bb;
}

.my-review-wrap {
    max-width: 860px;
    margin: 0 auto;
}

.my-review-count-wrap {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.02em;
    padding: 14px 0px 24px;
    color: rgb(61, 61, 61);
}

.my-review-count {
    font-style: normal;
    color: rgb(255, 87, 87);
}

.review-header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.review-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: 1 0 auto;
}

.review-title-text {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    color: rgb(61, 61, 61);
    font-size: 20px;
    font-weight: bold;
}

.review-modify, .review-delete {
    cursor: pointer;
    margin-left: 8px;
}

.review-main {
    margin-top: 16px;
}

.review-main-img-wrap {
    display: flex;
}

.review-main-img {
    width: 101.286px;
    margin-right: 10px;
}

.review-img img {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 1px;
    cursor: pointer;
    width: 100%;
    height: 100px;
}

.review-content {
    color: rgb(109, 109, 109);
    font: 400 16px / 28px NotoSansKR;
}

.review-main-footer {
    margin-top: 5px;
    margin-bottom: 20px;
}

.review-write-date {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.review-write-date span {
    font: 400 14px / 24px NotoSansKR;
    color: rgb(158, 158, 158);
}

.review-write-date span:first-of-type::after {
    content: "|";
    display: inline-block;
    margin: 0px 6px;
    position: relative;
    z-index: 1;
    top: -1px;
    color: rgb(208, 208, 208);
}



.page-wrap {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 20px auto 40px;
}

.page-ul {
    display: flex;
    color: rgb(158, 158, 158);
    margin: 0px;
    font-size: 14px !important;
}

.page-li {
    list-style: none;
    margin: 0px 6px;
    float: none;
    display: flex;
    min-width: 22px;
    height: 25px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0px;
    font-weight: bold;
    -webkit-box-align: center;
    align-items: center;

    margin: 0px;
    font-size: 12px;
    font-weight: normal;
}

.page-li a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    color: rgb(158, 158, 158) !important;
    padding-left: 7px;
    padding-right: 7px;
    align-items: flex-end;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
}

.page-li-select {
    margin: 0px 6px;
    float: none;
    display: flex;
    min-width: 22px;
    height: 25px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0px;
    font-weight: bold;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(109, 109, 109) !important;
}

.page-li-select a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    padding-left: 7px;
    padding-right: 7px;
    align-items: flex-end;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgb(255, 255, 255) !important;
}

.page-arrow {
    justify-content: center;
    cursor: pointer;
    color: #666;
    list-style: none;
    line-height: 28px;
    text-align: center;

    float: none;
    display: flex;
    min-width: 22px;
    height: 25px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0px;
    align-items: center;

    margin: 0px;
    font-size: 12px;
    font-weight: normal;
}

.arrow {
    height: 15px;
    display: inline-flex;
    align-self: center;
}

.modal-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(13, 13, 13, 0.65);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: transparent;
    min-width: 328px;
    max-width: 800px;
}

.modal-close {
    height: 68px;
    text-align: right;
}

.modal-close svg {
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.modal-img {
    width: 100%;
}

.modal-img img {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: calc(100vh - 228px);
    object-fit: contain;
    object-position: center center;
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

/* 삭제모달 */
.delete-modal-wrap {
    position: absolute;
    width: auto;
    z-index: 9999;
    left: 0px;
    top: 0px;
    display: none;
}

.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(13, 13, 13, 0.65);
}

.modal {
    max-width: 60%;
    min-width: 328px;
    position: absolute;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 16px 0px;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.modal-content {
    color: rgb(13, 13, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.020em;
}

.modal-ok-div {
    border-top: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: center;
}

.modal-button {
    flex-grow: 1;
    border: 0px;
    background: rgb(255, 255, 255);
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.020em;
    color: rgb(255, 87, 87);
    cursor: pointer;
}

.modal-button:first-child {
    border-right: 1px solid rgb(230, 230, 230);
}