@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);

@font-face {
    font-family: "SF Pro Text";
    src: url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot");
    src: url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff") format("woff"), url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.svg#SF Pro Text") format("svg");
}

@font-face {
    font-family: 'NotoSansKR';
    src: local('Noto Sans KR Bold'),
    url(../../font/d197a963b8be534ec3620e51addcf533.woff2) format('woff2');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'NotoSansKR';
    src: local('Noto Sans KR'),
    url(../../font/bfaf1857e71d0b18bac8956117b642df.woff2) format('woff2');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'NotoSansKR';
    src: local('Noto Sans KR'),
    url(../../font/f97524d1b3a0c3b3943493627b7a4fc6.woff2) format('woff2');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'NotoSansKR';
    src: local('Noto Sans KR Light'),
    url(../../font/9ea09379fe14e88d01db5ddb4c2814d8.woff2) format('woff2');
    font-weight: 300;
  }

@font-face {
    font-family: 'SpoqaHanSans';
    /* IE9 Compat Modes */
    src: url(../../font/ba0e2ca4c63cc656898404027a295ae4.woff2) format('woff2');
    /* Legacy iOS */
    font-weight: normal;
}