.full-screen{
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-orient: vertical; */
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    font-family: 'SpoqaHanSans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    /* font-smoothing: antialiased; */
}

html{
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
}

a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}

h3, p, div {
    word-break: break-all;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.header-layout{
    position: relative;
    display: flex;
    width: 100%;
    background: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 6px;
}

.header-wrapper{
    margin-top: 10px;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 105px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.header-upper-layout{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 48px;
    max-height: 72px;
    max-width: 1080px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.header-content-layout{
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 56px;
    z-index: 999;
}

.logo-wrapper{
    display: flex;
    width: 132px;
    min-height: 35px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    transition: scale 0.3s ease-in-out 0s;
    background-image: url(../../image/logo-test.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.status-wrapper{
    display: inline-flex;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.header-button{
    padding: 16px;
    display: inline-flex;
    width: auto;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.button-wrapper{
    padding: 12px;
    display: inline-flex;
    width: auto;
    min-width: 30px;
    min-height: 44px;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
}

.user-button-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 100;
}

.login-user-button-wrapper{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 100;
}

.user-button-layout{
    margin-left: 10px;
    position: relative;
    padding: 16px;
    display: inline-flex;
    width: auto;
    min-width: 30px;
    max-height: 44px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.user-avatar{
    position: relative;
    padding-top: 3px;
    display: inline-flex;
    width: 24px;
    height: 24px;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    border-radius: 24px;
    font-weight: bold;
    background: rgb(217, 217, 217);
}

.user-text{
    margin-left: 10px;
    display: inline-flex;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    font-weight: bold;
    flex-shrink: 0;
}

.menu-item:hover{
    background-color: rgb(240, 240, 240);
}

.profile-img{
    display: inline-block;
    background-image: url(https://tumblbug-upi.imgix.net/default_avatar.png?auto=format%2Ccompress&ch=Save-Data&facepad=2.0&fit=facearea&h=250&mask=ellipse&w=250&s=80a07af0ffbe653137dd423ed1d5651c);
    background-size: cover;
    background-position: 50% 38%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: rgb(208, 208, 208) 0px 0px 1px 0px inset, rgb(208, 208, 208) 0px 0px 1px 0px;
    margin-right: 0px;
    margin-top: 5px;
}

.my-user-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 0px;
    width: 240px;
    transition: all 0.3s ease-in-out 0s;
    border: 1px solid rgb(228, 228, 228);
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 1200;
}

.my-user-wrapper::before{
    position: absolute;
    top: -5px;
    right: 35px;
    width: 8px;
    height: 8px;
    background-color: rgb(255, 255, 255);
    content: " ";
    transform: rotate(45deg);
    border-top: 1px solid rgb(228, 228, 228);
    border-left: 1px solid rgb(228, 228, 228);
    z-index: 1002;
}

.user-menu-list{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 4px;
    user-select: none;
    z-index: 1001;
}

.menu-item{
    padding: 4px 16px;
    display: flex;
    width: 100%;
    height: 46px;
    min-height: 46px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 22px;
    color: rgb(13, 13, 13);
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

.menu-item-divider{
    padding: 12px 16px;
    display: flex;
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255);
}

.menu-item-divider::before{
    display: flex;
    width: 100%;
    height: 1px;
    background: rgb(240, 240, 240);
    content: " ";
}


.user-dimmed-layout{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    z-index: 1000;
}

svg:not(:root) {
    overflow: hidden;
}

.avatar-icon{
    width: 48px;
    height: 48px;
    fill: none;
    display: flex;
    min-width: 48px;
    transform: scale(0.5);
    cursor: pointer;
}

.avatar-icon-svg-path{
    fill: rgb(255, 255, 255);
}

.search-bar{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1080px;
    min-height: 56px;
    background: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.extended-category-section{
    overflow: hidden;
    margin-top: 56px;
    position: absolute;
    display: flex;
    height: auto;
    max-height: 0px;
    transition: max-height 0.3s ease-in-out 0s;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    z-index: -1;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 7px;
}

.extended-category-section-start{
    overflow: hidden;
    margin-top: 56px;
    position: absolute;
    display: flex;
    height: auto;
    max-height: 600px;
    transition: max-height 0.3s ease-in-out 0s;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    z-index: -999;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 7px;
}

.extended-categeory-header{
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 60px;
    padding: 0px 16px;
    font-size: 18px;
    font-weight: bold;
}

.category-container{
    position: relative;
    width: 100%;
    max-width: 1160px;
}

.style-depth-category-wrapper{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 40px 0px 30px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.depth-category-group{
    flex: 1 0 20%;
}

.depth-category{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    height: 32px;
    margin-bottom: 20px;
    padding: 0px 3px;
    cursor: pointer;
}

.depth-category-icon{
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.depth-category-text{
    margin-top: 4px;
    display: inline-flex;
    width: 100%;
    line-height: 18px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(61, 61, 61);
    font-size: 13px;
    word-break: keep-all;
    text-align: left;
}

.depth-category.depth-category-text {
    font-weight: bold;
    color: rgb(13, 13, 13);
}

.search-input-wrapper{
    position: relative;
    padding: 0px 30px 0px 16px;
    display: inline-flex;
    width: 260px;
    height: 33px;
    background: rgb(243, 243, 243);
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.3);
}

.category-section{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 56px;
    -webkit-box-align: center;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    user-select: none;
}

.category-wrapper{
    padding: 0px 6px;
    min-height: 56px;
    position: relative;
    margin-right: 18px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out 0s;
}

.category-wrapper:hover{
    color: rgb(254, 95, 76);
    font-weight: bold;
}

.category-select::after{
    bottom: 0px;
    position: absolute;
    display: flex;
    content: " ";
    /* opacity: 0; */
    width: calc(100% + 6px);
    height: 2px;
    background: black;
    animation: 0.3s ease-in-out 0s 1 normal forwards running eclZLu;
}

.icon-wrapper{
    overflow: hidden;
    position: relative;
    display: inline-flex;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.like-icon{
    display: flex;
    min-width: 48px;
    transform: scale(0.5);
    cursor: pointer;
}

.notification-icon{
    position: relative;
    display: flex;
    min-width: 48px;
    cursor: pointer;
}

.menu-icon{
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    background-image: url(../../image/header/menu_icon.png);
    background-size: 80%;
    background-repeat: no-repeat;
}

.search-input{
    border: none;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    background: rgb(243, 243, 243);
    color: rgb(51, 51, 51);
    appearance: none;
    outline: none;
}

.search-button{
    position: absolute;
    right: 10px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.search-icon{
    display: flex;
    min-width: 48px;
    transform: scale(0.5);
    cursor: pointer;
}

@media screen and (min-width: 640px) {
    .header-layout {
        padding: 0px 16px;
    }

    .extended-category-section {
        width: calc(100% + 40px);
    }

    .extended-category-section-start{
        width: calc(100% + 40px);
    }

    .my-user-wrapper{
        min-height: 380px;
        max-height: 85vh;
        overflow-y: auto;
    }
}

@media screen and (min-width: 992px) {
    .header-layout {
        padding: 0px 20px;
    }
}

@media screen and (min-width: 1080px) {
    .status-wrapper {
        margin-right: 0px;
    }

    .category-section{
        margin-right: 20px;
    }

    .search-input-wrapper{
        margin-right: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .header-upper-layout{
        max-width: 1160px;
    }

    .search-bar{
        max-width: 1160px;
        padding: 0px;
    }
}

@media (max-width: 640px){
    .header-wrapper {
        margin-top: 10px;
        position: relative;
        display: flex;
        width: 100%;
        height: auto;
        min-height: 105px;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
    }

    .header-upper-layout{
        padding: 0px;
    }

    .logo-wrapper{
        margin-left: 10px;
        transform: scale(0.78);
    }

    .status-wrapper{
        margin-right: 12px;
    }

    .header-button{
        display: none;
    }

    .button-wrapper{
        padding: 10px;
    }

    .user-button-layout{
        padding: 0px;
        border: none;
        box-sizing: unset;
    }

    .user-text{
        display: none;
    }

    .search-input-wrapper{
        display: none;
    }

    .search-icon{
        width: 48px;
        height:48px;
        fill: none;
    }

    .category-section{
        margin-left: 20px;
    }

    .category-wrapper{
        font-size: 14px;
        padding: 0px 2px;
    }

    .extended-category-section-start {
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        background: rgb(255, 255, 255);
        user-select: none;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 7px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 999;
        display: block;
        width:100%;
        height: 100%;
        max-height: none;
        margin: 0px;
        padding-top: 24px;
        overflow: auto;
        transition: none 0s ease 0s;
    }

    .extended-categeory-header{
        float: right;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        height: 60px;
        padding: 0px 16px;
        font-size: 18px;
        font-weight: bold;
    }

    .depth-category-wrapper{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        -webkit-box-pack: justify;
        justify-content: space-between;
        height: auto;
        padding: 5px 3px 16px;
        overflow-x: auto;    
    }

    .depth-category-group{
        display: flex;
        flex-direction: column;
    }

/*     .my-user-wrapper{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 4px;
        position: fixed;
        width: 100%;
        height: 100%;
        inset: 0px;
        z-index: 1200;
        background: rgb(255, 255, 255);
        transition: all 0.3s ease-in-out 0s;
        border: none;
    } */

    .header-upper-layout{
        padding: 0px;
        margin-top: 10px;
        height: 48px;
    }
    
/*     .user-menu-list{
        overflow-y: auto;
        padding: 16px 0px;
        display: flex;
        width: 100%;
        flex-direction: column;
        background: rgb(255, 255, 255);
        box-sizing: border-box;
        border-radius: 4px;
        user-select: none;
        z-index: 1300;
    } */

    .logo-wrapper{
        z-index: 1300;
    }

    .status-wrapper {
        margin: 0px;
        padding: 16px;
        cursor: pointer;
    }
}