body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    font-family: 'SpoqaHanSans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    height: 100%;
    margin: 0;
    line-height: inherit;
    display: block;
}

*{
    word-break: break-word;
    box-sizing: border-box;
}
div{
    display: block;
}
.board{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    transform-origin: 0px 0px;
    word-break: break-all;
}
.board-container{
    flex-direction: column;
    max-width: 720px;
    min-width: 320px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fff;
}
.register{
    height: 3.5rem;
    padding: 1rem 0;
    background-color: #fff;
}
.register-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 103%;
    height: 100%;
    margin: auto;
}
.register-btn:disabled{
    display: flex;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #d9dfeb;
    background-color: #c5c5c5;
    color: #fff;
    text-shadow: none;
    background-image: none;
    font-size: .92857143rem;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    padding: 0.92857143em 1.5em;
    text-transform: none;
    font-weight: 400;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    border-radius: 0.28571429rem;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transform-origin: 0px 0px;
}
.register-btn{
    display: flex;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #d9dfeb;
    background-color: rgba(229, 104, 89, 0.83);
    color: #fff;
    text-shadow: none;
    background-image: none;
    font-size: .92857143rem;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    padding: 0.92857143em 1.5em;
    text-transform: none;
    font-weight: 400;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    border-radius: 0.28571429rem;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transform-origin: 0px 0px;
}
.photo{
    display: flex;
    justify-content: center;
    height: 3.5rem;
    padding: 1rem 1.25rem;
    background-color: #fafafa;
    margin: 0 -1rem;
    border-top: 0.0625rem solid #f4f4f4;
    border-bottom: 0.0625rem solid #f4f4f4;
    margin-top: 1%;
    cursor: pointer;
}
.photo-container{
    display: flex;
    align-items: center;
}
.photo-img{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.4375rem;
    -o-object-fit: contain;
    object-fit: contain;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjc1IDIuNWwxLjY3OCAxLjc2aDIuOTA1YzEuMDA5IDAgMS44MzQuNzkgMS44MzQgMS43NTl2MTAuNTU1YzAgLjk2OC0uODI1IDEuNzYtMS44MzQgMS43NkgyLjY2N2MtMS4wMDkgMC0xLjgzNC0uNzkyLTEuODM0LTEuNzZWNi4wMmMwLS45NjguODI1LTEuNzYgMS44MzQtMS43NmgyLjkwNUw3LjI1IDIuNWg1LjV6TTEwIDguMTU1Yy0xLjg5OCAwLTMuNDM4IDEuNTItMy40MzggMy4zOTMgMCAxLjg3MiAxLjU0IDMuMzkyIDMuNDM4IDMuMzkyIDEuODk4IDAgMy40MzgtMS41MiAzLjQzOC0zLjM5MiAwLTEuODczLTEuNTQtMy4zOTMtMy40MzgtMy4zOTN6IiBmaWxsPSIjMkQyRDJEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) no-repeat 50%;
    cursor: pointer;
}
.photo-count{
    font-weight: 500;
    color: #888;
    font-size: 14px;
    line-height: 1.57142857;
    letter-spacing: -.3px;
}
.content{
    margin-bottom: 6.1875rem;
    display: flex;
    justify-content: center;
}
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.line{
    width: 100%;
    height: 2px;
    border: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.title{
    width: 100%;
}
.title-container{
    width: 60.625rem;
    margin: auto;
}
.title-label{
    width: 52%;
    padding: 1.25rem 0;
    margin: 0;
    display: inline-block;
}
.title-input{
    width: 100%;
    border: 0;
    padding: 0;
    --tw-text-opacity: 1;
    color: rgba(45,45,45,var(--tw-text-opacity));
    font-size: 14px;
    line-height: 1.57142857;
    letter-spacing: -.3px;
    font-weight: 500;
    overflow: visible;
    margin: 0;
    outline: 0;
}
.contents{
    width: 100%;
    min-height: 22.5rem;
    height: 100%;
    position: relative;
    margin: auto;
}
.contents-span1{
    --tw-text-opacity: 1;
    color: rgba(45,45,45,var(--tw-text-opacity));
    font-size: 14px;
    line-height: 1.57142857;
    letter-spacing: -.3px;
    font-weight: 400;
}

.contents-text{
    width: 100%;
    height: 100%;
    min-height: 20rem;
    resize: none;
    padding: 1.25rem 0;
    border: none;
    background-color: transparent;
    z-index: 10;
    overflow: auto;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
}
#plus_picture{
    position: fixed;
    top: 0;
    left: 0;
    right: 185px;
    display: -ms-flexbox;
    display: flex;
    width: 790px;
    height: 100%;
    margin: 0 auto;
    pointer-events: none;
}
#plus_picture_div{
    position: absolute;
    right: 38px;
    bottom: 123px;
    padding: 6px 10px;
    border: 0;
    border-radius: 4px;
    background-color: rgba(229, 104, 89, 0.83);
    color: #fefefe;
    font-size: 11px;
    font-weight: 700;
}
#plus_button{
    cursor: pointer;
    position: absolute;
    right: 38px;
    bottom: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
    background-color: #fff;
    -webkit-filter: drop-shadow(0 2px 10px rgba(0,0,0,.1));
    filter: drop-shadow(0 2px 10px rgba(0,0,0,.1));
    pointer-events: all;
    color: #333;
}
#picture_count{
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    color: inherit;
}

#plus_picture_div div {
    position: absolute;
    overflow: hidden;
    right: 15px;
    height: 14px;
}
#plus_picture_div div::after{
    content: "";
    width: 14px;
    height: 7px;
    border: 0;
    background-color: rgba(229, 104, 89, 0.83); 
    display: block;
    transform: rotate(-55deg) skewX(-20deg);
}
#em{
    font-style: normal;
    color: #36f;
}
#location{
    margin-bottom: 26px;
    height: 20px;
    width: 233px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #e1e2e3;
    outline: none;
}
#thumb-nail{
    position: relative;
    width: 500px;
    height: 500px;
    align-self: center;
}
#btn_x{
    text-align: center;
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #00000094;
}
.imageThumbnail{
    background-position: center;
    height: 72px;
    width: 72px;
    display: inline-flex;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.closeImgButton {
    position: absolute;
    top: 0.375rem;
    right: 0.375rem;
    width: 1.125rem;
    height: 1.125rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMDAwIiBvcGFjaXR5PSIuNSIgY3g9IjkiIGN5PSI5IiByPSI5Ii8+CiAgICAgICAgPGcgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41Ij4KICAgICAgICAgICAgPHBhdGggZD0iTTEyLjI1OSAxMi4xMzUgNS43NjggNS42NDRNNS43NjIgMTIuMTMzbDYuNDk3LTYuNDk3Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K) 0px 0px no-repeat;
}

/* 등록 버튼 모달창 */
.modal{
    transform: translate(-50%, -50%);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0px 2px 8px rgba(0,0,0,.08);
    --tw-shadow-colored: 0px 2px 8px var(--tw-shadow-color);
    padding: 32px;
    border-width: 1px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    -tw-translate-y: -50%;
    --tw-translate-x: -50%;
    min-width: 360px;
    display: flex;
    box-sizing: border-box;
    z-index: 50;
    left: 40%;
    top: 36%;
    position: fixed;
    border-color: #e6e6e7;
    background-color: #fff;
    display: none;
}
.modal-back{
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
}
.modal-title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1d1d1e;
    fill: #1d1d1e;
    margin: 0;
}
.modal-content{
    text-align: center;
    max-width: 276px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333334;
    fill: #333334;
    margin-top: 3%;
}
.modal-choce{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 24px;
}
.choce1{
    flex: 1 1 0%;
}
.choce2{
    flex: 1 1 0%;
    margin-left: 16px;
}
.choce1-btn{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #333334;
    fill: #333334;
    background-color: #f3f3f4;
}
.choce2-btn{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    fill: #fff;
    background-color: rgba(229, 104, 89, 0.83);
}
.choce1 :hover{
    background-color: #e6e6e7db;
}