body{
    height: 100%;
    margin: 0;
    line-height: inherit;
    display: block;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

div {
    display: block;
}

*{
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
.main{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.main-main{
    flex-direction: column;
    max-width: 720px;
    min-width: 320px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fff;
}
.main-title{
    margin-bottom: 18px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #1d1d1e;
    fill: #1d1d1e;
}
.user{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.user-info{
    white-space: nowrap;
    column-gap: 10px;
    align-items: center;
    display: flex;
}
.user-profile{
    width: 34px;
    height: 34px;
    background: url(https://steadio.imgix.net/profiles/079d1a28-343d-4f6a-8889-e9328964aafd/profileImage/24a11a11-b126-40b6-bccf-bca689207935.jpg?auto=format%2Ccompress&h=300&lossless=true&w=300) center center / cover no-repeat, rgb(255, 255, 255);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
    border-radius: 9999px;
    position: relative;
}
.user-name{
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #333334;
    fill: #333334;
    margin: 0;
}
.user-see{
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8a8a8b;
    fill: #8a8a8b;
}
.user-svg{
    width: 8px;
    height: 8px;
    margin-left: 2px;
    margin-right: 2px;
    color: #b9b9bb;
    fill: #b9b9bb;
    display: block;
}
.link{
    display: flex;
    gap: 12px
}
.link-container{
    align-items: center;
    display: flex;
    position: relative;
}
.link-btn{
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.link-svg{
    width: 24px;
    height: 24px;
    color: #8a8a8b;
    fill: #8a8a8b;
    display: block;
}
.review-contant{
    padding-top: 32px;
    border-top-width: 1px;
    margin-top: 24px;
    border-color: #f3f3f4;
}
.review-post{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    word-break: break-all;
    color: rgb(51, 51, 52);
    padding: 0px;
}
.img-wrapper{
    margin: 0 0 24px 0;
}
.review-user{
    padding-top: 32px;
    padding-bottom: 32px;
    border-top-width: 1px;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    position: relative;
    border-color: #f3f3f4;
}
button {
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.review-user-btn{
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
    border-width: 0.8px;
    border-radius: 9999px;
    overflow: hidden;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    position: relative;
    border-color: rgba(0,0,0,.1);
}
.review-user-btn-span{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
}
.review-user-btn-img{
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
}
.review-user-name{
    padding-left: 40px;
    padding-right: 40px;
    gap: 4px;
    flex-direction: column;
    display: flex;
}
.review-user-name-btn{
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}
.review-user-intro{
    text-align: center;
    word-break: break-all;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #8a8a8b;
    fill: #8a8a8b;
    margin: 0;
}
.review-line{
    border-top-width: 1px;
    border-color: #e6e6e7;
}
.comment{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333334;
    fill: #333334;
    margin: 0;
}
.comment-box{
    border-width: 1px;
    border-radius: 8px;
    border-color: #e6e6e7;
}
.comment-box-container{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.comment-box-wrapper{
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.comment-box-p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #b9b9bb;
    fill: #b9b9bb;
    margin: 0;
}
.comment-Nologin{
    flex-shrink: 0;
}
.comment-Nologin-btn{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    fill: #fff;
    background-color: rgba(229, 104, 89, 0.83);
}
.singUp:disabled{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    fill: #fff;
    background-color: #c5c5c5;
}
.singUp{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    fill: #fff;
    background-color: rgba(229, 104, 89, 0.83);
}
.singUp1{
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;
}
.singUp-btn{
    gap: 10px;
    justify-content: flex-end;
    display: flex;
    margin-bottom: 2%;
    margin-right: 3%;
}
.comment-box2{
    border-width: 1px;
    border-radius: 8px;
    border-color: #e6e6e7;
}
.comment-box-wrapper2{
    padding: 12px;
    gap: 16px;
    align-items: center;
    width: 100%;
    display: flex;
}
.comment-box-span{
    height: 53px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    width: 100%;
    max-height: 88px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;
    resize: none;
}
.comment-login{
    width: 32px;
    height: 32px;
}
.comment-login-profile{
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.profile-span{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
}
.profile-img{
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 9999px;

}
.comment-list{
    padding-bottom: 8px;
    padding-top: 15px;
    gap: 8px;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.NoComment{
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #333334;
    fill: #333334;
    margin: 0;
}
.NoComment2{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #8a8a8b;
    fill: #8a8a8b;
    margin: 0;
}
.border-line{
    border-top-width: 1px;
    border-color: #e6e6e7;
}
.another-review{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1d1d1e;
    fill: #1d1d1e;
    margin: 0;
}
.another-review-container{
    white-space: nowrap;
    display: flex;
}
.another-review-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.new-post-container{
    flex-direction: column;
    display: flex;
    margin-top: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.new-post{
    padding-top: 20px;
    border-width: 0;
    padding-bottom: 20px;
    border-color: #f3f3f4;
    border-bottom-width: 1px;
}
.new-post-btn{
    text-align: left;
    width: 100%;
    display: block;
}
.post-container{
    column-gap: 16px;
    display: flex;
}
.post-wrapper{
    word-break: break-all;
    width: 100%;
    height: 73px;
}
.post-title{
    overflow: hidden;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #333334;
    fill: #333334;
    margin: 0;
}
.post-contant{
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8a8a8b;
    fill: #8a8a8b;
    margin: 0;
    overflow: hidden;
    margin-top: 4px;
    margin-bottom: 18px
}

@media (min-width: 768px){
    .post-profile-container{
        width: 102px;
    }
}
@media (min-width: 768px){
    .post-profile-container{
        height: 102px;
    }
}

.post-profile-container{
    border-radius: 8px;
    flex-shrink: 0;
    position: relative;
}
.post-profile-span{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
}
.post-profile-img{
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
}
.post-user-container{
    align-items: center;
    display: flex;
    margin-top: 12px;
}
.post-user-profile{
    width: 18px;
    height: 18px;
    background: url(https://steadio.imgix.net/profiles/58b04467-0a9c-4aaf-8986-716a09f9afa9/profileImage/ef43fadb-b232-4b31-a48b-4af3071c6b01.jpeg?auto=format%2Ccompress&h=300&lossless=true&w=300) center center / cover no-repeat, rgb(255, 255, 255);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
    border-radius: 9999px;
    flex-shrink: 0;
    position: relative;
}
.post-user-info{
    column-gap: 2px;
    align-items: center;
    display: flex;
    margin-left: 6px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
.post-user-svg{
    width: 8px;
    height: 8px;
    color: #b9b9bb;
    fill: #b9b9bb;
    display: block;
}
.post-user-name{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
    max-width: 115px;
    color: #333334;
    fill: #333334;
}
.post-user-day{
    flex-shrink: 0;
    color: #8a8a8b;
    fill: #8a8a8b;
}
.post-user-see{
    flex-shrink: 0;
    color: #8a8a8b;
    fill: #8a8a8b;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.comment-ok-list{
    padding-top: 23px;
    border-bottom-width: 1px;
    padding-bottom: 23px;
    gap: 10px;
    display: flex;
    border-color: #f3f3f4;
}
.comment-profile{
    flex-shrink: 0;
    width: 32px;
    height: 32px;
}
.comment-profile-container{
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.comment-profile-span{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
}
.comment-profile-img{
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 9999px;
}
.comment-user{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.comment-user-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #1d1d1e;
    fill: #1d1d1e;
}
.comment-contant{
    word-break: break-all;
    white-space: pre-wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333334;
    fill: #333334;
    margin: 0;
}
.comment-day{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8a8a8b;
    fill: #8a8a8b;
}
.x-btn-svg{
    width: 20px;
    height: 20px;
    color: #cccccd;
    fill: #cccccd;
    display: block;
}
.comment-box-span:focus {
    border-color: #742ddd;
}
.more{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3%;
}
.more-btn{
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;
}
.more-svg{
    height: 16px;
    margin-left: 4px;
    color: #5b44ea;
    fill: #5b44ea;
    display: block;
}
.footer{
    z-index: 2;
    bottom: 0;
    position: sticky;
}
.footer-container{
    --tw-shadow: 0px -2px 20px rgba(0,0,0,.08);
    --tw-shadow-colored: 0px -2px 20px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    padding: 16px;
    border-top-width: 1px;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    background-color: #fff;
}
.footer-wrapper{
    justify-content: space-between;
    width: 720px;
    display: flex;
}
.footer-btn{
    align-items: center;
    display: flex;
    margin-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8a8a8b;
    fill: #8a8a8b;
}
.footer-svg{
    width: 24px;
    height: 24px;
    color: #b9b9bb;
    fill: #b9b9bb;
    display: block;
}
.comment-btn{
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;
}
.comment-text{
    gap: 4px;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
.comment-svg{
    width: 16px;
    height: 16px;
    color: #5b44ea;
    fill: #5b44ea;
    display: block;
}
.more :hover{
    background-color: #f3f3f4;
}
#comment-btn :hover{
    background-color: #f3f3f4;
}

/* 댓글 삭제 모달창 */
.modal{
    transform: translate(-50%, -50%);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0px 2px 8px rgba(0,0,0,.08);
    --tw-shadow-colored: 0px 2px 8px var(--tw-shadow-color);
    padding: 32px;
    border-width: 1px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    -tw-translate-y: -50%;
    --tw-translate-x: -50%;
    min-width: 360px;
    display: flex;
    box-sizing: border-box;
    z-index: 50;
    left: 50%;
    position: fixed;
    border-color: #e6e6e7;
    background-color: #fff;
}
.modal-back{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
}
.modal-title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1d1d1e;
    fill: #1d1d1e;
    margin: 0;
}
.modal-content{
    text-align: center;
    max-width: 276px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333334;
    fill: #333334;
    margin-top: 3%;
}
.modal-choce{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 24px;
}
.choce1{
    flex: 1 1 0%;
}
.choce2{
    flex: 1 1 0%;
    margin-left: 16px;
}
.choce1-btn{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #333334;
    fill: #333334;
    background-color: #f3f3f4;
}
.choce2-btn{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    fill: #fff;
    background-color: #1d1d1e;
}
.choce1 :hover{
    background-color: #e6e6e7db;
}