body{
    font-family: Pretendard Variable,Pretendard JP Variable,-apple-system,system-ui,
    BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,
    Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}
#header{
    position: fixed;
    top: 50px;
    z-index: 10;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: 1px solid #e1e2e3;
}
#header_div{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px 0;
}
#header_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 40px;
    margin-left: auto;
    position: relative;
}
#regist_btn{
    cursor: pointer;
    font-weight: 700;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 25px;
    justify-content: center;
    vertical-align: middle;
    min-width: 64px;
    padding: 0 27px;
    align-items: center;
    display: inline-flex;
    position: relative;
    border: none;
    font-size: 15px;
    width: 100%;
    height: 100%;
    background-color: #f2f4f7;
    color: #c4c4c4;
    position: absolute;
    top: -9px;
}
#btn_span{
    width: 100%;
    cursor: pointer;
}
#wrap{
    position: relative;
    width: 100%;
    padding-top: 60px;
    background: #f8f8f8;
}
#wrap_div{
    flex-direction: column;
    min-height: calc(100vh - 110px);
    padding: 39px 40px;
    border: 1px solid #e1e2e3;
    border-top: 0;
    background-color: #fff;
    display: flex;
    max-width: 708px;
    margin: 0 auto;
    margin-top: 52px;
}
#title{
    display: flex;
    width: 100%;
    padding-bottom: 21px;
    border-bottom: 2px solid #e1e2e3;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}
#title_textarea{
    height: 38px;
    width: 100%;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: #333;
    outline: 0;
    resize: none;
    overflow: hidden;
}
#content{
    width: 100%;
    padding-top: 28px;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}
#content_textarea{
    height: 28px;
    width: 100%;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: #333;
    outline: 0;
    resize: none;
    overflow: hidden;
}
#plus_picture{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    width: 790px;
    height: 100%;
    margin: 0 auto;
    pointer-events: none;
}
#plus_picture_div{
    position: absolute;
    right: 38px;
    bottom: 123px;
    padding: 6px 10px;
    border: 0;
    border-radius: 4px;
    background-color: #36f;
    color: #fefefe;
    font-size: 11px;
    font-weight: 700;
}
#plus_button{
    position: absolute;
    right: 38px;
    bottom: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
    background-color: #fff;
    -webkit-filter: drop-shadow(0 2px 10px rgba(0,0,0,.1));
    filter: drop-shadow(0 2px 10px rgba(0,0,0,.1));
    pointer-events: all;
    color: #333;
}
#picture_count{
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    color: inherit;
}

#plus_picture_div div {
    position: absolute;
    overflow: hidden;
    right: 15px;
    height: 14px;
}



#plus_picture_div div::after{
    content: "";
    width: 14px;
    height: 7px;
    border: 0;
    background-color: #36f;
    display: block;
    transform: rotate(-55deg) skewX(-20deg);
}
#em{
    font-style: normal;
    color: #36f;
}
#location{
    margin-bottom: 26px;
    height: 20px;
    width: 233px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #e1e2e3;
    outline: none;
}
#thumb-nail{
    position: relative;
    width: 500px;
    height: 500px;
    align-self: center;
}
#btn_x{
    text-align: center;
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #00000094;
}
.file-name{
    width: 100%;
    height: 100%;
    background-size: 100% !important;
    background: no-repeat;
}
.imageThumbnail{
    background-position: center;
    height: 200px;
    width: 200px;
    display: inline-flex;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }

.closeImgButton {
position: absolute;
top: 0.375rem;
right: 0.375rem;
width: 1.125rem;
height: 1.125rem;
background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMDAwIiBvcGFjaXR5PSIuNSIgY3g9IjkiIGN5PSI5IiByPSI5Ii8+CiAgICAgICAgPGcgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41Ij4KICAgICAgICAgICAgPHBhdGggZD0iTTEyLjI1OSAxMi4xMzUgNS43NjggNS42NDRNNS43NjIgMTIuMTMzbDYuNDk3LTYuNDk3Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K) 0px 0px no-repeat;
}
.profile-image {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
.profile-member-status-box {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFCD4A;
}
.profile-image-login {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #FFCD4A;
}

.profile-image-login img {
    width: 100%;
    height: 100%;
}
.profile-member-status {
    padding: 4px 6px 5px;
}
.content-member-image-size {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #FFCD4A;
}

.content-member-image-size img {
    width: 100%;
    height: 100%;
    clip-path: circle(50% at 50% 50%);
}

.content-member-status {
    padding: 4px 6px 5px;
}

.content-member-status span {
    font-size: 17px;
    font-weight: 500;
    color: #fff;    
}