.benner-container{
    background-color: #fff;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    z-index: 2;
}
.board-benner{
    padding: 0;
    border-bottom: none;
}
.benner-cover{
    height: 140px;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}
.benner-content{
    position: relative;
    margin-top: -47px;
    width: 100%;
}
.main-container{
    padding: 24px 0 3rem;
    margin: 24%;
    margin-top: 1%;
    margin-bottom: 3%;
}
.row{
    padding: 3rem 0 0;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    width: 100%!important;
}
.row-container{
    padding: 24px;
    background: #fff;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    box-shadow: none;
    margin: 1rem 0;
    border-radius: 0.28571429rem;
    border: 1px solid #d9dfeb;
}
.row-text{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}
.service-info{
    padding: 3rem 0 0;
    display: block;
    width: 100%!important;
}
.service-header{
    margin-top: -0.14285714em;
    margin-bottom: 0;
    display: inline-block;
}
.service-header-text{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: #28323c;
}
.service-items{
    margin: 1.5em 0;
    font-size: 1rem;
    position: relative;
    background: #fff;
    box-shadow: none;
    padding: 16px;
    border-radius: 0.28571429rem;
    border: 1px solid #d9dfeb;
}
.service-items-wrapper{
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    margin: 1em 0;
    width: 100%;
    min-height: 0;
    background: 0 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: box-shadow .1s ease;
}
.service-items-content{
    min-width: 0;
    word-break: keep-all;
    display: block;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    background: 0 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-size: 1em;
    border: none;
    border-radius: 0;
}
.name{
    font-size: 10px;
    margin-bottom: 4px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.title{
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    display: inline-block;
    font-weight: 400;
    color: #28323c;
}
.dates{
    color: #6e7980;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.dates-text{
    font-size: 1em;
    opacity: 1;
    margin: 0 9px 0 0;
    width: 1.18em;
    height: 1em;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    speak: none;
}
.service-dates{
    color: #6e7980;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.items-buttons{
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-left: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.gather{
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.gather-button{
    background: #fff!important;
    color: #28323c!important;
    font-weight: 400;
    border-radius: 0.28571429rem;
    text-transform: none;
    text-shadow: none!important;
    box-shadow: inset 0 0 0 1px #bbc5d8;
    font-size: .92857143rem;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    padding: 0.92857143em 1.5em;
    line-height: 1em;
    font-style: normal;
    text-align: center;
}
.button{
    cursor: pointer;
    background-color: #4e61ff;
    color: #fff;
    text-shadow: none;
    background-image: none;
    font-size: .92857143rem;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    margin: 0 0.25em 0 0;
    padding: 0.92857143em 1.5em;
    text-transform: none;
    font-weight: 400;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    border-radius: 0.28571429rem;
}
.service-help{
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
}