<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>봉사 상세보기</title>
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/main/header.css">
    <link rel="stylesheet" href="/static/css/volunteer-work/work-detail.css">
</head>
<body>
    
     <!-- 헤더 임시 -->
     <header id="_header"></header>

        <!-- contents -->
            <div>
                <div class="content-container">
                    <div class="content-layout">
                        <div class="work-detail-info-container">
                        <!-- 지원하기 버튼 -->
                        <div class="work-detail-info-top-btn-layout">
                            <button type="button" class="apply-btn" id="" title="신청하기">
                                <span>신청하기</span>
                            </button>
                        </div>
                            <h3 class="work-detail-info-title">
                                
                                사전연명의료의향서 상담 및 작성 업무 [오후]
                                <!-- <input type="hidden" id="" value="사전연명의료의향서 상담 및 작성 업무 [오후]"> -->
                                <em class="em">(모집중)</em>
                            </h3>
                            
                            <div class="detail-info-data-wrap">
                                <div class="group">
                                    <dl>
                                        <dt>봉사기간</dt>
                                        <dd>2023.05.25 ~ 2023.05.29</dd>
                                    </dl>
                                    <dl>
                                        <dt>봉사시간</dt>
                                        <dd>12시 30분 ~ 16시 0분</dd>
                                    </dl>
                                </div>
                                <div class="group">
                                    <dl>
                                        <dt>모집기간</dt>
                                        <dd>2023.04.18 ~ 2023.04.27</dd>
                                    </dl>
                                    <dl>
                                        <dt>활동요일</dt>
                                        <dd>월,목</dd>
                                    </dl>
                                </div>
                                <div class="group">
                                    <dl>
                                        <dt>모집인원</dt>
                                        <dd>1 명 / 일</dd>
                                    </dl>
                                    <dl>
                                        <dt>신청인원</dt>
                                        <dd>1 명</dd>
                                    </dl>
                                </div>
                                <div class="group">
                                    <dl>
                                        <dt>봉사분야</dt>
                                        <dd>보건의료 &gt; 기타</dd>
                                    </dl>
                                    <dl>
                                        <dt>봉사자유형</dt>
                                        <dd>
                                            성인&nbsp;
                                            
                                        </dd>
                                    </dl>
                                </div>
                                <div class="group">
                                <dl>
                                    <dt>모집기관</dt>
                                    <dd>
                                        
                                        <span class="text-l">심봉사</span>
                                       <!--  <a href="/vols/P9140/srvcinfo/volsDnttInfo.do?type=show&amp;nanmmbyId=7401022" target="_blank" title="새창열림" class="btn btn_gray">상세정보</a> -->
                                        
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>등록기관</dt>
                                    <dd>서울특별시 송파구</dd>
                                </dl>
                            </div>
                            <div class="group">
                                <dl>
                                    <dt>봉사장소</dt>
                                    <dd>서울아산병원</dd>
                                </dl>
                                <dl>
                                    <dt>봉사대상</dt>
                                    <dd>기타</dd>
                                </dl>
                            </div>
                            <div class="group">
                                <dl class="">
                                    <dt>활동구분</dt>
                                    <dd>
                                        오프라인
                                    </dd>
                                </dl>
                            </div>
                            
                        </div>
                        <div class="detail-info-board-wrap">
                            <div class="detail-info-board-text">
                                
                                <pre>서울아산병원 암통합진료센터에서 사전연명의료의향서 상담 및 작성업무 자원봉사자를 모집합니다.
                                    
                                    1. 봉사기간 및 시간 (월, 목 中 1일 오후 상시, 종료기한 없음)
                                    ㅇ 12시반~16시(오후) 
                                    
                                    2. 봉사내용
                                    ㅇ 사전연명의료의향서 상담 예약 업무
                                    ㅇ 사전연명의료의향서 상담 및 작성 업무( 종이서식/태블릿 PC로 작성)
                                    
                                    3. 자격요건  
                                    ㅇ 30세 이상 70세 이하 신체적, 정신적으로 건강한 성인
                                    ㅇ 주 1회 정해진 요일에  3시간 이상 최소 6개월 이상 봉사 가능하신 분
                                    ㅇ 사전연명의료의향서에 대한 상담 업무의 원할한 수행이 가능하신 분
                                    ㅇ 연명의료결정제도의 목적과 의미를 이해하고 제반규정 준수가 가능하신 분
                                    ㅇ 활동 전 5월에 국립연명의료기관 필수 온라인 교육 2회 포함하여 4회 이수 가능하신 분
                                    (온라인 : 5/9, 자율 ,  원내 대면 : 5/17, 24일)
                                    ㅇ 서울아산병원의 자원봉사자  규정 준수가 가능하신 분
                                    
                                    4. 봉사장소 : 서울아산병원 서관 1층 암통합진료센터 내 연명의료상담실
                                    
                                    5. 기타사항
                                    ㅇ 봉사 확정은 실무 담당자  확인 후 결정됩니다.
                                    ㅇ 원내 주차공간이 매우 협소하여 대중교통을 이용하여 주시기 바랍니다.
                                    ㅇ 문의사항 : 암통합 진료센터 사회복지사(02-3010-2657)
                                    ※ 모집 마감 후 담당자가 개별 연락드려 확정되오니 이해 부탁드립니다.
                                </pre>
                            </div>
                                
                                
                                <!--   <input type="hidden" name="lalo1" id="lalo1" value="">
                                    <input type="hidden" name="lalo2" id="lalo2" value="">
                                    <input type="hidden" name="lalo3" id="lalo3" value=""> -->
                                    
                                    
                                
                                     <div class="company-info-map">
                                        [수요처 지도]
                                        <a href="javascript:;" id="skipBtn" style="float: right;">지도 건너뛰기</a>
                                        
                                        
                                        <div id="map" style="position: relative; overflow: hidden; background: url(&quot;https://t1.daumcdn.net/mapjsapi/images/bg_tile.png&quot;);">
                                            <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; touch-action: none; cursor: url(&quot;https://t1.daumcdn.net/mapjsapi/images/cursor/openhand.cur.ico&quot;) 7 5, url(&quot;https://t1.daumcdn.net/mapjsapi/images/cursor/openhand.cur.ico&quot;), default;">
                                            <div style="position: absolute;">
                                            <div style="position: absolute; z-index: 1; left: 0px; top: 0px;">
                                            <img src="https://map0.daumcdn.net/map_2d/2303ksn/L1/7923/3744.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -166px; top: 446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map1.daumcdn.net/map_2d/2303ksn/L1/7923/3745.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 90px; top: 446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map2.daumcdn.net/map_2d/2303ksn/L1/7923/3746.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 346px; top: 446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map3.daumcdn.net/map_2d/2303ksn/L1/7923/3747.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 602px; top: 446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map0.daumcdn.net/map_2d/2303ksn/L1/7923/3748.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 858px; top: 446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map0.daumcdn.net/map_2d/2303ksn/L1/7924/3744.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -166px; top: 190px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map1.daumcdn.net/map_2d/2303ksn/L1/7924/3745.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 90px; top: 190px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map2.daumcdn.net/map_2d/2303ksn/L1/7924/3746.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 346px; top: 190px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map3.daumcdn.net/map_2d/2303ksn/L1/7924/3747.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 602px; top: 190px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map0.daumcdn.net/map_2d/2303ksn/L1/7924/3748.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 858px; top: 190px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map0.daumcdn.net/map_2d/2303ksn/L1/7925/3744.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -166px; top: -66px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map1.daumcdn.net/map_2d/2303ksn/L1/7925/3745.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 90px; top: -66px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map2.daumcdn.net/map_2d/2303ksn/L1/7925/3746.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 346px; top: -66px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map3.daumcdn.net/map_2d/2303ksn/L1/7925/3747.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 602px; top: -66px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                            <img src="https://map0.daumcdn.net/map_2d/2303ksn/L1/7925/3748.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 858px; top: -66px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                        </div>
                                            <div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
                                                <img src="https://map2.daumcdn.net/map_2d/2303ksn/L3/1980/934.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -2214px; top: 446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map3.daumcdn.net/map_2d/2303ksn/L3/1980/935.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -1190px; top: 446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map0.daumcdn.net/map_2d/2303ksn/L3/1980/936.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -166px; top: 446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map1.daumcdn.net/map_2d/2303ksn/L3/1980/937.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 858px; top: 446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map2.daumcdn.net/map_2d/2303ksn/L3/1980/938.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 1882px; top: 446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map2.daumcdn.net/map_2d/2303ksn/L3/1981/934.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -2214px; top: -578px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map3.daumcdn.net/map_2d/2303ksn/L3/1981/935.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -1190px; top: -578px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map0.daumcdn.net/map_2d/2303ksn/L3/1981/936.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -166px; top: -578px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map1.daumcdn.net/map_2d/2303ksn/L3/1981/937.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 858px; top: -578px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map2.daumcdn.net/map_2d/2303ksn/L3/1981/938.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 1882px; top: -578px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map2.daumcdn.net/map_2d/2303ksn/L3/1982/934.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -2214px; top: -1602px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map3.daumcdn.net/map_2d/2303ksn/L3/1982/935.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -1190px; top: -1602px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map0.daumcdn.net/map_2d/2303ksn/L3/1982/936.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -166px; top: -1602px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map1.daumcdn.net/map_2d/2303ksn/L3/1982/937.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 858px; top: -1602px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;">
                                                <img src="https://map2.daumcdn.net/map_2d/2303ksn/L3/1982/938.png" alt="" role="presentation" draggable="false" style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 1882px; top: -1602px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 1024px; height: 1024px;"></div><div style="position: absolute; z-index: 1;">
                                                </div>
                                                <div style="width: 845px; height: 450px; position: absolute; z-index: 1;">
                                                </div>
                                                <div style="position: absolute; z-index: 1;">
                                                    <svg version="1.1" style="stroke: none; stroke-dashoffset: 0.5; stroke-linejoin: round; fill: none; transform: translateZ(0px); position: absolute; left: -1690px; top: -900px; width: 4225px; height: 2250px;" viewBox="0 0 4225 2250">
                                                        <defs></defs>
                                                    </svg>
                                                </div>
                                                <div style="position: absolute; z-index: 1; width: 100%; height: 0px; transform: translateZ(0px);">
                                                    <div style="position: absolute; margin: -39px 0px 0px -14px; z-index: 0; left: 94px; top: -217px; display: none;">
                                                        <img draggable="false" src="https://t1.daumcdn.net/mapjsapi/images/marker.png" alt="" role="presentation" title="" style="min-width: 0px; min-height: 0px; max-width: 99999px; max-height: none; border: 0px; display: block; position: absolute; user-select: none; -webkit-user-drag: none; clip: rect(0px, 29px, 42px, 0px); top: 0px; left: 0px; width: 29px; height: 42px;">
                                                        <img src="https://t1.daumcdn.net/mapjsapi/images/transparent.gif" alt="" role="presentation" draggable="false" usemap="#daum.maps.Marker.Area:1" style="min-width: 0px; min-height: 0px; max-width: 99999px; max-height: none; border: 0px; display: block; position: absolute; user-select: none; -webkit-user-drag: none; width: 29px; height: 42px;">
                                                        <map id="daum.maps.Marker.Area:1" name="daum.maps.Marker.Area:1">
                                                            <area href="javascript:void(0)" alt="" role="presentation" shape="poly" coords="14,39,9,27,4,21,1,16,1,10,4,4,11,0,18,0,25,4,28,10,28,16,25,21,20,27" title="" style="-webkit-tap-highlight-color: transparent;">
                                                        </map>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="position: absolute; cursor: default; z-index: 1; margin: 0px 6px; height: 19px; line-height: 14px; left: 0px; bottom: 0px; color: rgb(0, 0, 0);">
                                                <div style="color: rgb(0, 0, 0); text-align: center; font-size: 10px; float: left;">
                                                    <div style="float: left; margin: 2px 3px 0px 4px; height: 6px; transition: width 0.1s ease 0s; border-top: none rgb(0, 0, 0); border-right: 2px solid rgb(0, 0, 0); border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-image: initial; width: 76px;">
                                                    </div>
                                                    <div style="float: left; margin: 0px 4px 0px 0px; font-family: AppleSDGothicNeo-Regular, 돋움, dotum, sans-serif; font-weight: bold; color: rgb(0, 0, 0);">20m</div>
                                                </div>
                                                <div style="margin: 0px 4px; float: left;">
                                                    <a target="_blank" href="http://map.kakao.com/" title="Kakao 지도로 보시려면 클릭하세요." style="float: left; width: 32px; height: 10px;">
                                                        <img src="https://t1.daumcdn.net/mapjsapi/images/m_bi_b.png" alt="Kakao 지도로 이동" style="float: left; width: 32px; height: 10px; border: none;"></a>
                                                        <div style="font: 11px / 11px Arial, Tahoma, Dotum, sans-serif; float: left;">
                                            
                                            </div>
                                        </div>
                                        </div>
                                        <div style="cursor: auto; position: absolute; z-index: 2; left: 0px; top: 0px;">
                                        </div>
                                    </div>
                                        <!-- <script type="text/javascript">
                                            //중심좌표는 다시 한 번 확인해서 잡아줄것
                                            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                            mapOption = {
                                                center: new kakao.maps.LatLng(37.525158, 127.10952), // 지도의 중심좌표
                                                level: 3 // 지도의 확대 레벨
                                                //level: 100 // 지도의 확대 레벨
                                            };
                                            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
                                            //카카오 지도 마커 정보를 위한 배열 객체 생성
                                            var markerArray = new Array();
                                            var actSe = '2';
                                            var actOnline = '2';
                                            var mapObj = new Object();
                                            
                                            mapObj.title = '서울특별시 송파구';
                                            mapObj.la = '37.525158';
                                            mapObj.lo = '127.10952';
                                            mapObj.latlng = new kakao.maps.LatLng(mapObj.la, mapObj.lo);
                                            mapObj.actSe = '2';
                                            
                                            var progrmSj =  '사전연명의료의향서 상담 및 작성 업무 [오후]';
                                            mapObj.progrmSj =  progrmSj;
                                            mapObj.confmCnterNm = '서울아산병원사회복지팀';
                                            mapObj.mngrAdres = '서울특별시 송파구 올림픽로43길 88 서울아산병원';	//주소
                                            mapObj.no = '2969581';
                                            mapObj.mngrTelno = '02-3010-4066';	//전화번호
                                            mapObj.mngrFax = '02-2045-4036';//팩스
                                            markerArray.push(mapObj);
                                            
                                            var positions = markerArray;
                                            // 마커 이미지의 이미지 주소입니다
                                            var imageSrc = "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
                                            
                                            var bounds = new kakao.maps.LatLngBounds();
                                            
                                            
                                            for (var i = 0; i < positions.length; i ++) {
                                                displayMarker(positions[i]);
                                                //bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                                            }
                                            
                                            function displayMarker(place) {
                                                
                                                // 마커를 생성하고 지도에 표시합니다
                                                var marker = new kakao.maps.Marker({
                                                    map: map,
                                                    position: place.latlng
                                                });
                                                var overlay = new kakao.maps.CustomOverlay({
                                                    yAnchor: 3,
                                                    position: marker.getPosition()
                                                });
                                                
                                                var overlayTag = '';
                                                var overlayTit = '';
                                                var addHtml = "";			//for문이 돌때마다 초기화 처리
                                                
                                                if(place.actSe == '2'){
                                                    overlayTag = "tag1";
                                                    overlayTit = "시간인증";
                                                }else{
                                                    overlayTag = "tag2";
                                                    overlayTit = "활동인증";
                                                } 
                                                
                                                var divWrap = document.createElement('div');
                                                //  divWrap.innerHTML =  place.title;
                                                //content.style.cssText = 'background: white; border: 1px solid black';
                                            divWrap.className = 'wrap '+overlayTag;
                                            
                                            var divInfo = document.createElement('div');
                                            divInfo.className = 'info';
                                            divWrap.appendChild(divInfo);
                                            
                                            var divTitle = document.createElement('div');
                                            divTitle.className = 'title';
                                            //divTitle.innerHTML = place.confmCnterNm;
                                            divInfo.appendChild(divTitle);           	    
                                            
                                            var cnterNm = document.createElement('span');
                                            cnterNm.className = 'tit';
                                            cnterNm.innerHTML = place.confmCnterNm;
                                            divTitle.appendChild(cnterNm);
                                            
                                            var divClose = document.createElement('div');
                                            divClose.className = 'close';
                                            divClose.title = '닫기';
                                            divClose.onclick = function () {
                                                overlay.setMap(null);
                                            };
                                            divTitle.appendChild(divClose);
                                            
                                            var divBody = document.createElement('div');
                                            divBody.className = 'body';
                                            divInfo.appendChild(divBody);
                                            
                                            var divDesc = document.createElement('div');
                                            divDesc.className = 'desc';
                                            divBody.appendChild(divDesc);
                                            
                                            var ul0 = document.createElement('ul');
                                            divDesc.appendChild(ul0);
                                            
                                            var li1 = document.createElement('li');
                                            //li1.innerHTML = place.srvcClUpNm + ' > ' + place.srvcClNm;
                                            ul0.appendChild(li1);
                                            
                                            var em1 = document.createElement('em');
                                            em1.innerHTML = '전화번호 : ';
                                            li1.appendChild(em1);
                                            
                                            var dd1 = document.createElement('span');
                                            dd1.innerHTML = place.mngrTelno;
                                            li1.appendChild(dd1);
                                            
                                            var li2 = document.createElement('li');
                                            //li2.innerHTML = place.parseNoticeBgnde + ' ~ ' + place.parseNoticeEndde;
                                            ul0.appendChild(li2);
                                            
                                            var em2 = document.createElement('em');
                                            em2.innerHTML = 'FAX : ';
                                            li2.appendChild(em2);
                                            
                                            var dd2 = document.createElement('span');
                                            dd2.innerHTML = place.mngrFax;
                                            li2.appendChild(dd2);
                                            
                                            var li3 = document.createElement('li');
                                            //li3.innerHTML = place.parseProgrmBgnde + ' ~ ' + place.parseProgrmEndde;
                                            ul0.appendChild(li3);
                                            
                                            var em3 = document.createElement('em');
                                            em3.innerHTML = '주소: ';
                                            li3.appendChild(em3);
                                            
                                            var dd3 = document.createElement('span');
                                            dd3.innerHTML = place.mngrAdres;
                                            li3.appendChild(dd3);
                                            
                                            /* var aLink = document.createElement('a');
                                            aLink.innerHTML = '상세보기';
                                            aLink.className = 'link';
                                            aLink.onclick=function(){
                                                show(place.no);
                                                return false;
                                            };
                                            aLink.target='_blank';
                                            divLink.appendChild(aLink); */
                                            
                                            overlay.setContent(divWrap);
                                            
                                            
                                            kakao.maps.event.addListener(marker, 'click', function() {
                                                overlay.setMap(map);
                                            });
                                            
                                        } 
                                        
                                        /* //좌표로 지도 이동
                                        function setCenter(la,lo){
                                            var moveLatLon = new kakao.maps.LatLng(la,lo);
                                            map.setCenter(moveLatLon);
                                        }
                                    //좌표로 지도 이동2
                                    //지도 중심을 부드럽게 이동
                                    //만약 이동할 거리가 지도 화면보다 크면 부드러운 효과없이 이동함
                                    function panTo(la,lo){
                                        var moveLatLon = new kakao.maps.LatLng(la,lo);
                                        map.panTo(moveLatLon);
                                    } */
                                </script> -->
                                
                            </div>
                            
                            
                            <div class="company-data">
                                        <dl class="name">
                                            <dt>담당자명 :</dt>
                                            <dd>최현희</dd>
                                        </dl>
                                        <dl class="tel">
                                            <dt>전화번호 :</dt>
                                            <dd>02-3010-4066</dd>
                                        </dl>
                                        <dl class="fax">
                                            <dt>FAX :</dt>
                                            <dd>02-2045-4036</dd>
                                        </dl>
                                        <dl class="addr">
                                            <dt>주소 :</dt>
                                            <dd id="dataAdres">서울특별시 송파구 올림픽로43길 88 서울아산병원</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            
                            
                    </div>
                </div>
            </div>
                
            <!-- 푸터 임시 -->
                <footer id="_footer"></footer>
            </body>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#_header').load('../main/header.html');
                    $('#_footer').load('../main/footer.html');
                });
            </script>
            
</html>