<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>심봉사 | 봉사 목록</title>
    <link rel="stylesheet" href="../../static/css/community/service-board.css">
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/main/header.css">
    <link rel="stylesheet" href="../../static/css/main/footer.css">
    <link rel="shortcut icon" href="/image/pavicon.png">
</head>
<body>
      <!-- 헤더 임시 -->
    <div class="full-screen">
     <header id="_header"></header>
    </div>
    <!-- 전체 div -->
    <div class="main">
        <!-- 배너 -->
        <div class="board-benner">
            <div class="benner-cover"></div>
        </div>
        <!-- 중간 메인 -->
        <div>
            <div class="main-container">
                <section class="row">
                    <div class="row-container">
                        <h1 class="row-text">심봉사와 함께 봉사할 심청을 찾습니다.</h1>
                    </div>
                </section>
                <section class="service-info">
                    <h4 class="service-header">
                        <a href="#">진행 중인 봉사 정보</a>
                    </h4>
                    <!--  -->
                    <div style="display: flex; margin-bottom: 10px;">
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">심봉사(SimBongSa)</div>
                                    <div class="title">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                    </div>
                                    <div class="dates">
                                        <span class="dates-text">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                </div>
                                <div class="items-buttons">
                                    <span class="cruit">모집중</span>
                                    <a class="button">지원 ></a>
                                </div>
                            </div>
                        </div>
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">심봉사(SimBongSa)</div>
                                    <div class="title">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                    </div>
                                    <div class="dates">
                                        <span class="dates-text">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                </div>
                                <div class="items-buttons">
                                    <span class="cruit">모집중</span>
                                    <a class="button">지원 ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div style="display: flex; margin-bottom: 10px;">
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">심봉사(SimBongSa)</div>
                                    <div class="title">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                    </div>
                                    <div class="dates">
                                        <span class="dates-text">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                </div>
                                <div class="items-buttons">
                                    <span class="cruit">모집중</span>
                                    <a class="button">지원 ></a>
                                </div>
                            </div>
                        </div>
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">심봉사(SimBongSa)</div>
                                    <div class="title">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                    </div>
                                    <div class="dates">
                                        <span class="dates-text">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                </div>
                                <div class="items-buttons">
                                    <span class="cruit">모집중</span>
                                    <a class="button">지원 ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div style="display: flex; margin-bottom: 10px;">
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">심봉사(SimBongSa)</div>
                                    <div class="title">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                    </div>
                                    <div class="dates">
                                        <span class="dates-text">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                </div>
                                <div class="items-buttons">
                                    <span class="cruit">모집중</span>
                                    <a class="button">지원 ></a>
                                </div>
                            </div>
                        </div>
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">심봉사(SimBongSa)</div>
                                    <div class="title">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                    </div>
                                    <div class="dates">
                                        <span class="dates-text">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                </div>
                                <div class="items-buttons">
                                    <span class="cruit">모집중</span>
                                    <a class="button">지원 ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div style="display: flex; margin-bottom: 10px;">
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">심봉사(SimBongSa)</div>
                                    <div class="title">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                    </div>
                                    <div class="dates">
                                        <span class="dates-text">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                </div>
                                <div class="items-buttons">
                                    <span class="cruit">모집중</span>
                                    <a class="button">지원 ></a>
                                </div>
                            </div>
                        </div>
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">심봉사(SimBongSa)</div>
                                    <div class="title">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                    </div>
                                    <div class="dates">
                                        <span class="dates-text">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                </div>
                                <div class="items-buttons">
                                    <span class="cruit">모집중</span>
                                    <a class="button">지원 ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div style="display: flex; margin-bottom: 10px;">
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">심봉사(SimBongSa)</div>
                                    <div class="title">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                    </div>
                                    <div class="dates">
                                        <span class="dates-text">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                </div>
                                <div class="items-buttons">
                                    <span class="cruit">모집중</span>
                                    <a class="button">지원 ></a>
                                </div>
                            </div>
                        </div>
                        <div class="service-items">
                            <div class="service-items-wrapper">
                                <div class="service-items-content">
                                    <div class="name">심봉사(SimBongSa)</div>
                                    <div class="title">서울시 환경정화 봉사자 모집</div>
                                    <div class="dates">
                                        <span class="dates-text">[모집기간] 2023-04-19 ~ 2023-04-30</span>
                                    </div>
                                    <div class="dates">
                                        <span class="dates-text">[봉사기간] 2023-05-01 ~ 2023-05-30</span>
                                    </div>
                                </div>
                                <div class="items-buttons">
                                    <span class="cruit">모집중</span>
                                    <a class="button">지원 ></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!--  -->
                </section>
            </div>
            <div>
                <div class="paging" style="text-align: center">
                  <a class="changePage" style="color: black"><code>&lt;</code></a>
                  <code id="currentPage" class="currentPage">1</code>
                    <a class="changePage" style="color: black" }"=""><code>2</code></a>
                  <a class="changePage" style="color: black"><code>&gt;</code></a>
                </div>
                <form name="pageForm">
                  <input type="hidden">
                  <input type="hidden">
                </form>
            </div>
            <div class="service-help">
                <p>마지막 정보 수정 : 2023-04-19</p>
                <p style="line-height: 1.5em;">심봉사 관리자의 도움이 필요할 땐 여기서 문의해주세요</p>
            </div>
        </div>
    </div>
         
    <!-- 푸터 임시 -->
    <div class="full-screen">
        <footer id="_footer"></footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#_header').load('../main/header.html');
        $('#_footer').load('../main/footer.html');
    });
</script>
</html>